CONFIG_8250
CONFIG_AIO
CONFIG_ALLOW_DEV_COREDUMP
CONFIG_ANON_INODES
CONFIG_ARCH_BCM2835
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX
CONFIG_ARCH_HAS_TICK_BROADCAST
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW
CONFIG_ARCH_SUPPORTS_UPROBES
CONFIG_ARM64
CONFIG_ARM_AMBA
CONFIG_ARM_ARCH_TIMER
CONFIG_ARM_BCM2835_CPUFREQ
CONFIG_ARM_CPUIDLE
CONFIG_ARM_PMU
CONFIG_ARM_PSCI_FW
CONFIG_ASSOCIATIVE_ARRAY
CONFIG_AUTH_RPCGSS
CONFIG_AUTOFS4
CONFIG_BACKLIGHT_CLASS_DEVICE
CONFIG_BACKLIGHT_LCD_SUPPORT
CONFIG_BCM2708_VCMEM
CONFIG_BCM2835_MBOX
CONFIG_BCM2835_THERMAL
CONFIG_BCM2835_WDT
CONFIG_BCM_VCIO
CONFIG_BINFMT_ELF
CONFIG_BINFMT_MISC
CONFIG_BINFMT_SCRIPT
CONFIG_BLK_CGROUP
CONFIG_BLK_DEBUG_FS
CONFIG_BLK_DEV
CONFIG_BLK_DEV_BSG
CONFIG_BLK_DEV_INITRD
CONFIG_BLK_DEV_IO_TRACE
CONFIG_BLK_DEV_LOOP
CONFIG_BLK_DEV_RAM
CONFIG_BLK_DEV_SD
CONFIG_BLK_DEV_THROTTLING
CONFIG_BLK_SCSI_REQUEST
CONFIG_BLOCK
CONFIG_BOOT_PRINTK_DELAY
CONFIG_BOUNCE
CONFIG_BQL
CONFIG_BRCM_CHAR_DRIVERS
CONFIG_BSD_PROCESS_ACCT
CONFIG_BUG
CONFIG_CACHEFILES
CONFIG_CFQ_GROUP_IOSCHED
CONFIG_CGROUP_CPUACCT
CONFIG_CGROUP_DEVICE
CONFIG_CGROUP_FREEZER
CONFIG_CGROUP_NET_CLASSID
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CGROUP_WRITEBACK
CONFIG_CLEANCACHE
CONFIG_CLKDEV_LOOKUP
CONFIG_CMA
CONFIG_COMMON_CLK
CONFIG_COMPACTION
CONFIG_COMPAT
CONFIG_CONFIGFS
CONFIG_CONFIGFS_FS
CONFIG_CONSOLE_TRANSLATIONS
CONFIG_CORE
CONFIG_CPU_FREQ
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE
CONFIG_CPU_FREQ_GOV_CONSERVATIVE
CONFIG_CPU_FREQ_GOV_ONDEMAND
CONFIG_CPU_FREQ_GOV_PERFORMANCE
CONFIG_CPU_FREQ_GOV_POWERSAVE
CONFIG_CPU_FREQ_GOV_SCHEDUTIL
CONFIG_CPU_FREQ_GOV_USERSPACE
CONFIG_CPU_FREQ_STAT
CONFIG_CPU_IDLE
CONFIG_CPU_IDLE_GOV_MENU
CONFIG_CPU_PM
CONFIG_CPUSETS
CONFIG_CRC32
CONFIG_CRYPTO
CONFIG_CRYPTO_AES
CONFIG_CRYPTO_ALGAPI
CONFIG_CRYPTO_CBC
CONFIG_CRYPTO_CRC32
CONFIG_CRYPTO_CRC32C
CONFIG_CRYPTO_DES
CONFIG_CRYPTO_HASH
CONFIG_CRYPTOMGR
CONFIG_CRYPTO_NULL2
CONFIG_CRYPTO_WORKQUEUE
CONFIG_DCACHE_WORD_ACCESS
CONFIG_DEBUG_BUGVERBOSE
CONFIG_DEBUG_FS
CONFIG_DEBUGFS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_PREEMPT
CONFIG_DEBUG_SPINLOCK
CONFIG_DETECT_HUNG_TASK
CONFIG_DEV_COREDUMP
CONFIG_DEVTMPFS
CONFIG_DMA_BCM2708
CONFIG_DMA_BCM2835
CONFIG_DMA_CMA
CONFIG_DMADEVICES
CONFIG_DMA_ENGINE
CONFIG_DMA_OF
CONFIG_DMA_SHARED_BUFFER
CONFIG_DMA_VIRTUAL_CHANNELS
CONFIG_DMI
CONFIG_DMIID
CONFIG_DNOTIFY
CONFIG_DNS_RESOLVER
CONFIG_DQL
CONFIG_DRIVERS
CONFIG_DRM
CONFIG_DRM_MIPI_DSI
CONFIG_DT_IDLE_STATES
CONFIG_DUMMY_CONSOLE
CONFIG_DWC2
CONFIG_DWC_COMMON_PORT_LIB
CONFIG_DWC_OTG
CONFIG_DYNAMIC_FTRACE
CONFIG_EFI
CONFIG_EFI_ESRT
CONFIG_EFI_PARAMS_FROM_FDT
CONFIG_EFI_PARTITION
CONFIG_EPOLL
CONFIG_EVENT_TRACING
CONFIG_EXPERT
CONFIG_EXT4
CONFIG_EXT4_FS
CONFIG_EXT4_FS_POSIX_ACL
CONFIG_EXT4_FS_SECURITY
CONFIG_F2FS
CONFIG_F2FS_FS
CONFIG_F2FS_STAT_FS
CONFIG_FAIR_GROUP_SCHED
CONFIG_FANOTIFY
CONFIG_FAT
CONFIG_FB
CONFIG_FB_BCM2708
CONFIG_FB_NOTIFY
CONFIG_FIB_RULES
CONFIG_FILE_LOCKING
CONFIG_FIX_EARLYCON_MEM
CONFIG_FIXED_PHY
CONFIG_FREEZER
CONFIG_FRONTSWAP
CONFIG_FSCACHE
CONFIG_FSCACHE_HISTOGRAM
CONFIG_FSCACHE_STATS
CONFIG_FS_MBCACHE
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_FTRACE
CONFIG_FUNCTION_GRAPH_TRACER
CONFIG_FUNCTION_TRACER
CONFIG_FUTEX
CONFIG_FW_LOADER
CONFIG_GENERIC_ALLOCATOR
CONFIG_GENERIC_ARCH_TOPOLOGY
CONFIG_GENERIC_BUG
CONFIG_GENERIC_CALIBRATE_DELAY
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST
CONFIG_GENERIC_CPU_AUTOPROBE
CONFIG_GENERIC_EARLY_IOREMAP
CONFIG_GENERIC_HWEIGHT
CONFIG_GENERIC_SCHED_CLOCK
CONFIG_GENERIC_SMP_IDLE_THREAD
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_GENERIC_STRNLEN_USER
CONFIG_GPIO_BCM_EXP
CONFIG_GPIO_BCM_VIRT
CONFIG_GPIOLIB
CONFIG_GPIO_STMPE
CONFIG_GPIO_SYSFS
CONFIG_GRACE_PERIOD
CONFIG_GRO_CELLS
CONFIG_HANDLE_DOMAIN_IRQ
CONFIG_HARDIRQS_SW_RESEND
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAVE_ARCH_HUGE_VMAP
CONFIG_HAVE_ARCH_JUMP_LABEL
CONFIG_HAVE_ARCH_KGDB
CONFIG_HAVE_ARCH_VMAP_STACK
CONFIG_HAVE_CLK
CONFIG_HAVE_CMPXCHG_LOCAL
CONFIG_HAVE_DMA_CONTIGUOUS
CONFIG_HAVE_DYNAMIC_FTRACE
CONFIG_HAVE_FUNCTION_GRAPH_TRACER
CONFIG_HAVE_FUNCTION_TRACER
CONFIG_HAVE_GENERIC_DMA_COHERENT
CONFIG_HAVE_HW_BREAKPOINT
CONFIG_HAVE_KPROBES
CONFIG_HAVE_MEMBLOCK
CONFIG_HAVE_PERF_EVENTS
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API
CONFIG_HAVE_SYSCALL_TRACEPOINTS
CONFIG_HID
CONFIG_HID_GENERIC
CONFIG_HIDRAW
CONFIG_HIGH_RES_TIMERS
CONFIG_HW_CONSOLE
CONFIG_HW_RANDOM
CONFIG_HW_RANDOM_BCM2835
CONFIG_I2C
CONFIG_I2C_COMPAT
CONFIG_INET
CONFIG_INIT
CONFIG_INOTIFY_USER
CONFIG_INPUT
CONFIG_INPUT_LEDS
CONFIG_IOSCHED_CFQ
CONFIG_IOSCHED_DEADLINE
CONFIG_IOSCHED_NOOP
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IPC_NS
CONFIG_IP_MROUTE
CONFIG_IP_MULTICAST
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_PNP
CONFIG_IP_ROUTE_CLASSID
CONFIG_IR_JVC_DECODER
CONFIG_IR_MCE_KBD_DECODER
CONFIG_IR_NEC_DECODER
CONFIG_IRQCHIP
CONFIG_IRQ_DOMAIN
CONFIG_IRQ_DOMAIN_HIERARCHY
CONFIG_IRQSOFF_TRACER
CONFIG_IRQ_WORK
CONFIG_IR_RC5_DECODER
CONFIG_IR_RC6_DECODER
CONFIG_IR_SANYO_DECODER
CONFIG_IR_SHARP_DECODER
CONFIG_IR_SONY_DECODER
CONFIG_IR_XMP_DECODER
CONFIG_JBD2
CONFIG_JUMP_LABEL
CONFIG_KALLSYMS
CONFIG_KDB_KEYBOARD
CONFIG_KERNFS
CONFIG_KEYS
CONFIG_KGDB
CONFIG_KGDB_KDB
CONFIG_KGDB_SERIAL_CONSOLE
CONFIG_KPROBE_EVENTS
CONFIG_KPROBES
CONFIG_LATENCYTOP
CONFIG_LEDS_CLASS
CONFIG_LEDS_GPIO
CONFIG_LEDS_TRIGGER_BACKLIGHT
CONFIG_LEDS_TRIGGER_CPU
CONFIG_LEDS_TRIGGER_DEFAULT_ON
CONFIG_LEDS_TRIGGER_GPIO
CONFIG_LEDS_TRIGGER_HEARTBEAT
CONFIG_LEDS_TRIGGER_INPUT
CONFIG_LEDS_TRIGGER_ONESHOT
CONFIG_LEDS_TRIGGER_PANIC
CONFIG_LEDS_TRIGGERS
CONFIG_LEDS_TRIGGER_TIMER
CONFIG_LEGACY_PTYS
CONFIG_LIB
CONFIG_LIBCRC32C
CONFIG_LIBFTRACE
CONFIG_LIBPHY
CONFIG_LIBS
CONFIG_LOCKD
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOGO
CONFIG_MAC_PARTITION
CONFIG_MAGIC_SYSRQ
CONFIG_MAILBOX
CONFIG_MEMCG
CONFIG_MEMORY_ISOLATION
CONFIG_MFD_STMPE
CONFIG_MICROCHIP_PHY
CONFIG_MIGRATION
CONFIG_MMC
CONFIG_MMC_BCM2835
CONFIG_MMC_BCM2835_MMC
CONFIG_MMC_BCM2835_SDHOST
CONFIG_MMC_BLOCK
CONFIG_MMC_CORE
CONFIG_MMC_SDHCI
CONFIG_MMC_SDHCI_PLTFM
CONFIG_MMU
CONFIG_MODULES
CONFIG_MODULE_UNLOAD
CONFIG_MOUNTS
CONFIG_MQ_IOSCHED_DEADLINE
CONFIG_MQ_IOSCHED_KYBER
CONFIG_MSDOS
CONFIG_MSDOS_PARTITION
CONFIG_MULTIUSER
CONFIG_MUTEX_SPIN_ON_OWNER
CONFIG_NAMESPACES
CONFIG_NET
CONFIG_NET_CLS
CONFIG_NET_CLS_ACT
CONFIG_NET_CORE
CONFIG_NETDEVICES
CONFIG_NETFILTER
CONFIG_NET_NS
CONFIG_NETPOLL
CONFIG_NET_SCHED
CONFIG_NETWORK_FILESYSTEMS
CONFIG_NEW_LEDS
CONFIG_NFS
CONFIG_NFS_FS
CONFIG_NFS_FSCACHE
CONFIG_NFSV2
CONFIG_NFSV3
CONFIG_NFSV4
CONFIG_NLATTR
CONFIG_NLS
CONFIG_NLS_ASCII
CONFIG_NLS_CODEPAGE_437
CONFIG_NO_HZ_COMMON
CONFIG_NVMEM_CORE
CONFIG_OF
CONFIG_OF_ADDRESS
CONFIG_OF_CONFIGFS
CONFIG_OF_DYNAMIC
CONFIG_OF_EARLY_FLATTREE
CONFIG_OF_FLATTREE
CONFIG_OF_GPIO
CONFIG_OF_IRQ
CONFIG_OF_RESERVED_MEM
CONFIG_PACKET
CONFIG_PERF_EVENTS
CONFIG_PHYLIB
CONFIG_PID_NS
CONFIG_PINCONF
CONFIG_PINCTRL
CONFIG_PINCTRL_BCM2835
CONFIG_PINMUX
CONFIG_PM
CONFIG_PM_CLK
CONFIG_PM_GENERIC_DOMAINS
CONFIG_PM_GENERIC_DOMAINS_OF
CONFIG_POSIX_MQUEUE
CONFIG_POSIX_MQUEUE_SYSCTL
CONFIG_POSIX_TIMERS
CONFIG_POWER_RESET
CONFIG_POWER_RESET_GPIO
CONFIG_POWER_SUPPLY
CONFIG_PREEMPT
CONFIG_PREEMPT_RCU
CONFIG_PREEMPT_TRACER
CONFIG_PRINTK
CONFIG_PROC
CONFIG_PROC_FS
CONFIG_PROC_PAGE_MONITOR
CONFIG_PROC_SYSCTL
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_PWM
CONFIG_PWM_SYSFS
CONFIG_PWRSEQ_EMMC
CONFIG_PWRSEQ_SIMPLE
CONFIG_QUOTA
CONFIG_RAMFS
CONFIG_RASPBERRYPI_FIRMWARE
CONFIG_RASPBERRYPI_POWER
CONFIG_RAW_DRIVER
CONFIG_RC_CORE
CONFIG_RC_DECODERS
CONFIG_RC_MAP
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_REGMAP
CONFIG_RELAY
CONFIG_RING_BUFFER
CONFIG_RPS
CONFIG_RTC_CLASS
CONFIG_RTC_LIB
CONFIG_RT_MUTEXES
CONFIG_RWSEM_SPIN_ON_OWNER
CONFIG_RWSEM_XCHGADD_ALGORITHM
CONFIG_SBITMAP
CONFIG_SCHED_AUTOGROUP
CONFIG_SCHED_DEBUG
CONFIG_SCHED_HRTICK
CONFIG_SCHED_INFO
CONFIG_SCHED_MC
CONFIG_SCHEDSTATS
CONFIG_SCHED_TRACER
CONFIG_SCSI
CONFIG_SCSI_ISCSI_ATTRS
CONFIG_SCSI_MOD
CONFIG_SD_MOD
CONFIG_SECCOMP
CONFIG_SERIAL_8250
CONFIG_SERIAL_8250_BCM2835AUX
CONFIG_SERIAL_8250_CONSOLE
CONFIG_SERIAL_8250_EXTENDED
CONFIG_SERIAL_8250_SHARE_IRQ
CONFIG_SERIAL_AMBA_PL011
CONFIG_SERIAL_AMBA_PL011_CONSOLE
CONFIG_SERIAL_CORE
CONFIG_SERIAL_EARLYCON
CONFIG_SERIAL_OF_PLATFORM
CONFIG_SG_POOL
CONFIG_SHMEM
CONFIG_SIGNALFD
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SLUB_DEBUG
CONFIG_SMP
CONFIG_SOUNDCORE
CONFIG_SPARSEMEM
CONFIG_SPARSEMEM_EXTREME
CONFIG_SPARSEMEM_VMEMMAP
CONFIG_SPARSEMEM_VMEMMAP_ENABLE
CONFIG_SPI
CONFIG_SPI_MASTER
CONFIG_SPI_SPIDEV
CONFIG_SRCU
CONFIG_STACK_TRACER
CONFIG_STACKTRACE_SUPPORT
CONFIG_STMPE_I2C
CONFIG_STMPE_SPI
CONFIG_STRICT_KERNEL_RWX
CONFIG_SUNRPC
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_SYSVIPC
CONFIG_SYSVIPC_SYSCTL
CONFIG_TASK_DELAY_ACCT
CONFIG_TASK_IO_ACCOUNTING
CONFIG_TASKS_RCU
CONFIG_TASKSTATS
CONFIG_TASK_XACCT
CONFIG_TCP_CONG_CUBIC
CONFIG_THERMAL
CONFIG_THERMAL_GOV_STEP_WISE
CONFIG_THERMAL_OF
CONFIG_THERMAL_SYS
CONFIG_THREAD_INFO_IN_TASK
CONFIG_TICK_ONESHOT
CONFIG_TIMER_PROBE
CONFIG_TMPFS
CONFIG_TMPFS_XATTR
CONFIG_TRACE_CLOCK
CONFIG_TRACEFS
CONFIG_TRACE_IRQFLAGS
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRACEPOINTS
CONFIG_TRACER_MAX_TRACE
CONFIG_TRACER_SNAPSHOT
CONFIG_TRACING
CONFIG_TRACING_SUPPORT
CONFIG_TREE_RCU
CONFIG_TREE_SRCU
CONFIG_TTY
CONFIG_TTY_PRINTK
CONFIG_UEFI_CPER
CONFIG_UEVENT_HELPER
CONFIG_UNINLINE_SPIN_UNLOCK
CONFIG_UNIX
CONFIG_UNIX98_PTYS
CONFIG_UPROBE_EVENTS
CONFIG_UPROBES
CONFIG_USB
CONFIG_USB_ARCH_HAS_HCD
CONFIG_USB_COMMON
CONFIG_USBCORE
CONFIG_USBHID
CONFIG_USB_LAN78XX
CONFIG_USB_NET_DRIVERS
CONFIG_USB_NET_SMSC95XX
CONFIG_USB_STORAGE
CONFIG_USB_SUPPORT
CONFIG_USB_USBNET
CONFIG_USER_NS
CONFIG_UTS_NS
CONFIG_VFAT
CONFIG_VMAP_STACK
CONFIG_VM_EVENT_COUNTERS
CONFIG_VT
CONFIG_VT_CONSOLE
CONFIG_WATCHDOG
CONFIG_WEXT_CORE
CONFIG_WEXT_PROC
CONFIG_WIRELESS
CONFIG_XFRM
CONFIG_XFRM_USER
CONFIG_ZONE_DMA
