CONFIG_ALPHA_GENERIC
CONFIG_ALPHA_ALCOR
CONFIG_ALPHA_XL
CONFIG_ALPHA_BOOK1
CONFIG_ALPHA_AVANTI_CH
CONFIG_ALPHA_CABRIOLET
CONFIG_ALPHA_DP264
CONFIG_ALPHA_EB164
CONFIG_ALPHA_EB64P_CH
CONFIG_ALPHA_EB66
CONFIG_ALPHA_EB66P
CONFIG_ALPHA_EIGER
CONFIG_ALPHA_JENSEN
CONFIG_ALPHA_LX164
CONFIG_ALPHA_LYNX
CONFIG_ALPHA_MARVEL
CONFIG_ALPHA_MIATA
CONFIG_ALPHA_MIKASA
CONFIG_ALPHA_NAUTILUS
CONFIG_ALPHA_NONAME_CH
CONFIG_ALPHA_NORITAKE
CONFIG_ALPHA_PC164
CONFIG_ALPHA_P2K
CONFIG_ALPHA_RAWHIDE
CONFIG_ALPHA_RUFFIAN
CONFIG_ALPHA_RX164
CONFIG_ALPHA_SX164
CONFIG_ALPHA_SABLE
CONFIG_ALPHA_SHARK
CONFIG_ALPHA_TAKARA
CONFIG_ALPHA_TITAN
CONFIG_ALPHA_WILDFIRE
CONFIG_HZ_32
CONFIG_HZ_64
CONFIG_HZ_128
CONFIG_HZ_256
CONFIG_HZ_1024
CONFIG_HZ_1200
CONFIG_ISA_ARCOMPACT
CONFIG_ISA_ARCV2
CONFIG_ARC_CPU_750D
CONFIG_ARC_CPU_770
CONFIG_ARC_CPU_HS
CONFIG_ARC_MMU_V1
CONFIG_ARC_MMU_V2
CONFIG_ARC_MMU_V3
CONFIG_ARC_MMU_V4
CONFIG_ARC_PAGE_SIZE_8K
CONFIG_ARC_PAGE_SIZE_16K
CONFIG_ARC_PAGE_SIZE_4K
CONFIG_ARC_HUGEPAGE_2M
CONFIG_ARC_HUGEPAGE_16M
CONFIG_ARM64_4K_PAGES
CONFIG_ARM64_16K_PAGES
CONFIG_ARM64_64K_PAGES
CONFIG_ARM64_VA_BITS_36
CONFIG_ARM64_VA_BITS_39
CONFIG_ARM64_VA_BITS_42
CONFIG_ARM64_VA_BITS_47
CONFIG_ARM64_VA_BITS_48
CONFIG_ARM64_PA_BITS_48
CONFIG_ARM64_PA_BITS_52
CONFIG_DEBUG_ALPINE_UART0
CONFIG_DEBUG_ASM9260_UART
CONFIG_DEBUG_AT91_RM9200_DBGU
CONFIG_DEBUG_AT91_SAM9263_DBGU
CONFIG_DEBUG_AT91_SAMA5D2_UART1
CONFIG_DEBUG_AT91_SAMA5D4_USART3
CONFIG_DEBUG_AT91_SAMV7_USART1
CONFIG_DEBUG_BCM2835
CONFIG_DEBUG_BCM2836
CONFIG_DEBUG_BCM_5301X
CONFIG_DEBUG_BCM_HR2
CONFIG_DEBUG_BCM_KONA_UART
CONFIG_DEBUG_BCM63XX_UART
CONFIG_DEBUG_BERLIN_UART
CONFIG_DEBUG_BRCMSTB_UART
CONFIG_DEBUG_CLPS711X_UART1
CONFIG_DEBUG_CLPS711X_UART2
CONFIG_DEBUG_CNS3XXX
CONFIG_DEBUG_DAVINCI_DA8XX_UART1
CONFIG_DEBUG_DAVINCI_DA8XX_UART2
CONFIG_DEBUG_DAVINCI_DMX_UART0
CONFIG_DEBUG_DC21285_PORT
CONFIG_DEBUG_DIGICOLOR_UA0
CONFIG_DEBUG_EP93XX
CONFIG_DEBUG_FOOTBRIDGE_COM1
CONFIG_DEBUG_GEMINI
CONFIG_DEBUG_HI3620_UART
CONFIG_DEBUG_HIGHBANK_UART
CONFIG_DEBUG_HIP01_UART
CONFIG_DEBUG_HIP04_UART
CONFIG_DEBUG_HIX5HD2_UART
CONFIG_DEBUG_IMX1_UART
CONFIG_DEBUG_IMX23_UART
CONFIG_DEBUG_IMX25_UART
CONFIG_DEBUG_IMX21_IMX27_UART
CONFIG_DEBUG_IMX28_UART
CONFIG_DEBUG_IMX31_UART
CONFIG_DEBUG_IMX35_UART
CONFIG_DEBUG_IMX50_UART
CONFIG_DEBUG_IMX51_UART
CONFIG_DEBUG_IMX53_UART
CONFIG_DEBUG_IMX6Q_UART
CONFIG_DEBUG_IMX6SL_UART
CONFIG_DEBUG_IMX6SX_UART
CONFIG_DEBUG_IMX6UL_UART
CONFIG_DEBUG_IMX7D_UART
CONFIG_DEBUG_INTEGRATOR
CONFIG_DEBUG_KEYSTONE_UART0
CONFIG_DEBUG_KEYSTONE_UART1
CONFIG_DEBUG_KS8695_UART
CONFIG_DEBUG_LPC18XX_UART0
CONFIG_DEBUG_LPC32XX
CONFIG_DEBUG_MESON_UARTAO
CONFIG_DEBUG_MMP_UART2
CONFIG_DEBUG_MMP_UART3
CONFIG_DEBUG_MVEBU_UART0
CONFIG_DEBUG_MVEBU_UART0_ALTERNATE
CONFIG_DEBUG_MVEBU_UART1_ALTERNATE
CONFIG_DEBUG_MT6589_UART0
CONFIG_DEBUG_MT8127_UART0
CONFIG_DEBUG_MT8135_UART3
CONFIG_DEBUG_NETX_UART
CONFIG_DEBUG_NOMADIK_UART
CONFIG_DEBUG_NSPIRE_CLASSIC_UART
CONFIG_DEBUG_NSPIRE_CX_UART
CONFIG_DEBUG_OMAP1UART1
CONFIG_DEBUG_OMAP1UART2
CONFIG_DEBUG_OMAP1UART3
CONFIG_DEBUG_OMAP2UART1
CONFIG_DEBUG_OMAP2UART2
CONFIG_DEBUG_OMAP2UART3
CONFIG_DEBUG_OMAP3UART3
CONFIG_DEBUG_OMAP4UART3
CONFIG_DEBUG_OMAP3UART4
CONFIG_DEBUG_OMAP4UART4
CONFIG_DEBUG_OMAP7XXUART1
CONFIG_DEBUG_OMAP7XXUART2
CONFIG_DEBUG_OMAP7XXUART3
CONFIG_DEBUG_TI81XXUART1
CONFIG_DEBUG_TI81XXUART2
CONFIG_DEBUG_TI81XXUART3
CONFIG_DEBUG_AM33XXUART1
CONFIG_DEBUG_ZOOM_UART
CONFIG_DEBUG_PICOXCELL_UART
CONFIG_DEBUG_PXA_UART1
CONFIG_DEBUG_QCOM_UARTDM
CONFIG_DEBUG_REALVIEW_STD_PORT
CONFIG_DEBUG_REALVIEW_PB1176_PORT
CONFIG_DEBUG_RV1108_UART0
CONFIG_DEBUG_RV1108_UART1
CONFIG_DEBUG_RV1108_UART2
CONFIG_DEBUG_RK29_UART0
CONFIG_DEBUG_RK29_UART1
CONFIG_DEBUG_RK29_UART2
CONFIG_DEBUG_RK3X_UART0
CONFIG_DEBUG_RK3X_UART1
CONFIG_DEBUG_RK3X_UART2
CONFIG_DEBUG_RK3X_UART3
CONFIG_DEBUG_RK32_UART2
CONFIG_DEBUG_R7S72100_SCIF2
CONFIG_DEBUG_RCAR_GEN1_SCIF0
CONFIG_DEBUG_RCAR_GEN1_SCIF2
CONFIG_DEBUG_RCAR_GEN2_SCIF0
CONFIG_DEBUG_RCAR_GEN2_SCIF1
CONFIG_DEBUG_RCAR_GEN2_SCIF2
CONFIG_DEBUG_RCAR_GEN2_SCIF4
CONFIG_DEBUG_RMOBILE_SCIFA0
CONFIG_DEBUG_RMOBILE_SCIFA1
CONFIG_DEBUG_RMOBILE_SCIFA4
CONFIG_DEBUG_S3C_UART0
CONFIG_DEBUG_S3C_UART1
CONFIG_DEBUG_S3C_UART2
CONFIG_DEBUG_S3C_UART3
CONFIG_DEBUG_S3C2410_UART0
CONFIG_DEBUG_S3C2410_UART1
CONFIG_DEBUG_S3C2410_UART2
CONFIG_DEBUG_SA1100
CONFIG_DEBUG_SOCFPGA_UART0
CONFIG_DEBUG_SOCFPGA_UART1
CONFIG_DEBUG_SUN9I_UART0
CONFIG_DEBUG_SUNXI_UART0
CONFIG_DEBUG_SUNXI_UART1
CONFIG_DEBUG_SUNXI_R_UART
CONFIG_DEBUG_SIRFPRIMA2_UART1
CONFIG_DEBUG_SIRFATLAS7_UART0
CONFIG_DEBUG_SIRFATLAS7_UART1
CONFIG_DEBUG_SPEAR3XX
CONFIG_DEBUG_SPEAR13XX
CONFIG_STIH41X_DEBUG_ASC2
CONFIG_STIH41X_DEBUG_SBC_ASC1
CONFIG_TEGRA_DEBUG_UART_AUTO_ODMDATA
CONFIG_TEGRA_DEBUG_UARTA
CONFIG_TEGRA_DEBUG_UARTB
CONFIG_TEGRA_DEBUG_UARTC
CONFIG_TEGRA_DEBUG_UARTD
CONFIG_TEGRA_DEBUG_UARTE
CONFIG_DEBUG_U300_UART
CONFIG_DEBUG_UX500_UART
CONFIG_DEBUG_VERSATILE
CONFIG_DEBUG_VEXPRESS_UART0_DETECT
CONFIG_DEBUG_VEXPRESS_UART0_CA9
CONFIG_DEBUG_VEXPRESS_UART0_RS1
CONFIG_DEBUG_VEXPRESS_UART0_CRX
CONFIG_DEBUG_VF_UART
CONFIG_DEBUG_VT8500_UART0
CONFIG_DEBUG_ZTE_ZX
CONFIG_DEBUG_ZYNQ_UART0
CONFIG_DEBUG_ZYNQ_UART1
CONFIG_DEBUG_ICEDCC
CONFIG_DEBUG_SEMIHOSTING
CONFIG_DEBUG_LL_UART_8250
CONFIG_DEBUG_LL_UART_EFM32
CONFIG_DEBUG_LL_UART_PL01X
CONFIG_ARCH_MULTIPLATFORM
CONFIG_ARM_SINGLE_ARMV7M
CONFIG_ARCH_EBSA110
CONFIG_ARCH_EP93XX
CONFIG_ARCH_FOOTBRIDGE
CONFIG_ARCH_NETX
CONFIG_ARCH_IOP13XX
CONFIG_ARCH_IOP32X
CONFIG_ARCH_IOP33X
CONFIG_ARCH_IXP4XX
CONFIG_ARCH_DOVE
CONFIG_ARCH_KS8695
CONFIG_ARCH_W90X900
CONFIG_ARCH_LPC32XX
CONFIG_ARCH_PXA
CONFIG_ARCH_RPC
CONFIG_ARCH_SA1100
CONFIG_ARCH_S3C24XX
CONFIG_ARCH_DAVINCI
CONFIG_ARCH_OMAP1
CONFIG_VMSPLIT_3G
CONFIG_VMSPLIT_3G_OPT
CONFIG_VMSPLIT_2G
CONFIG_VMSPLIT_1G
CONFIG_HZ_100
CONFIG_HZ_200
CONFIG_HZ_250
CONFIG_HZ_300
CONFIG_HZ_500
CONFIG_HZ_1000
CONFIG_ARM_ATAG_DTB_COMPAT_CMDLINE_FROM_BOOTLOADER
CONFIG_ARM_ATAG_DTB_COMPAT_CMDLINE_EXTEND
CONFIG_CMDLINE_FROM_BOOTLOADER
CONFIG_CMDLINE_EXTEND
CONFIG_CMDLINE_FORCE
CONFIG_DA830_UI_LCD
CONFIG_DA830_UI_NAND
CONFIG_DA850_UI_NONE
CONFIG_DA850_UI_RMII
CONFIG_DA850_UI_SD_VIDEO_PORT
CONFIG_VF_USE_ARM_GLOBAL_TIMER
CONFIG_VF_USE_PIT_TIMER
CONFIG_GUMSTIX_AM200EPD
CONFIG_GUMSTIX_AM300EPD
CONFIG_MACH_TRIZEPS_CONXS
CONFIG_MACH_TRIZEPS_UCONXS
CONFIG_MACH_TRIZEPS_ANY
CONFIG_PCM990_DISPLAY_SHARP
CONFIG_PCM990_DISPLAY_NEC
CONFIG_PCM990_DISPLAY_NONE
CONFIG_SMDK6410_SD_CH0
CONFIG_SMDK6410_SD_CH1
CONFIG_SA1100_CERF_FLASH_8MB
CONFIG_SA1100_CERF_FLASH_16MB
CONFIG_SA1100_CERF_FLASH_32MB
CONFIG_H8300_AE3068
CONFIG_H8300_H8MAX
CONFIG_H8300_KANEBEBE
CONFIG_H8300H_SIM
CONFIG_H8S_EDOSK2674
CONFIG_H8S_SIM
CONFIG_HEXAGON_COMET
CONFIG_PAGE_SIZE_4KB
CONFIG_PAGE_SIZE_16KB
CONFIG_PAGE_SIZE_64KB
CONFIG_PAGE_SIZE_256KB
CONFIG_IA64_GRANULE_16MB
CONFIG_IA64_GRANULE_64MB
CONFIG_IA64_GENERIC
CONFIG_IA64_DIG
CONFIG_IA64_DIG_VTD
CONFIG_IA64_HP_ZX1
CONFIG_IA64_HP_ZX1_SWIOTLB
CONFIG_IA64_SGI_SN2
CONFIG_IA64_SGI_UV
CONFIG_IA64_HP_SIM
CONFIG_ITANIUM
CONFIG_MCKINLEY
CONFIG_IA64_PAGE_SIZE_4KB
CONFIG_IA64_PAGE_SIZE_8KB
CONFIG_IA64_PAGE_SIZE_16KB
CONFIG_IA64_PAGE_SIZE_64KB
CONFIG_M68KCLASSIC
CONFIG_COLDFIRE
CONFIG_M5206
CONFIG_M5206E
CONFIG_M520X
CONFIG_M523X
CONFIG_M5249
CONFIG_M525X
CONFIG_M5271
CONFIG_M5272
CONFIG_M5275
CONFIG_M528X
CONFIG_M5307
CONFIG_M532X
CONFIG_M537X
CONFIG_M5407
CONFIG_M547X
CONFIG_M548X
CONFIG_M5441X
CONFIG_CACHE_I
CONFIG_CACHE_D
CONFIG_CACHE_BOTH
CONFIG_CACHE_WRITETHRU
CONFIG_CACHE_COPYBACK
CONFIG_RAMKERNEL
CONFIG_ROMKERNEL
CONFIG_CPU_BIG_ENDIAN
CONFIG_CPU_LITTLE_ENDIAN
CONFIG_MICROBLAZE_4K_PAGES
CONFIG_MICROBLAZE_16K_PAGES
CONFIG_MICROBLAZE_64K_PAGES
CONFIG_MIPS_GENERIC
CONFIG_MIPS_ALCHEMY
CONFIG_AR7
CONFIG_ATH25
CONFIG_ATH79
CONFIG_BMIPS_GENERIC
CONFIG_BCM47XX
CONFIG_BCM63XX
CONFIG_MIPS_COBALT
CONFIG_MACH_DECSTATION
CONFIG_MACH_JAZZ
CONFIG_MACH_INGENIC
CONFIG_LANTIQ
CONFIG_LASAT
CONFIG_MACH_LOONGSON32
CONFIG_MACH_LOONGSON64
CONFIG_MACH_PISTACHIO
CONFIG_MIPS_MALTA
CONFIG_MACH_PIC32
CONFIG_NEC_MARKEINS
CONFIG_MACH_VR41XX
CONFIG_NXP_STB220
CONFIG_NXP_STB225
CONFIG_PMC_MSP
CONFIG_RALINK
CONFIG_SGI_IP22
CONFIG_SGI_IP27
CONFIG_SGI_IP28
CONFIG_SGI_IP32
CONFIG_SIBYTE_CRHINE
CONFIG_SIBYTE_CARMEL
CONFIG_SIBYTE_CRHONE
CONFIG_SIBYTE_RHONE
CONFIG_SIBYTE_SWARM
CONFIG_SIBYTE_LITTLESUR
CONFIG_SIBYTE_SENTOSA
CONFIG_SIBYTE_BIGSUR
CONFIG_SNI_RM
CONFIG_MACH_TX39XX
CONFIG_MACH_TX49XX
CONFIG_MIKROTIK_RB532
CONFIG_CAVIUM_OCTEON_SOC
CONFIG_NLM_XLR_BOARD
CONFIG_NLM_XLP_BOARD
CONFIG_MIPS_PARAVIRT
CONFIG_CPU_BIG_ENDIAN
CONFIG_CPU_LITTLE_ENDIAN
CONFIG_CPU_LOONGSON3
CONFIG_LOONGSON3_ENHANCEMENT
CONFIG_CPU_LOONGSON2E
CONFIG_CPU_LOONGSON2F
CONFIG_CPU_LOONGSON1B
CONFIG_CPU_LOONGSON1C
CONFIG_CPU_MIPS32_R1
CONFIG_CPU_MIPS32_R2
CONFIG_CPU_MIPS32_R6
CONFIG_CPU_MIPS64_R1
CONFIG_CPU_MIPS64_R2
CONFIG_CPU_MIPS64_R6
CONFIG_CPU_R3000
CONFIG_CPU_TX39XX
CONFIG_CPU_VR41XX
CONFIG_CPU_R4300
CONFIG_CPU_R4X00
CONFIG_CPU_TX49XX
CONFIG_CPU_R5000
CONFIG_CPU_R5432
CONFIG_CPU_R5500
CONFIG_CPU_NEVADA
CONFIG_CPU_R8000
CONFIG_CPU_R10000
CONFIG_CPU_RM7000
CONFIG_CPU_SB1
CONFIG_CPU_CAVIUM_OCTEON
CONFIG_CPU_BMIPS
CONFIG_CPU_XLR
CONFIG_CPU_XLP
CONFIG_32BIT
CONFIG_64BIT
CONFIG_PAGE_SIZE_4KB
CONFIG_PAGE_SIZE_8KB
CONFIG_PAGE_SIZE_16KB
CONFIG_PAGE_SIZE_32KB
CONFIG_PAGE_SIZE_64KB
CONFIG_CPU_NEEDS_NO_SMARTMIPS_OR_MICROMIPS
CONFIG_CPU_HAS_SMARTMIPS
CONFIG_CPU_MICROMIPS
CONFIG_HZ_24
CONFIG_HZ_48
CONFIG_HZ_100
CONFIG_HZ_128
CONFIG_HZ_250
CONFIG_HZ_256
CONFIG_HZ_1000
CONFIG_HZ_1024
CONFIG_MIPS_NO_APPENDED_DTB
CONFIG_MIPS_ELF_APPENDED_DTB
CONFIG_MIPS_RAW_APPENDED_DTB
CONFIG_MIPS_CMDLINE_FROM_DTB
CONFIG_MIPS_CMDLINE_DTB_EXTEND
CONFIG_MIPS_CMDLINE_FROM_BOOTLOADER
CONFIG_MIPS_CMDLINE_BUILTIN_EXTEND
CONFIG_MIPS_MTX1
CONFIG_MIPS_DB1XXX
CONFIG_MIPS_XXS1500
CONFIG_MIPS_GPR
CONFIG_BOARD_BCM963XX
CONFIG_DT_NONE
CONFIG_DT_BCM93384WVG
CONFIG_DT_BCM93384WVG_VIPER
CONFIG_DT_BCM96368MVWG
CONFIG_DT_BCM9EJTAGPRB
CONFIG_DT_BCM97125CBMB
CONFIG_DT_BCM97346DBSMB
CONFIG_DT_BCM97358SVMB
CONFIG_DT_BCM97360SVMB
CONFIG_DT_BCM97362SVMB
CONFIG_DT_BCM97420C
CONFIG_DT_BCM97425SVMB
CONFIG_DT_BCM97435SVMB
CONFIG_DT_COMTREND_VR3032U
CONFIG_DT_NETGEAR_CVG834G
CONFIG_DT_SFR_NEUFBOX4_SERCOMM
CONFIG_DT_SFR_NEUFBOX6_SERCOMM
CONFIG_JZ4740_QI_LB60
CONFIG_JZ4770_GCW0
CONFIG_JZ4780_CI20
CONFIG_KVM_MIPS_TE
CONFIG_KVM_MIPS_VZ
CONFIG_SOC_AMAZON_SE
CONFIG_SOC_XWAY
CONFIG_SOC_FALCON
CONFIG_LANTIQ_DT_NONE
CONFIG_DT_EASY50712
CONFIG_LOONGSON1_LS1B
CONFIG_LOONGSON1_LS1C
CONFIG_TIMER_USE_PWM0
CONFIG_TIMER_USE_PWM1
CONFIG_TIMER_USE_PWM2
CONFIG_TIMER_USE_PWM3
CONFIG_LEMOTE_FULOONG2E
CONFIG_LEMOTE_MACH2F
CONFIG_LOONGSON_MACH3X
CONFIG_NLM_MULTINODE_2
CONFIG_NLM_MULTINODE_4
CONFIG_PIC32MZDA
CONFIG_DTB_PIC32_NONE
CONFIG_DTB_PIC32_MZDA_SK
CONFIG_PMC_MSP4200_EVAL
CONFIG_PMC_MSP4200_GW
CONFIG_PMC_MSP7120_EVAL
CONFIG_PMC_MSP7120_GW
CONFIG_PMC_MSP7120_FPGA
CONFIG_SOC_RT288X
CONFIG_SOC_RT305X
CONFIG_SOC_RT3883
CONFIG_SOC_MT7620
CONFIG_SOC_MT7621
CONFIG_DTB_RT_NONE
CONFIG_DTB_RT2880_EVAL
CONFIG_DTB_RT305X_EVAL
CONFIG_DTB_RT3883_EVAL
CONFIG_DTB_MT7620A_EVAL
CONFIG_DTB_OMEGA2P
CONFIG_DTB_VOCORE2
CONFIG_SGI_SN_M_MODE
CONFIG_SGI_SN_N_MODE
CONFIG_CPU_SB1_PASS_2_1250
CONFIG_CPU_SB1_PASS_2_2
CONFIG_CPU_SB1_PASS_4
CONFIG_CPU_SB1_PASS_2_112X
CONFIG_CPU_SB1_PASS_3
CONFIG_TOSHIBA_RBTX4938_MPLEX_PIO58_61
CONFIG_TOSHIBA_RBTX4938_MPLEX_NAND
CONFIG_TOSHIBA_RBTX4938_MPLEX_ATA
CONFIG_TOSHIBA_RBTX4938_MPLEX_KEEP
CONFIG_CASIO_E55
CONFIG_IBM_WORKPAD
CONFIG_TANBAC_TB022X
CONFIG_VICTOR_MPC30X
CONFIG_ZAO_CAPCELLA
CONFIG_TANBAC_TB0219
CONFIG_TANBAC_TB0226
CONFIG_TANBAC_TB0287
CONFIG_CPU_N15
CONFIG_CPU_N13
CONFIG_CPU_N10
CONFIG_CPU_D15
CONFIG_CPU_D10
CONFIG_CPU_V3
CONFIG_VMSPLIT_3G
CONFIG_VMSPLIT_3G_OPT
CONFIG_VMSPLIT_2G
CONFIG_VMSPLIT_1G
CONFIG_OR1K_1200
CONFIG_PA7000
CONFIG_PA7100LC
CONFIG_PA7200
CONFIG_PA7300LC
CONFIG_PA8X00
CONFIG_PARISC_PAGE_SIZE_4KB
CONFIG_PARISC_PAGE_SIZE_16KB
CONFIG_PARISC_PAGE_SIZE_64KB
CONFIG_PPC_EARLY_DEBUG_BOOTX
CONFIG_PPC_EARLY_DEBUG_LPAR
CONFIG_PPC_EARLY_DEBUG_LPAR_HVSI
CONFIG_PPC_EARLY_DEBUG_G5
CONFIG_PPC_EARLY_DEBUG_RTAS_PANEL
CONFIG_PPC_EARLY_DEBUG_RTAS_CONSOLE
CONFIG_PPC_EARLY_DEBUG_MAPLE
CONFIG_PPC_EARLY_DEBUG_PAS_REALMODE
CONFIG_PPC_EARLY_DEBUG_44X
CONFIG_PPC_EARLY_DEBUG_40X
CONFIG_PPC_EARLY_DEBUG_CPM
CONFIG_PPC_EARLY_DEBUG_USBGECKO
CONFIG_PPC_EARLY_DEBUG_PS3GELIC
CONFIG_PPC_EARLY_DEBUG_OPAL_RAW
CONFIG_PPC_EARLY_DEBUG_OPAL_HVSI
CONFIG_PPC_EARLY_DEBUG_MEMCONS
CONFIG_MATH_EMULATION_HW_UNIMPLEMENTED
CONFIG_PPC_4K_PAGES
CONFIG_PPC_16K_PAGES
CONFIG_PPC_64K_PAGES
CONFIG_PPC_256K_PAGES
CONFIG_MPC8XXFADS
CONFIG_MPC86XADS
CONFIG_MPC885ADS
CONFIG_PPC_EP88XC
CONFIG_PPC_ADDER875
CONFIG_TQM8XX
CONFIG_NO_UCODE_PATCH
CONFIG_USB_SOF_UCODE_PATCH
CONFIG_I2C_SPI_UCODE_PATCH
CONFIG_I2C_SPI_SMC1_UCODE_PATCH
CONFIG_PPC_BOOK3S_32
CONFIG_PPC_85XX
CONFIG_PPC_8XX
CONFIG_40X
CONFIG_44X
CONFIG_E200
CONFIG_PPC_BOOK3S_64
CONFIG_PPC_BOOK3E_64
CONFIG_GENERIC_CPU
CONFIG_GENERIC_CPU
CONFIG_CELL_CPU
CONFIG_POWER5_CPU
CONFIG_POWER6_CPU
CONFIG_POWER7_CPU
CONFIG_POWER8_CPU
CONFIG_POWER9_CPU
CONFIG_E5500_CPU
CONFIG_E6500_CPU
CONFIG_CPU_BIG_ENDIAN
CONFIG_CPU_LITTLE_ENDIAN
CONFIG_ARCH_RV32I
CONFIG_ARCH_RV64I
CONFIG_CMODEL_MEDLOW
CONFIG_CMODEL_MEDANY
CONFIG_MAXPHYSMEM_2GB
CONFIG_MAXPHYSMEM_128GB
CONFIG_TUNE_GENERIC
CONFIG_MARCH_Z900
CONFIG_MARCH_Z990
CONFIG_MARCH_Z9_109
CONFIG_MARCH_Z10
CONFIG_MARCH_Z196
CONFIG_MARCH_ZEC12
CONFIG_MARCH_Z13
CONFIG_MARCH_Z14
CONFIG_TUNE_DEFAULT
CONFIG_TUNE_Z900
CONFIG_TUNE_Z990
CONFIG_TUNE_Z9_109
CONFIG_TUNE_Z10
CONFIG_TUNE_Z196
CONFIG_TUNE_ZEC12
CONFIG_TUNE_Z13
CONFIG_TUNE_Z14
CONFIG_EXPOLINE_OFF
CONFIG_EXPOLINE_AUTO
CONFIG_EXPOLINE_FULL
CONFIG_CPU_LITTLE_ENDIAN
CONFIG_CPU_BIG_ENDIAN
CONFIG_CPU_SUBTYPE_SH7619
CONFIG_CPU_SUBTYPE_J2
CONFIG_CPU_SUBTYPE_SH7201
CONFIG_CPU_SUBTYPE_SH7203
CONFIG_CPU_SUBTYPE_SH7206
CONFIG_CPU_SUBTYPE_SH7263
CONFIG_CPU_SUBTYPE_SH7264
CONFIG_CPU_SUBTYPE_SH7269
CONFIG_CPU_SUBTYPE_MXG
CONFIG_CPU_SUBTYPE_SH7705
CONFIG_CPU_SUBTYPE_SH7706
CONFIG_CPU_SUBTYPE_SH7707
CONFIG_CPU_SUBTYPE_SH7708
CONFIG_CPU_SUBTYPE_SH7709
CONFIG_CPU_SUBTYPE_SH7710
CONFIG_CPU_SUBTYPE_SH7712
CONFIG_CPU_SUBTYPE_SH7720
CONFIG_CPU_SUBTYPE_SH7721
CONFIG_CPU_SUBTYPE_SH7750
CONFIG_CPU_SUBTYPE_SH7091
CONFIG_CPU_SUBTYPE_SH7750R
CONFIG_CPU_SUBTYPE_SH7750S
CONFIG_CPU_SUBTYPE_SH7751
CONFIG_CPU_SUBTYPE_SH7751R
CONFIG_CPU_SUBTYPE_SH7760
CONFIG_CPU_SUBTYPE_SH4_202
CONFIG_CPU_SUBTYPE_SH7723
CONFIG_CPU_SUBTYPE_SH7724
CONFIG_CPU_SUBTYPE_SH7734
CONFIG_CPU_SUBTYPE_SH7757
CONFIG_CPU_SUBTYPE_SH7763
CONFIG_CPU_SUBTYPE_SH7770
CONFIG_CPU_SUBTYPE_SH7780
CONFIG_CPU_SUBTYPE_SH7785
CONFIG_CPU_SUBTYPE_SH7786
CONFIG_CPU_SUBTYPE_SHX3
CONFIG_CPU_SUBTYPE_SH7343
CONFIG_CPU_SUBTYPE_SH7722
CONFIG_CPU_SUBTYPE_SH7366
CONFIG_CPU_SUBTYPE_SH5_101
CONFIG_CPU_SUBTYPE_SH5_103
CONFIG_CMDLINE_OVERWRITE
CONFIG_CMDLINE_EXTEND
CONFIG_SH_R7780RP
CONFIG_SH_R7780MP
CONFIG_SH_R7785RP
CONFIG_SH_MIGOR_QVGA
CONFIG_SH_MIGOR_RTA_WVGA
CONFIG_SH_RSK7201
CONFIG_SH_RSK7203
CONFIG_SH_RSK7264
CONFIG_SH_RSK7269
CONFIG_SH_SDK7780_BASE
CONFIG_HD64461
CONFIG_PAGE_SIZE_4KB
CONFIG_PAGE_SIZE_8KB
CONFIG_PAGE_SIZE_16KB
CONFIG_PAGE_SIZE_64KB
CONFIG_HUGETLB_PAGE_SIZE_64K
CONFIG_HUGETLB_PAGE_SIZE_256K
CONFIG_HUGETLB_PAGE_SIZE_1MB
CONFIG_HUGETLB_PAGE_SIZE_4MB
CONFIG_HUGETLB_PAGE_SIZE_64MB
CONFIG_HUGETLB_PAGE_SIZE_512MB
CONFIG_CACHE_WRITEBACK
CONFIG_CACHE_WRITETHROUGH
CONFIG_CACHE_OFF
CONFIG_PUV3_FPGA_DLX200
CONFIG_PUV3_DB0913
CONFIG_PUV3_NB0916
CONFIG_PUV3_SMW0919
CONFIG_M486
CONFIG_M586
CONFIG_M586TSC
CONFIG_M586MMX
CONFIG_M686
CONFIG_MPENTIUMII
CONFIG_MPENTIUMIII
CONFIG_MPENTIUMM
CONFIG_MPENTIUM4
CONFIG_MK6
CONFIG_MK7
CONFIG_MK8
CONFIG_MCRUSOE
CONFIG_MEFFICEON
CONFIG_MWINCHIPC6
CONFIG_MWINCHIP3D
CONFIG_MELAN
CONFIG_MGEODEGX1
CONFIG_MGEODE_LX
CONFIG_MCYRIXIII
CONFIG_MVIAC3_2
CONFIG_MVIAC7
CONFIG_MPSC
CONFIG_MCORE2
CONFIG_MATOM
CONFIG_GENERIC_CPU
CONFIG_IO_DELAY_0X80
CONFIG_IO_DELAY_0XED
CONFIG_IO_DELAY_UDELAY
CONFIG_IO_DELAY_NONE
CONFIG_UNWINDER_ORC
CONFIG_UNWINDER_FRAME_POINTER
CONFIG_UNWINDER_GUESS
CONFIG_NOHIGHMEM
CONFIG_HIGHMEM4G
CONFIG_HIGHMEM64G
CONFIG_VMSPLIT_3G
CONFIG_VMSPLIT_3G_OPT
CONFIG_VMSPLIT_2G
CONFIG_VMSPLIT_2G_OPT
CONFIG_VMSPLIT_1G
CONFIG_LEGACY_VSYSCALL_EMULATE
CONFIG_LEGACY_VSYSCALL_NONE
CONFIG_PCI_GOBIOS
CONFIG_PCI_GOMMCONFIG
CONFIG_PCI_GODIRECT
CONFIG_PCI_GOOLPC
CONFIG_PCI_GOANY
CONFIG_XTENSA_VARIANT_FSF
CONFIG_XTENSA_VARIANT_DC232B
CONFIG_XTENSA_VARIANT_DC233C
CONFIG_XTENSA_VARIANT_CUSTOM
CONFIG_XTENSA_KSEG_MMU_V2
CONFIG_XTENSA_KSEG_256M
CONFIG_XTENSA_KSEG_512M
CONFIG_XTENSA_PLATFORM_ISS
CONFIG_XTENSA_PLATFORM_XT2000
CONFIG_XTENSA_PLATFORM_XTFPGA
CONFIG_DEFAULT_DEADLINE
CONFIG_DEFAULT_CFQ
CONFIG_DEFAULT_NOOP
CONFIG_CMA_SIZE_SEL_MBYTES
CONFIG_CMA_SIZE_SEL_PERCENTAGE
CONFIG_CMA_SIZE_SEL_MIN
CONFIG_CMA_SIZE_SEL_MAX
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND
CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL
CONFIG_BLK_DEV_IDE_AU1XXX_PIO_DBDMA
CONFIG_BLK_DEV_IDE_AU1XXX_MDMA2_DBDMA
CONFIG_MMC_S3C_PIO
CONFIG_MMC_S3C_DMA
CONFIG_MTD_CFI_NOSWAP
CONFIG_MTD_CFI_BE_BYTE_SWAP
CONFIG_MTD_CFI_LE_BYTE_SWAP
CONFIG_MSP_FLASH_MAP_LIMIT_32M
CONFIG_WIZNET_BUS_DIRECT
CONFIG_WIZNET_BUS_INDIRECT
CONFIG_WIZNET_BUS_ANY
CONFIG_B43LEGACY_DMA_AND_PIO_MODE
CONFIG_B43LEGACY_DMA_MODE
CONFIG_B43LEGACY_PIO_MODE
CONFIG_B43_BUSES_BCMA_AND_SSB
CONFIG_B43_BUSES_BCMA
CONFIG_B43_BUSES_SSB
CONFIG_PCIEASPM_DEFAULT
CONFIG_PCIEASPM_POWERSAVE
CONFIG_PCIEASPM_POWER_SUPERSAVE
CONFIG_PCIEASPM_PERFORMANCE
CONFIG_RAPIDIO_ENUM_BASIC
CONFIG_RTC_DRV_DS1685
CONFIG_RTC_DRV_DS1689
CONFIG_RTC_DRV_DS17285
CONFIG_RTC_DRV_DS17485
CONFIG_RTC_DRV_DS17885
CONFIG_NET_MEDIATEK_MT7621
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE
CONFIG_THERMAL_DEFAULT_GOV_FAIR_SHARE
CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE
CONFIG_THERMAL_DEFAULT_GOV_POWER_ALLOCATOR
CONFIG_USB_DWC2_HOST
CONFIG_USB_DWC2_PERIPHERAL
CONFIG_USB_DWC2_DUAL_ROLE
CONFIG_USB_DWC3_HOST
CONFIG_USB_DWC3_GADGET
CONFIG_USB_DWC3_DUAL_ROLE
CONFIG_USB_G_DBGP_PRINTK
CONFIG_USB_G_DBGP_SERIAL
CONFIG_USB_ISP1760_HOST_ROLE
CONFIG_USB_ISP1760_GADGET_ROLE
CONFIG_USB_ISP1760_DUAL_ROLE
CONFIG_USB_MTU3_HOST
CONFIG_USB_MTU3_GADGET
CONFIG_USB_MTU3_DUAL_ROLE
CONFIG_USB_MUSB_HOST
CONFIG_USB_MUSB_GADGET
CONFIG_USB_MUSB_DUAL_ROLE
CONFIG_FB_BOTH_ENDIAN
CONFIG_FB_BIG_ENDIAN
CONFIG_FB_LITTLE_ENDIAN
CONFIG_FB_CARMINE_DRAM_EVAL
CONFIG_CARMINE_DRAM_CUSTOM
CONFIG_FB_MB862XX_PCI_GDC
CONFIG_FB_MB862XX_LIME
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC
CONFIG_AUFS_BRANCH_MAX_127
CONFIG_AUFS_BRANCH_MAX_511
CONFIG_AUFS_BRANCH_MAX_1023
CONFIG_AUFS_BRANCH_MAX_32767
CONFIG_AUFS_HFSNOTIFY
CONFIG_JFFS2_CMODE_NONE
CONFIG_JFFS2_CMODE_PRIORITY
CONFIG_JFFS2_CMODE_SIZE
CONFIG_JFFS2_CMODE_FAVOURLZO
CONFIG_PSTORE_DEFLATE_COMPRESS_DEFAULT
CONFIG_PSTORE_LZO_COMPRESS_DEFAULT
CONFIG_PSTORE_LZ4_COMPRESS_DEFAULT
CONFIG_PSTORE_LZ4HC_COMPRESS_DEFAULT
CONFIG_PSTORE_842_COMPRESS_DEFAULT
CONFIG_ROMFS_BACKED_BY_BLOCK
CONFIG_ROMFS_BACKED_BY_MTD
CONFIG_ROMFS_BACKED_BY_BOTH
CONFIG_SQUASHFS_FILE_CACHE
CONFIG_SQUASHFS_FILE_DIRECT
CONFIG_SQUASHFS_DECOMP_SINGLE
CONFIG_SQUASHFS_DECOMP_MULTI
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU
CONFIG_KERNEL_GZIP
CONFIG_KERNEL_BZIP2
CONFIG_KERNEL_LZMA
CONFIG_KERNEL_XZ
CONFIG_KERNEL_LZO
CONFIG_KERNEL_LZ4
CONFIG_TICK_CPU_ACCOUNTING
CONFIG_VIRT_CPU_ACCOUNTING_NATIVE
CONFIG_VIRT_CPU_ACCOUNTING_GEN
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE
CONFIG_CC_OPTIMIZE_FOR_SIZE
CONFIG_SLAB
CONFIG_SLUB
CONFIG_SLOB
CONFIG_MODULE_SIG_SHA1
CONFIG_MODULE_SIG_SHA224
CONFIG_MODULE_SIG_SHA256
CONFIG_MODULE_SIG_SHA384
CONFIG_MODULE_SIG_SHA512
CONFIG_MODULE_COMPRESS_GZIP
CONFIG_MODULE_COMPRESS_XZ
CONFIG_HZ_100
CONFIG_HZ_250
CONFIG_HZ_300
CONFIG_HZ_1000
CONFIG_PREEMPT_NONE
CONFIG_PREEMPT_VOLUNTARY
CONFIG_PREEMPT
CONFIG_GCOV_FORMAT_3_4
CONFIG_GCOV_FORMAT_4_7
CONFIG_HZ_PERIODIC
CONFIG_NO_HZ_IDLE
CONFIG_NO_HZ_FULL
CONFIG_BRANCH_PROFILE_NONE
CONFIG_PROFILE_ANNOTATED_BRANCHES
CONFIG_PROFILE_ALL_BRANCHES
CONFIG_KASAN_OUTLINE
CONFIG_KASAN_INLINE
CONFIG_CRC32_SLICEBY8
CONFIG_CRC32_SLICEBY4
CONFIG_CRC32_SARWATE
CONFIG_CRC32_BIT
CONFIG_FLATMEM_MANUAL
CONFIG_DISCONTIGMEM_MANUAL
CONFIG_SPARSEMEM_MANUAL
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE
CONFIG_DEFAULT_BIC
CONFIG_DEFAULT_CUBIC
CONFIG_DEFAULT_HTCP
CONFIG_DEFAULT_HYBLA
CONFIG_DEFAULT_VEGAS
CONFIG_DEFAULT_VENO
CONFIG_DEFAULT_WESTWOOD
CONFIG_DEFAULT_DCTCP
CONFIG_DEFAULT_CDG
CONFIG_DEFAULT_BBR
CONFIG_DEFAULT_RENO
CONFIG_MAC80211_RC_DEFAULT_MINSTREL
CONFIG_DEFAULT_FQ
CONFIG_DEFAULT_CODEL
CONFIG_DEFAULT_FQ_CODEL
CONFIG_DEFAULT_SFQ
CONFIG_DEFAULT_PFIFO_FAST
CONFIG_SCTP_DEFAULT_COOKIE_HMAC_MD5
CONFIG_SCTP_DEFAULT_COOKIE_HMAC_SHA1
CONFIG_SCTP_DEFAULT_COOKIE_HMAC_NONE
CONFIG_A1_0
CONFIG_A1_1
CONFIG_BOOL_CHOICE0
CONFIG_BOOL_CHOICE1
CONFIG_OPT_BOOL_CHOICE0
CONFIG_OPT_BOOL_CHOICE1
CONFIG_TRI_CHOICE0
CONFIG_TRI_CHOICE1
CONFIG_OPT_TRI_CHOICE0
CONFIG_OPT_TRI_CHOICE1
CONFIG_CHOICE0
CONFIG_CHOICE1
CONFIG_CHOICE_VAL0
CONFIG_CHOIVE_VAL1
CONFIG_DUMMY
CONFIG_CHOICE_B
CONFIG_CHOICE_C
CONFIG_CHOICE_D
CONFIG_CHOICE_E
CONFIG_CHOICE_F
CONFIG_CHOICE_B
CONFIG_CHOICE_C
CONFIG_A
CONFIG_B
CONFIG_C
CONFIG_D
CONFIG_E
CONFIG_C
CONFIG_D
CONFIG_E
CONFIG_E
CONFIG_DEFAULT_SECURITY_SELINUX
CONFIG_DEFAULT_SECURITY_SMACK
CONFIG_DEFAULT_SECURITY_TOMOYO
CONFIG_DEFAULT_SECURITY_APPARMOR
CONFIG_DEFAULT_SECURITY_DAC
CONFIG_IMA_TEMPLATE
CONFIG_IMA_NG_TEMPLATE
CONFIG_IMA_SIG_TEMPLATE
CONFIG_IMA_DEFAULT_HASH_SHA1
CONFIG_IMA_DEFAULT_HASH_SHA256
CONFIG_IMA_DEFAULT_HASH_SHA512
CONFIG_IMA_DEFAULT_HASH_WP512
CONFIG_SND_DM365_AIC3X_CODEC
CONFIG_SND_DM365_VOICE_CODEC
CONFIG_INITRAMFS_COMPRESSION_NONE
CONFIG_INITRAMFS_COMPRESSION_GZIP
CONFIG_INITRAMFS_COMPRESSION_BZIP2
CONFIG_INITRAMFS_COMPRESSION_LZMA
CONFIG_INITRAMFS_COMPRESSION_XZ
CONFIG_INITRAMFS_COMPRESSION_LZO
CONFIG_INITRAMFS_COMPRESSION_LZ4
