CONFIG_ATA
CONFIG_ATA_BMDMA
CONFIG_ATA_PIIX
CONFIG_ATA_SFF
CONFIG_AUTOFS4_FS
CONFIG_BLK_DEV
CONFIG_BLK_DEV_IDECD
CONFIG_BLK_DEV_SD
CONFIG_BLK_DEV_SR
CONFIG_BLOCK
CONFIG_CRC16
CONFIG_DAX
CONFIG_E1000
CONFIG_ETHERNET
CONFIG_EXT4_FS
CONFIG_FS_DAX
CONFIG_FS_ENCRYPTION
CONFIG_FS_MBCACHE
CONFIG_GDROM
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAVE_IDE
CONFIG_IDE
CONFIG_INET
CONFIG_IPV6
CONFIG_JBD2
CONFIG_MMU
CONFIG_NET
CONFIG_NETDEVICES
CONFIG_NET_VENDOR_INTEL
CONFIG_PCI
CONFIG_SCSI
CONFIG_SH_DREAMCAST
