CONFIG_64BIT
CONFIG_8250
CONFIG_8250_BASE
CONFIG_AB3100_CORE
CONFIG_ABX500_CORE
CONFIG_ACPI
CONFIG_ACPI_AC
CONFIG_ACPI_APEI
CONFIG_ACPI_APEI_GHES
CONFIG_ACPI_BATTERY
CONFIG_ACPI_BGRT
CONFIG_ACPI_BUTTON
CONFIG_ACPI_CONTAINER
CONFIG_ACPI_CPPC_LIB
CONFIG_ACPI_CPU_FREQ_PSS
CONFIG_ACPI_DEBUGGER
CONFIG_ACPI_DEBUGGER_USER
CONFIG_ACPI_DOCK
CONFIG_ACPI_FAN
CONFIG_ACPI_HED
CONFIG_ACPI_HOTPLUG_IOAPIC
CONFIG_ACPI_LPIT
CONFIG_ACPI_NUMA
CONFIG_ACPI_PCI_SLOT
CONFIG_ACPI_PROCESSOR
CONFIG_ACPI_PROCESSOR_IDLE
CONFIG_ACPI_SLEEP
CONFIG_ACPI_SPCR_TABLE
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT
CONFIG_ACPI_TABLE_UPGRADE
CONFIG_ACPI_THERMAL
CONFIG_ACPI_WATCHDOG
CONFIG_AGP
CONFIG_AGP_AMD64
CONFIG_AGPGART
CONFIG_AGP_INTEL
CONFIG_AGP_VIA
CONFIG_AIO
CONFIG_ALLOW_DEV_COREDUMP
CONFIG_ALLOW_LOCKDOWN_LIFT_BY_SYSRQ
CONFIG_AMD_IOMMU
CONFIG_AMD_MEM_ENCRYPT
CONFIG_AMD_NB
CONFIG_AMD_NUMA
CONFIG_AMIGA_PARTITION
CONFIG_ANON_INODES
CONFIG_APEI
CONFIG_APPARMOR
CONFIG_APPLE_PROPERTIES
CONFIG_ARCH_DISCARD_MEMBLOCK
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG
CONFIG_ARCH_ENABLE_MEMORY_HOTREMOVE
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE
CONFIG_ARCH_HAS_HMM
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX
CONFIG_ARCH_HAS_ZONE_DEVICE
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG
CONFIG_ARCH_HIBERNATION_POSSIBLE
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO
CONFIG_ARCH_PROC_KCORE_TEXT
CONFIG_ARCH_RANDOM
CONFIG_ARCH_SUPPORTS_ACPI
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING
CONFIG_ARCH_SUPPORTS_UPROBES
CONFIG_ARCH_SUSPEND_POSSIBLE
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH
CONFIG_ASN1
CONFIG_ASSOCIATIVE_ARRAY
CONFIG_ASYMMETRIC_KEY_TYPE
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE
CONFIG_ATA
CONFIG_ATA_ACPI
CONFIG_ATA_BMDMA
CONFIG_ATA_GENERIC
CONFIG_ATA_PIIX
CONFIG_ATARI_PARTITION
CONFIG_ATA_SFF
CONFIG_AUDIT
CONFIG_AUDITSYSCALL
CONFIG_AUDIT_TREE
CONFIG_AUDIT_WATCH
CONFIG_BACKLIGHT_CLASS_DEVICE
CONFIG_BACKLIGHT_LCD_SUPPORT
CONFIG_BIG_KEYS
CONFIG_BINFMT_ELF
CONFIG_BINFMT_SCRIPT
CONFIG_BLK_CGROUP
CONFIG_BLK_DEBUG_FS
CONFIG_BLK_DEV
CONFIG_BLK_DEV_BSG
CONFIG_BLK_DEV_INITRD
CONFIG_BLK_DEV_INTEGRITY
CONFIG_BLK_DEV_IO_TRACE
CONFIG_BLK_DEV_LOOP
CONFIG_BLK_DEV_MD
CONFIG_BLK_DEV_SD
CONFIG_BLK_DEV_SR
CONFIG_BLK_DEV_THROTTLING
CONFIG_BLK_DEV_ZONED
CONFIG_BLK_SCSI_REQUEST
CONFIG_BLK_WBT
CONFIG_BLOCK
CONFIG_BOOT_PRINTK_DELAY
CONFIG_BOUNCE
CONFIG_BPF_JIT
CONFIG_BPF_SYSCALL
CONFIG_BQL
CONFIG_BRIDGE
CONFIG_BRIDGE_NETFILTER
CONFIG_BSD_PROCESS_ACCT
CONFIG_BTREE
CONFIG_BUG
CONFIG_CDROM
CONFIG_CFQ_GROUP_IOSCHED
CONFIG_CGROUP_BPF
CONFIG_CGROUP_CPUACCT
CONFIG_CGROUP_DEVICE
CONFIG_CGROUP_FREEZER
CONFIG_CGROUP_HUGETLB
CONFIG_CGROUP_NET_CLASSID
CONFIG_CGROUP_NET_PRIO
CONFIG_CGROUP_PERF
CONFIG_CGROUP_PIDS
CONFIG_CGROUP_RDMA
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CGROUP_WRITEBACK
CONFIG_CHARGER_MANAGER
CONFIG_CHECKPOINT_RESTORE
CONFIG_CHR_DEV_SG
CONFIG_CLEANCACHE
CONFIG_CLOCKSOURCE_WATCHDOG
CONFIG_CMA
CONFIG_CMDLINE_PARTITION
CONFIG_CN
CONFIG_COMMON_CLK
CONFIG_COMPACTION
CONFIG_COMPAT
CONFIG_CONNECTOR
CONFIG_CONSOLE_TRANSLATIONS
CONFIG_CPU_FREQ
CONFIG_CPU_FREQ_GOV_CONSERVATIVE
CONFIG_CPU_FREQ_GOV_ONDEMAND
CONFIG_CPU_FREQ_GOV_PERFORMANCE
CONFIG_CPU_FREQ_GOV_POWERSAVE
CONFIG_CPU_FREQ_GOV_SCHEDUTIL
CONFIG_CPU_FREQ_GOV_USERSPACE
CONFIG_CPU_FREQ_STAT
CONFIG_CPU_IDLE
CONFIG_CPU_IDLE_GOV_LADDER
CONFIG_CPU_IDLE_GOV_MENU
CONFIG_CPU_ISOLATION
CONFIG_CPUMASK_OFFSTACK
CONFIG_CPUSETS
CONFIG_CPU_SUP_AMD
CONFIG_CPU_SUP_INTEL
CONFIG_CRASH_CORE
CONFIG_CRASH_DUMP
CONFIG_CRYPTO
CONFIG_CRYPTO_ACOMPRESS
CONFIG_CRYPTO_AEAD2
CONFIG_CRYPTO_AES
CONFIG_CRYPTO_AKCIPHER2
CONFIG_CRYPTO_ALGAPI
CONFIG_CRYPTO_BLKCIPHER
CONFIG_CRYPTO_CBC
CONFIG_CRYPTO_CRC32C
CONFIG_CRYPTO_CRCT10DIF
CONFIG_CRYPTO_CTR
CONFIG_CRYPTO_CTS
CONFIG_CRYPTO_DEFLATE
CONFIG_CRYPTO_DRBG
CONFIG_CRYPTO_DRBG_MENU
CONFIG_CRYPTO_ECB
CONFIG_CRYPTO_GCM
CONFIG_CRYPTO_GHASH
CONFIG_CRYPTO_HASH
CONFIG_CRYPTO_HMAC
CONFIG_CRYPTO_KPP2
CONFIG_CRYPTO_LZO
CONFIG_CRYPTO_MD5
CONFIG_CRYPTOMGR
CONFIG_CRYPTO_NULL2
CONFIG_CRYPTO_RNG2
CONFIG_CRYPTO_SEQIV
CONFIG_CRYPTO_SHA1
CONFIG_CRYPTO_SHA256
CONFIG_CRYPTO_SHA512
CONFIG_CRYPTO_WORKQUEUE
CONFIG_CRYPTO_XTS
CONFIG_DAX
CONFIG_DCACHE_WORD_ACCESS
CONFIG_DCB
CONFIG_DEBUG_BUGVERBOSE
CONFIG_DEBUG_FS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_SPINLOCK
CONFIG_DETECT_HUNG_TASK
CONFIG_DEV_COREDUMP
CONFIG_DEVFREQ_GOV_PASSIVE
CONFIG_DEVFREQ_GOV_PERFORMANCE
CONFIG_DEVFREQ_GOV_POWERSAVE
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND
CONFIG_DEVFREQ_GOV_USERSPACE
CONFIG_DEVFREQ_THERMAL
CONFIG_DEVICE_PRIVATE
CONFIG_DEVICE_PUBLIC
CONFIG_DEV_PAGEMAP_OPS
CONFIG_DEVTMPFS
CONFIG_DH_GENERIC
CONFIG_DMADEVICES
CONFIG_DMA_DIRECT_OPS
CONFIG_DMA_ENGINE
CONFIG_DMAR_TABLE
CONFIG_DMI
CONFIG_DMIID
CONFIG_DNOTIFY
CONFIG_DNS_RESOLVER
CONFIG_DQL
CONFIG_DRM
CONFIG_DRM_MIPI_DSI
CONFIG_DWC2
CONFIG_DYNAMIC_DEBUG
CONFIG_DYNAMIC_FTRACE
CONFIG_EARLY_PRINTK
CONFIG_EARLY_PRINTK_DBGP
CONFIG_EARLY_PRINTK_EFI
CONFIG_ECRYPT_FS
CONFIG_ECRYPTFS
CONFIG_ECRYPT_FS_MESSAGING
CONFIG_EDAC_CORE
CONFIG_EDD
CONFIG_EFI
CONFIG_EFI_ESRT
CONFIG_EFI_PARTITION
CONFIG_EFI_SIGNATURE_LIST_PARSER
CONFIG_EFI_STUB
CONFIG_EFI_VARS
CONFIG_EPOLL
CONFIG_EVENT_TRACING
CONFIG_EVM
CONFIG_EVM_ADD_XATTRS
CONFIG_EVM_ATTR_FSUUID
CONFIG_EXPERT
CONFIG_EXT4
CONFIG_EXT4_ENCRYPTION
CONFIG_EXT4_FS
CONFIG_EXT4_FS_ENCRYPTION
CONFIG_EXT4_FS_SECURITY
CONFIG_EXTRA
CONFIG_EZX_PCAP
CONFIG_FAIR_GROUP_SCHED
CONFIG_FANOTIFY
CONFIG_FAT
CONFIG_FB
CONFIG_FB_ASILIANT
CONFIG_FB_CMDLINE
CONFIG_FB_EFI
CONFIG_FB_IMSTT
CONFIG_FB_NOTIFY
CONFIG_FB_SIMPLE
CONFIG_FB_VESA
CONFIG_FIB_RULES
CONFIG_FILE_LOCKING
CONFIG_FIRMWARE_MEMMAP
CONFIG_FIXED_PHY
CONFIG_FRAME_POINTER
CONFIG_FREEZER
CONFIG_FRONTSWAP
CONFIG_FSCRYPTO
CONFIG_FS_DAX
CONFIG_FS_MBCACHE
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_FTRACE
CONFIG_FTRACE_SYSCALLS
CONFIG_FUNCTION_ERROR_INJECTION
CONFIG_FUNCTION_GRAPH_TRACER
CONFIG_FUNCTION_TRACER
CONFIG_FUTEX
CONFIG_FW_LOADER
CONFIG_FW_LOADER_USER_HELPER
CONFIG_GENERIC_ALLOCATOR
CONFIG_GENERIC_BUG
CONFIG_GENERIC_CALIBRATE_DELAY
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST
CONFIG_GENERIC_CPU_AUTOPROBE
CONFIG_GENERIC_CPU_VULNERABILITIES
CONFIG_GENERIC_EARLY_IOREMAP
CONFIG_GENERIC_IOMAP
CONFIG_GENERIC_IRQ_CHIP
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR
CONFIG_GENERIC_IRQ_MIGRATION
CONFIG_GENERIC_ISA_DMA
CONFIG_GENERIC_MSI_IRQ
CONFIG_GENERIC_MSI_IRQ_DOMAIN
CONFIG_GENERIC_PCI_IOMAP
CONFIG_GENERIC_PENDING_IRQ
CONFIG_GENERIC_PHY
CONFIG_GENERIC_SMP_IDLE_THREAD
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_GENERIC_STRNLEN_USER
CONFIG_GLOB
CONFIG_GPIO_ACPI
CONFIG_GPIOLIB
CONFIG_GPIO_LYNXPOINT
CONFIG_GPIO_PALMAS
CONFIG_GPIO_RC5T583
CONFIG_GPIO_SYSFS
CONFIG_GPIO_TPS6586X
CONFIG_GPIO_TPS65910
CONFIG_GPIO_TPS68470
CONFIG_GRO_CELLS
CONFIG_HARDENED_USERCOPY
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP
CONFIG_HARDLOCKUP_DETECTOR_PERF
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAS_IOPORT_MAP
CONFIG_HAVE_ACPI_APEI
CONFIG_HAVE_ARCH_AUDITSYSCALL
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES
CONFIG_HAVE_ARCH_HUGE_VMAP
CONFIG_HAVE_ARCH_JUMP_LABEL
CONFIG_HAVE_ARCH_KGDB
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE
CONFIG_HAVE_ARCH_VMAP_STACK
CONFIG_HAVE_CMPXCHG_LOCAL
CONFIG_HAVE_DYNAMIC_FTRACE
CONFIG_HAVE_FUNCTION_ERROR_INJECTION
CONFIG_HAVE_FUNCTION_GRAPH_TRACER
CONFIG_HAVE_FUNCTION_TRACER
CONFIG_HAVE_HARDENED_USERCOPY_ALLOCATOR
CONFIG_HAVE_HW_BREAKPOINT
CONFIG_HAVE_INTEL_TXT
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK
CONFIG_HAVE_KPROBES
CONFIG_HAVE_KVM
CONFIG_HAVE_MEMBLOCK
CONFIG_HAVE_MEMBLOCK_NODE_MAP
CONFIG_HAVE_MMIOTRACE_SUPPORT
CONFIG_HAVE_NMI
CONFIG_HAVE_OPTPROBES
CONFIG_HAVE_PCSPKR_PLATFORM
CONFIG_HAVE_PERF_EVENTS
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API
CONFIG_HAVE_RSEQ
CONFIG_HAVE_SYSCALL_TRACEPOINTS
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK
CONFIG_HIBERNATION
CONFIG_HIGH_RES_TIMERS
CONFIG_HIST_TRIGGERS
CONFIG_HMM
CONFIG_HMM_MIRROR
CONFIG_HOTPLUG_CPU
CONFIG_HOTPLUG_SMT
CONFIG_HPET
CONFIG_HPET_EMULATE_RTC
CONFIG_HPET_TIMER
CONFIG_HTC_I2CPLD
CONFIG_HUGETLBFS
CONFIG_HUGETLB_PAGE
CONFIG_HVC_DRIVER
CONFIG_HVC_XEN
CONFIG_HW_CONSOLE
CONFIG_HWLAT_TRACER
CONFIG_HWMON
CONFIG_HYPERV
CONFIG_HYPERVISOR_GUEST
CONFIG_HYPERV_STORAGE
CONFIG_I2C
CONFIG_I2C_AMD_MP2
CONFIG_I2C_CHARDEV
CONFIG_I2C_COMPAT
CONFIG_IA32_EMULATION
CONFIG_IDLE_PAGE_TRACKING
CONFIG_IMA
CONFIG_IMA_APPRAISE
CONFIG_INET
CONFIG_INOTIFY_USER
CONFIG_INPUT
CONFIG_INPUT_EVDEV
CONFIG_INPUT_KEYBOARD
CONFIG_INPUT_LEDS
CONFIG_INPUT_MISC
CONFIG_INPUT_MOUSEDEV
CONFIG_INPUT_TOUCHSCREEN
CONFIG_INPUT_UINPUT
CONFIG_INTEGRITY
CONFIG_INTEGRITY_AUDIT
CONFIG_INTEGRITY_SIGNATURE
CONFIG_INTEL_GTT
CONFIG_INTEL_IDLE
CONFIG_INTEL_IOMMU
CONFIG_INTEL_PMC_CORE
CONFIG_INTEL_RDT
CONFIG_INTEL_SOC_PMIC
CONFIG_INTEL_SOC_PMIC_CHTWC
CONFIG_INTEL_TURBO_MAX_3
CONFIG_INTEL_TXT
CONFIG_IOMMU_API
CONFIG_IOMMU_SUPPORT
CONFIG_IOSCHED_CFQ
CONFIG_IOSCHED_DEADLINE
CONFIG_IOSCHED_NOOP
CONFIG_IOSF_MBI
CONFIG_IOSF_MBI_DEBUG
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IPC_NS
CONFIG_IPMI_DMI_DECODE
CONFIG_IP_MROUTE
CONFIG_IP_MROUTE_COMMON
CONFIG_IP_MULTICAST
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_ROUTE_CLASSID
CONFIG_IPV6
CONFIG_IPV6_MROUTE
CONFIG_IPV6_MULTIPLE_TABLES
CONFIG_IPV6_SEG6_HMAC
CONFIG_IPV6_SEG6_LWTUNNEL
CONFIG_IPV6_SIT
CONFIG_IRQ_DOMAIN
CONFIG_IRQ_DOMAIN_HIERARCHY
CONFIG_IRQ_POLL
CONFIG_IRQ_REMAP
CONFIG_IRQ_WORK
CONFIG_ISA_BUS_API
CONFIG_ISA_DMA_API
CONFIG_ISCSI_IBFT_FIND
CONFIG_JAILHOUSE_GUEST
CONFIG_JITTERENTROPY_RNG
CONFIG_JUMP_LABEL
CONFIG_KALLSYMS
CONFIG_KARMA_PARTITION
CONFIG_KDB_KEYBOARD
CONFIG_KEXEC
CONFIG_KEXEC_CORE
CONFIG_KEYBOARD_ATKBD
CONFIG_KEYS
CONFIG_KGDB
CONFIG_KGDB_KDB
CONFIG_KGDB_SERIAL_CONSOLE
CONFIG_KPROBE_EVENTS
CONFIG_KPROBES
CONFIG_KSM
CONFIG_KVM
CONFIG_KVM_GUEST
CONFIG_KVM_INTEL
CONFIG_LDM_PARTITION
CONFIG_LEDS_CLASS
CONFIG_LEDS_TRIGGER_CPU
CONFIG_LEDS_TRIGGER_DISK
CONFIG_LEDS_TRIGGER_MTD
CONFIG_LEDS_TRIGGER_PANIC
CONFIG_LEDS_TRIGGERS
CONFIG_LEGACY_PTYS
CONFIG_LIB
CONFIG_LIBATA
CONFIG_LIBFTRACE
CONFIG_LIBNVDIMM
CONFIG_LIBPHY
CONFIG_LOAD_UEFI_KEYS
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOCK_DOWN_KERNEL
CONFIG_LOCK_SPIN_ON_OWNER
CONFIG_LOCKUP_DETECTOR
CONFIG_LWTUNNEL
CONFIG_LWTUNNEL_BPF
CONFIG_MAC_PARTITION
CONFIG_MAGIC_SYSRQ
CONFIG_MAILBOX
CONFIG_MD
CONFIG_MEMCG
CONFIG_MEMORY_FAILURE
CONFIG_MEMORY_HOTPLUG
CONFIG_MEMORY_HOTPLUG_SPARSE
CONFIG_MEMORY_HOTREMOVE
CONFIG_MEMTEST
CONFIG_MFD_AAT2870_CORE
CONFIG_MFD_AS3711
CONFIG_MFD_DA9052_I2C
CONFIG_MFD_DA9052_SPI
CONFIG_MFD_LP8788
CONFIG_MFD_MAX14577
CONFIG_MFD_MAX77693
CONFIG_MFD_MAX77843
CONFIG_MFD_MAX8997
CONFIG_MFD_MAX8998
CONFIG_MFD_PALMAS
CONFIG_MFD_RC5T583
CONFIG_MFD_SEC_CORE
CONFIG_MFD_SMSC
CONFIG_MFD_SYSCON
CONFIG_MFD_TPS65090
CONFIG_MFD_TPS6586X
CONFIG_MFD_TPS65910
CONFIG_MFD_TPS65912_I2C
CONFIG_MFD_TPS65912_SPI
CONFIG_MFD_TPS68470
CONFIG_MFD_TPS80031
CONFIG_MFD_TWL4030_AUDIO
CONFIG_MFD_WM831X_I2C
CONFIG_MFD_WM831X_SPI
CONFIG_MFD_WM8350_I2C
CONFIG_MFD_WM8400
CONFIG_MICROCODE
CONFIG_MICROCODE_INTEL
CONFIG_MIGRATION
CONFIG_MISC_FILESYSTEMS
CONFIG_MMC_CORE
CONFIG_MMIOTRACE
CONFIG_MMU
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_MODULES
CONFIG_MODULE_UNLOAD
CONFIG_MOUNTS
CONFIG_MSDOS_PARTITION
CONFIG_MTD
CONFIG_MTRR
CONFIG_MTRR_SANITIZER
CONFIG_MULTIUSER
CONFIG_MUTEX_SPIN_ON_OWNER
CONFIG_NAMESPACES
CONFIG_ND_E820
CONFIG_NEED_MULTIPLE_NODES
CONFIG_NET
CONFIG_NET_CLS
CONFIG_NET_CLS_ACT
CONFIG_NET_CORE
CONFIG_NETDEVICES
CONFIG_NETFILTER
CONFIG_NETFILTER_ADVANCED
CONFIG_NETLABEL
CONFIG_NET_NS
CONFIG_NETPOLL
CONFIG_NET_PTP_CLASSIFY
CONFIG_NET_SCHED
CONFIG_NET_SWITCHDEV
CONFIG_NETWORK_SECMARK
CONFIG_NEW_LEDS
CONFIG_NLATTR
CONFIG_NLS
CONFIG_NLS_CODEPAGE_437
CONFIG_NODES_SPAN_OTHER_NODES
CONFIG_NO_HZ_COMMON
CONFIG_NUMA
CONFIG_NUMA_BALANCING
CONFIG_NVM
CONFIG_NVMEM_CORE
CONFIG_OID_REGISTRY
CONFIG_OPTPROBES
CONFIG_OSF_PARTITION
CONFIG_PACKET
CONFIG_PADATA
CONFIG_PAGE_COUNTER
CONFIG_PAGE_POISONING
CONFIG_PAGE_TABLE_ISOLATION
CONFIG_PARAVIRT
CONFIG_PARTITION_ADVANCED
CONFIG_PATA_SIS
CONFIG_PCC
CONFIG_PCI
CONFIG_PCI_ATS
CONFIG_PCI_DIRECT
CONFIG_PCI_DOMAINS
CONFIG_PCIEAER
CONFIG_PCIEASPM
CONFIG_PCIE_DPC
CONFIG_PCIE_DW_PLAT
CONFIG_PCI_ENDPOINT
CONFIG_PCI_ENDPOINT_CONFIGFS
CONFIG_PCIE_PME
CONFIG_PCIEPORTBUS
CONFIG_PCIEPORTDRV
CONFIG_PCIE_PTM
CONFIG_PCI_IOV
CONFIG_PCI_LABEL
CONFIG_PCI_MMCONFIG
CONFIG_PCI_MSI
CONFIG_PCI_MSI_IRQ_DOMAIN
CONFIG_PCI_QUIRKS
CONFIG_PCI_XEN
CONFIG_PCSPKR_PLATFORM
CONFIG_PERF_EVENTS
CONFIG_PGTABLE_MAPPING
CONFIG_PHYLIB
CONFIG_PHYS_ADDR_T_64BIT
CONFIG_PID_NS
CONFIG_PINCTRL
CONFIG_PINCTRL_AMD
CONFIG_PINCTRL_BAYTRAIL
CONFIG_PINCTRL_CHERRYVIEW
CONFIG_PINCTRL_SX150X
CONFIG_PM
CONFIG_PMC_ATOM
CONFIG_PM_DEBUG
CONFIG_PM_DEVFREQ
CONFIG_PM_DEVFREQ_EVENT
CONFIG_PM_GENERIC_DOMAINS
CONFIG_PMIC_ADP5520
CONFIG_PMIC_DA903X
CONFIG_PM_OPP
CONFIG_PM_SLEEP
CONFIG_PM_SLEEP_DEBUG
CONFIG_PM_SLEEP_SMP
CONFIG_PM_TRACE_RTC
CONFIG_PNP
CONFIG_POSIX_MQUEUE
CONFIG_POSIX_MQUEUE_SYSCTL
CONFIG_POSIX_TIMERS
CONFIG_POWERCAP
CONFIG_POWER_RESET
CONFIG_POWER_RESET_RESTART
CONFIG_POWER_SUPPLY
CONFIG_PPP
CONFIG_PPS_CORE
CONFIG_PREEMPT_RCU
CONFIG_PRINTK
CONFIG_PRINTK_NMI
CONFIG_PROC
CONFIG_PROCESSOR
CONFIG_PROCESSOR_SELECT
CONFIG_PROC_EVENTS
CONFIG_PROC_FS
CONFIG_PROC_KCORE
CONFIG_PROC_PAGE_MONITOR
CONFIG_PROC_SYSCTL
CONFIG_PROC_VMCORE
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_PTP
CONFIG_PWM
CONFIG_PWM_CRC
CONFIG_PWM_LPSS_PCI
CONFIG_PWM_LPSS_PLATFORM
CONFIG_PWM_SYSFS
CONFIG_QUEUED_SPINLOCKS
CONFIG_QUOTA
CONFIG_QUOTACTL
CONFIG_QUOTA_NETLINK_INTERFACE
CONFIG_RADIX_TREE_MULTIORDER
CONFIG_RANDOMIZE_BASE
CONFIG_RANDOMIZE_MEMORY
CONFIG_RAPIDIO
CONFIG_RAS
CONFIG_RAS_CEC
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_REGMAP
CONFIG_REGULATOR
CONFIG_RELAY
CONFIG_RELOCATABLE
CONFIG_RETPOLINE
CONFIG_RFKILL
CONFIG_RFKILL_INPUT
CONFIG_RFKILL_LEDS
CONFIG_RING_BUFFER
CONFIG_RSA_GENERIC
CONFIG_RSEQ
CONFIG_RTC_CLASS
CONFIG_RTC_DRV_CMOS
CONFIG_RTC_HCTOSYS
CONFIG_RTC_LIB
CONFIG_RTC_MC146818_LIB
CONFIG_RT_MUTEXES
CONFIG_RWSEM_XCHGADD_ALGORITHM
CONFIG_SATA_PMP
CONFIG_SBITMAP
CONFIG_SCHED_AUTOGROUP
CONFIG_SCHED_DEBUG
CONFIG_SCHED_HRTICK
CONFIG_SCHED_INFO
CONFIG_SCHED_MC
CONFIG_SCHED_MC_PRIO
CONFIG_SCHED_SMT
CONFIG_SCHED_STACK_END_CHECK
CONFIG_SCHEDSTATS
CONFIG_SCHED_TRACER
CONFIG_SCSI
CONFIG_SCSI_DH
CONFIG_SCSI_LOWLEVEL
CONFIG_SCSI_MOD
CONFIG_SCSI_NETLINK
CONFIG_SCSI_PROC_FS
CONFIG_SECCOMP
CONFIG_SECONDARY_TRUSTED_KEYRING
CONFIG_SECURITY
CONFIG_SECURITY_APPARMOR
CONFIG_SECURITY_APPARMOR_HASH
CONFIG_SECURITYFS
CONFIG_SECURITY_NETWORK
CONFIG_SECURITY_PATH
CONFIG_SECURITY_SMACK
CONFIG_SECURITY_SMACK_NETFILTER
CONFIG_SELINUX
CONFIG_SERIAL_8250
CONFIG_SERIAL_8250_CONSOLE
CONFIG_SERIAL_8250_EXTENDED
CONFIG_SERIAL_8250_FINTEK
CONFIG_SERIAL_8250_PCI
CONFIG_SERIAL_8250_PNP
CONFIG_SERIAL_8250_RSA
CONFIG_SERIAL_CORE
CONFIG_SERIAL_DEV_BUS
CONFIG_SERIAL_DEV_CTRL_TTYPORT
CONFIG_SERIAL_EARLYCON
CONFIG_SERIAL_KGDB_NMI
CONFIG_SERIAL_MAX310X
CONFIG_SERIAL_SCCNXP
CONFIG_SERIO
CONFIG_SERIO_I8042
CONFIG_SERIO_LIBPS2
CONFIG_SFI
CONFIG_SGI_PARTITION
CONFIG_SG_POOL
CONFIG_SHMEM
CONFIG_SIGNALFD
CONFIG_SIGNATURE
CONFIG_SILEAD_DMI
CONFIG_SLAB_FREELIST_HARDENED
CONFIG_SLAB_FREELIST_RANDOM
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SLUB_DEBUG
CONFIG_SMACK
CONFIG_SMP
CONFIG_SPARSEMEM
CONFIG_SPARSEMEM_ALLOC_MEM_MAP_TOGETHER
CONFIG_SPARSEMEM_EXTREME
CONFIG_SPARSEMEM_VMEMMAP
CONFIG_SPARSEMEM_VMEMMAP_ENABLE
CONFIG_SPI
CONFIG_SPI_MASTER
CONFIG_SQUASHFS
CONFIG_SRAM
CONFIG_SRCU
CONFIG_STACK_TRACER
CONFIG_STACKTRACE_SUPPORT
CONFIG_STREAM_PARSER
CONFIG_STRICT_KERNEL_RWX
CONFIG_SUN_PARTITION
CONFIG_SUSPEND
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SWIOTLB_XEN
CONFIG_SW_SYNC
CONFIG_SYNC_FILE
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_SYS_HYPERVISOR
CONFIG_SYSTEM_BLACKLIST_KEYRING
CONFIG_SYSTEM_TRUSTED_KEYRING
CONFIG_SYSV68_PARTITION
CONFIG_SYSVIPC
CONFIG_SYSVIPC_SYSCTL
CONFIG_TASK_DELAY_ACCT
CONFIG_TASKS_RCU
CONFIG_TASKSTATS
CONFIG_TASK_XACCT
CONFIG_TCG_CRB
CONFIG_TCG_TIS
CONFIG_TCG_TPM
CONFIG_TCP_CONG_CUBIC
CONFIG_THERMAL
CONFIG_THERMAL_GOV_BANG_BANG
CONFIG_THERMAL_GOV_FAIR_SHARE
CONFIG_THERMAL_GOV_POWER_ALLOCATOR
CONFIG_THERMAL_GOV_STEP_WISE
CONFIG_THERMAL_GOV_USER_SPACE
CONFIG_THERMAL_STATISTICS
CONFIG_THERMAL_SYS
CONFIG_THREAD_INFO_IN_TASK
CONFIG_TICK_ONESHOT
CONFIG_TIMERFD
CONFIG_TMPFS
CONFIG_TOUCHSCREEN_ELAN
CONFIG_TOUCHSCREEN_SILEAD
CONFIG_TPM
CONFIG_TPS68470_PMIC_OPREGION
CONFIG_TRACE_CLOCK
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRACEPOINTS
CONFIG_TRACER_MAX_TRACE
CONFIG_TRACER_SNAPSHOT
CONFIG_TRACING
CONFIG_TRACING_SUPPORT
CONFIG_TRANSPARENT_HUGEPAGE
CONFIG_TRANSPARENT_HUGE_PAGECACHE
CONFIG_TREE_RCU
CONFIG_TREE_SRCU
CONFIG_TRUSTED_KEYS
CONFIG_TTY
CONFIG_TTY_PRINTK
CONFIG_TUN
CONFIG_TWL4030_CORE
CONFIG_TWL6040_CORE
CONFIG_UEVENT_HELPER
CONFIG_ULTRIX_PARTITION
CONFIG_UNIX
CONFIG_UNIX98_PTYS
CONFIG_UNWINDER_FRAME_POINTER
CONFIG_UPROBE_EVENTS
CONFIG_UPROBES
CONFIG_USB
CONFIG_USB_ARCH_HAS_HCD
CONFIG_USBCORE
CONFIG_USB_EHCI_HCD
CONFIG_USB_EHCI_HCD_PLATFORM
CONFIG_USB_EHCI_PCI
CONFIG_USB_OHCI_HCD
CONFIG_USB_OHCI_HCD_PCI
CONFIG_USB_OHCI_HCD_PLATFORM
CONFIG_USB_PCI
CONFIG_USB_SUPPORT
CONFIG_USB_UHCI_HCD
CONFIG_USB_XHCI_HCD
CONFIG_USB_XHCI_PCI
CONFIG_USERFAULTFD
CONFIG_USER_NS
CONFIG_UTS_NS
CONFIG_VFAT
CONFIG_VGA_ARB
CONFIG_VGA_CONSOLE
CONFIG_VIRTIO
CONFIG_VIRTIO_BALLOON
CONFIG_VIRTIO_CONSOLE
CONFIG_VIRTIO_MENU
CONFIG_VIRTIO_MMIO
CONFIG_VIRTIO_PCI
CONFIG_VIRTUALIZATION
CONFIG_VMAP_STACK
CONFIG_VME_BUS
CONFIG_VM_EVENT_COUNTERS
CONFIG_VT
CONFIG_VT_CONSOLE
CONFIG_WATCHDOG
CONFIG_WATCHDOG_CORE
CONFIG_WATCHDOG_PRETIMEOUT_GOV
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP
CONFIG_WEXT_CORE
CONFIG_WEXT_PROC
CONFIG_WIRELESS
CONFIG_WIRELESS_EXT
CONFIG_X86
CONFIG_X86_16BIT
CONFIG_X86_32
CONFIG_X86_64
CONFIG_X86_64_ACPI_NUMA
CONFIG_X86_ACPI_CPUFREQ
CONFIG_X86_ACPI_CPUFREQ_CPB
CONFIG_X86_AMD_PLATFORM_DEVICE
CONFIG_X86_CHECK_BIOS_CORRUPTION
CONFIG_X86_ESPFIX64
CONFIG_X86_EXTENDED_PLATFORM
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS
CONFIG_X86_INTEL_MPX
CONFIG_X86_INTEL_PSTATE
CONFIG_X86_IO_APIC
CONFIG_X86_LOCAL_APIC
CONFIG_X86_MCE
CONFIG_X86_MCE_AMD
CONFIG_X86_MCE_INTEL
CONFIG_X86_MCELOG_LEGACY
CONFIG_X86_MPPARSE
CONFIG_X86_NUMACHIP
CONFIG_X86_PAT
CONFIG_X86_PCC_CPUFREQ
CONFIG_X86_PLATFORM_DEVICES
CONFIG_X86_PMEM_LEGACY_DEVICE
CONFIG_X86_PM_TIMER
CONFIG_X86_POWERNOW_K8
CONFIG_X86_PTDUMP_CORE
CONFIG_X86_SMAP
CONFIG_X86_SPEEDSTEP_CENTRINO
CONFIG_X86_THERMAL_VECTOR
CONFIG_X86_TSC
CONFIG_X86_VSYSCALL_EMULATION
CONFIG_X86_X2APIC
CONFIG_X86_X32_ABI
CONFIG_XDP_SOCKETS
CONFIG_XEN
CONFIG_XEN_ACPI_PROCESSOR
CONFIG_XEN_BACKEND
CONFIG_XEN_BLKDEV_FRONTEND
CONFIG_XEN_DOM0
CONFIG_XEN_MCE_LOG
CONFIG_XEN_NETDEV_FRONTEND
CONFIG_XEN_PV
CONFIG_XEN_PVH
CONFIG_XEN_PVHVM
CONFIG_XEN_SYS_HYPERVISOR
CONFIG_XEN_XENBUS_FRONTEND
CONFIG_XFRM
CONFIG_XFRM_OFFLOAD
CONFIG_XFRM_STATISTICS
CONFIG_YAMA
CONFIG_ZBUD
CONFIG_ZONE_DEVICE
CONFIG_ZONE_DMA
CONFIG_ZPOOL
CONFIG_ZSMALLOC
CONFIG_ZSWAP
