CONFIG_64BIT
CONFIG_8250
CONFIG_8250_BASE
CONFIG_ADVISE_SYSCALLS
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING
CONFIG_BINFMT_ELF
CONFIG_BLK_CGROUP
CONFIG_BLK_DEV_SD
CONFIG_BLOCK
CONFIG_BSD_PROCESS_ACCT
CONFIG_CFQ_GROUP_IOSCHED
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CLOCKSOURCE_WATCHDOG
CONFIG_CONNECTOR
CONFIG_CPU_FREQ
CONFIG_CPUSETS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_SPINLOCK
CONFIG_E1000
CONFIG_ETHERNET
CONFIG_EXT4
CONFIG_EXT4_ENCRYPTION
CONFIG_EXT4_FS
CONFIG_EXT4_FS_ENCRYPTION
CONFIG_EXT4_FS_POSIX_ACL
CONFIG_EXT4_FS_SECURITY
CONFIG_FAIR_GROUP_SCHED
CONFIG_FILE_LOCKING
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_PENDING_IRQ
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_HARDENED_USERCOPY
CONFIG_HAS_IOMEM
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE
CONFIG_HAVE_HARDENED_USERCOPY_ALLOCATOR
CONFIG_HAVE_PERF_EVENTS
CONFIG_HOTPLUG_CPU
CONFIG_HUGETLBFS
CONFIG_HYPERVISOR_GUEST
CONFIG_IOSCHED_CFQ
CONFIG_KALLSYMS
CONFIG_LEDS_CLASS
CONFIG_LEDS_TRIGGER_DISK
CONFIG_LEDS_TRIGGERS
CONFIG_LIB
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_MEMCG
CONFIG_MIGRATION
CONFIG_MMU
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_MODULES
CONFIG_MULTIUSER
CONFIG_NAMESPACES
CONFIG_NET
CONFIG_NETDEVICES
CONFIG_NET_VENDOR_INTEL
CONFIG_NEW_LEDS
CONFIG_NO_HZ_COMMON
CONFIG_NUMA
CONFIG_NUMA_BALANCING
CONFIG_PAGE_POISONING
CONFIG_PAGE_TABLE_ISOLATION
CONFIG_PARAVIRT
CONFIG_PCI
CONFIG_PERF_EVENTS
CONFIG_PID_NS
CONFIG_PREEMPT_RCU
CONFIG_PROC
CONFIG_PROC_EVENTS
CONFIG_PROC_FS
CONFIG_PROC_SYSCTL
CONFIG_PROVE_LOCKING
CONFIG_QUOTA
CONFIG_RADIX_TREE_MULTIORDER
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_RETPOLINE
CONFIG_SCHED_AUTOGROUP
CONFIG_SCHED_DEBUG
CONFIG_SCHED_HRTICK
CONFIG_SCSI
CONFIG_SECCOMP
CONFIG_SECURITY
CONFIG_SERIAL_CORE
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SMP
CONFIG_STACKTRACE_SUPPORT
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_TICK_ONESHOT
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRANSPARENT_HUGEPAGE
CONFIG_TREE_RCU
CONFIG_TTY
CONFIG_UNIX
CONFIG_X86_16BIT
CONFIG_X86_64
CONFIG_X86_ESPFIX64
CONFIG_X86_IO_APIC
CONFIG_X86_LOCAL_APIC
CONFIG_X86_TSC
CONFIG_X86_X32_ABI
