CONFIG_64BIT
CONFIG_8250
CONFIG_8250_BASE
CONFIG_ACPI
CONFIG_ADVISE_SYSCALLS
CONFIG_AIO
CONFIG_APPARMOR
CONFIG_ARCH_HAS_PTE_SPECIAL
CONFIG_ARCH_HAS_STRICT_MODULE_RWX
CONFIG_ARCH_SUPPORTS_ACPI
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING
CONFIG_ARCH_SUPPORTS_UPROBES
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH
CONFIG_ASN1
CONFIG_ASSOCIATIVE_ARRAY
CONFIG_ASYMMETRIC_KEY_TYPE
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE
CONFIG_ATA
CONFIG_ATA_BMDMA
CONFIG_ATA_SFF
CONFIG_AUDIT
CONFIG_AUDITSYSCALL
CONFIG_BINFMT_ELF
CONFIG_BINFMT_SCRIPT
CONFIG_BLK_CGROUP
CONFIG_BLK_DEV_INTEGRITY
CONFIG_BLK_DEV_SD
CONFIG_BLK_DEV_THROTTLING
CONFIG_BLK_WBT
CONFIG_BLOCK
CONFIG_BOUNCE
CONFIG_BQL
CONFIG_BSD_PROCESS_ACCT
CONFIG_BUG
CONFIG_CFQ_GROUP_IOSCHED
CONFIG_CGROUP_CPUACCT
CONFIG_CGROUP_FREEZER
CONFIG_CGROUP_PIDS
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CGROUP_WRITEBACK
CONFIG_CLEANCACHE
CONFIG_CLOCKSOURCE_WATCHDOG
CONFIG_CMA
CONFIG_COMPAT
CONFIG_COMPAT_NETLINK_MESSAGES
CONFIG_CONNECTOR
CONFIG_CPU_FREQ
CONFIG_CPU_IDLE
CONFIG_CPUSETS
CONFIG_CPU_SUP_INTEL
CONFIG_CRYPTO
CONFIG_CRYPTO_HASH
CONFIG_CRYPTO_SHA512
CONFIG_DCACHE_WORD_ACCESS
CONFIG_DEBUG_FS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_SPINLOCK
CONFIG_DMI
CONFIG_DNOTIFY
CONFIG_DQL
CONFIG_DYNAMIC_DEBUG
CONFIG_DYNAMIC_FTRACE
CONFIG_DYNAMIC_FTRACE_WITH_REGS
CONFIG_E1000
CONFIG_ETHERNET
CONFIG_EVENT_TRACING
CONFIG_EXT4
CONFIG_EXT4_ENCRYPTION
CONFIG_EXT4_FS
CONFIG_EXT4_FS_ENCRYPTION
CONFIG_EXT4_FS_POSIX_ACL
CONFIG_EXT4_FS_SECURITY
CONFIG_FAIR_GROUP_SCHED
CONFIG_FIB_RULES
CONFIG_FILE_LOCKING
CONFIG_FREEZER
CONFIG_FSCRYPTO
CONFIG_FS_DAX
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_FTRACE
CONFIG_FTRACE_SYSCALLS
CONFIG_FUNCTION_ERROR_INJECTION
CONFIG_FUNCTION_GRAPH_TRACER
CONFIG_FUNCTION_TRACER
CONFIG_FUTEX
CONFIG_GENERIC_BUG
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_PENDING_IRQ
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_GENERIC_STRNLEN_USER
CONFIG_HARDENED_USERCOPY
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAVE_ARCH_AUDITSYSCALL
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES
CONFIG_HAVE_ARCH_JUMP_LABEL
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE
CONFIG_HAVE_ARCH_VMAP_STACK
CONFIG_HAVE_CMPXCHG_LOCAL
CONFIG_HAVE_DYNAMIC_FTRACE
CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS
CONFIG_HAVE_FUNCTION_ERROR_INJECTION
CONFIG_HAVE_FUNCTION_GRAPH_TRACER
CONFIG_HAVE_FUNCTION_TRACER
CONFIG_HAVE_HARDENED_USERCOPY_ALLOCATOR
CONFIG_HAVE_HW_BREAKPOINT
CONFIG_HAVE_KPROBES
CONFIG_HAVE_LIVEPATCH
CONFIG_HAVE_MEMBLOCK
CONFIG_HAVE_OPTPROBES
CONFIG_HAVE_PERF_EVENTS
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API
CONFIG_HAVE_RSEQ
CONFIG_HAVE_SYSCALL_TRACEPOINTS
CONFIG_HIGH_RES_TIMERS
CONFIG_HMM
CONFIG_HOTPLUG_CPU
CONFIG_HPET_TIMER
CONFIG_HUGETLBFS
CONFIG_HUGETLB_PAGE
CONFIG_HYPERVISOR_GUEST
CONFIG_IMA
CONFIG_INET
CONFIG_INTEGRITY
CONFIG_IOSCHED_CFQ
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IP_FIB_TRIE_STATS
CONFIG_IP_MROUTE
CONFIG_IP_MULTICAST
CONFIG_IP_ROUTE_CLASSID
CONFIG_IP_ROUTE_MULTIPATH
CONFIG_IPV6
CONFIG_IPV6_MROUTE
CONFIG_IPV6_MULTIPLE_TABLES
CONFIG_IPV6_NDISC_NODETYPE
CONFIG_IPV6_ROUTE_INFO
CONFIG_IPV6_ROUTER_PREF
CONFIG_IPV6_SUBTREES
CONFIG_IRQ_WORK
CONFIG_JUMP_LABEL
CONFIG_KALLSYMS
CONFIG_KALLSYMS_ALL
CONFIG_KEYS
CONFIG_KPROBE_EVENTS
CONFIG_KPROBES
CONFIG_KVM_GUEST
CONFIG_LEDS_CLASS
CONFIG_LEDS_TRIGGER_DISK
CONFIG_LEDS_TRIGGERS
CONFIG_LIB
CONFIG_LIBATA
CONFIG_LIBFTRACE
CONFIG_LIVEPATCH
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOCKUP_DETECTOR
CONFIG_LWTUNNEL
CONFIG_MANDATORY_FILE_LOCKING
CONFIG_MEMCG
CONFIG_MEMORY_FAILURE
CONFIG_MIGRATION
CONFIG_MMU
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_MODULES
CONFIG_MODULE_SIG
CONFIG_MODULES_TREE_LOOKUP
CONFIG_MODULE_UNLOAD
CONFIG_MTRR
CONFIG_MULTIUSER
CONFIG_NAMESPACES
CONFIG_NET
CONFIG_NET_CLS_ACT
CONFIG_NET_CORE
CONFIG_NETDEVICES
CONFIG_NET_L3_MASTER_DEV
CONFIG_NET_NS
CONFIG_NETPOLL
CONFIG_NET_RX_BUSY_POLL
CONFIG_NET_SCHED
CONFIG_NET_VENDOR_INTEL
CONFIG_NETWORK_PHY_TIMESTAMPING
CONFIG_NEW_LEDS
CONFIG_NO_HZ_COMMON
CONFIG_NUMA
CONFIG_NUMA_BALANCING
CONFIG_OPTPROBES
CONFIG_PAGE_POISONING
CONFIG_PAGE_TABLE_ISOLATION
CONFIG_PARAVIRT
CONFIG_PCI
CONFIG_PERF_EVENTS
CONFIG_PHYS_ADDR_T_64BIT
CONFIG_PID_NS
CONFIG_PM
CONFIG_PM_SLEEP
CONFIG_POSIX_TIMERS
CONFIG_PREEMPT_RCU
CONFIG_PRINTK
CONFIG_PROC
CONFIG_PROC_EVENTS
CONFIG_PROC_FS
CONFIG_PROC_SYSCTL
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_QUEUED_RWLOCKS
CONFIG_QUOTA
CONFIG_RADIX_TREE_MULTIORDER
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_RETPOLINE
CONFIG_RING_BUFFER
CONFIG_RPS
CONFIG_RSEQ
CONFIG_RWSEM_SPIN_ON_OWNER
CONFIG_RWSEM_XCHGADD_ALGORITHM
CONFIG_SCHED_AUTOGROUP
CONFIG_SCHED_DEBUG
CONFIG_SCHED_HRTICK
CONFIG_SCHED_STACK_END_CHECK
CONFIG_SCHEDSTATS
CONFIG_SCSI
CONFIG_SCSI_LOGGING
CONFIG_SCSI_MOD
CONFIG_SECCOMP
CONFIG_SECONDARY_TRUSTED_KEYRING
CONFIG_SECURITY
CONFIG_SECURITY_NETWORK
CONFIG_SECURITY_PATH
CONFIG_SERIAL_CORE
CONFIG_SG_POOL
CONFIG_SIGNALFD
CONFIG_SLAB_FREELIST_HARDENED
CONFIG_SLAB_FREELIST_RANDOM
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SMP
CONFIG_SOCK_VALIDATE_XMIT
CONFIG_STACKTRACE_SUPPORT
CONFIG_STRICT_MODULE_RWX
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_SYSTEM_DATA_VERIFICATION
CONFIG_SYSTEM_TRUSTED_KEYRING
CONFIG_SYSVIPC
CONFIG_TASK_DELAY_ACCT
CONFIG_TASKS_RCU
CONFIG_TASKSTATS
CONFIG_TCP_CONG_CUBIC
CONFIG_TCP_MD5SIG
CONFIG_THREAD_INFO_IN_TASK
CONFIG_TICK_ONESHOT
CONFIG_TRACE_CLOCK
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRACEPOINTS
CONFIG_TRACING
CONFIG_TRACING_SUPPORT
CONFIG_TRANSPARENT_HUGEPAGE
CONFIG_TRANSPARENT_HUGE_PAGECACHE
CONFIG_TREE_RCU
CONFIG_TREE_SRCU
CONFIG_TTY
CONFIG_UNIX
CONFIG_UNUSED_SYMBOLS
CONFIG_UPROBES
CONFIG_USERFAULTFD
CONFIG_USER_NS
CONFIG_VMAP_STACK
CONFIG_VM_EVENT_COUNTERS
CONFIG_WEXT_CORE
CONFIG_WIRELESS
CONFIG_X86_16BIT
CONFIG_X86_64
CONFIG_X86_ESPFIX64
CONFIG_X86_INTEL_MPX
CONFIG_X86_IO_APIC
CONFIG_X86_LOCAL_APIC
CONFIG_X86_PAT
CONFIG_X86_SMAP
CONFIG_X86_TSC
CONFIG_X86_X32_ABI
CONFIG_XFRM
CONFIG_XFRM_OFFLOAD
CONFIG_XPS
CONFIG_YAMA
