CONFIG_64BIT
CONFIG_8250
CONFIG_8250_BASE
CONFIG_ADVISE_SYSCALLS
CONFIG_ANON_INODES
CONFIG_APPARMOR
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG
CONFIG_ARCH_HAS_PTE_SPECIAL
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING
CONFIG_ARCH_SUPPORTS_UPROBES
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH
CONFIG_ASSOCIATIVE_ARRAY
CONFIG_ATA
CONFIG_ATA_BMDMA
CONFIG_ATA_SFF
CONFIG_AUDIT
CONFIG_AUDITSYSCALL
CONFIG_AUFS_BDEV_LOOP
CONFIG_AUFS_FS
CONFIG_BINFMT_ELF
CONFIG_BLK_CGROUP
CONFIG_BLK_DEV
CONFIG_BLK_DEV_INTEGRITY
CONFIG_BLK_DEV_LOOP
CONFIG_BLK_DEV_SD
CONFIG_BLK_DEV_THROTTLING
CONFIG_BLK_SCSI_REQUEST
CONFIG_BLK_WBT
CONFIG_BLOCK
CONFIG_BOUNCE
CONFIG_BPF
CONFIG_BPFILTER
CONFIG_BPFILTER_UMH
CONFIG_BPF_JIT
CONFIG_BPF_SYSCALL
CONFIG_BQL
CONFIG_BRIDGE
CONFIG_BRIDGE_IGMP_SNOOPING
CONFIG_BRIDGE_NETFILTER
CONFIG_BRIDGE_VLAN_FILTERING
CONFIG_BR_NETFILTER
CONFIG_BSD_PROCESS_ACCT
CONFIG_BUG
CONFIG_CFQ_GROUP_IOSCHED
CONFIG_CFS_BANDWIDTH
CONFIG_CGROUP_BPF
CONFIG_CGROUP_CPUACCT
CONFIG_CGROUP_DEVICE
CONFIG_CGROUP_FREEZER
CONFIG_CGROUP_HUGETLB
CONFIG_CGROUP_NET_CLASSID
CONFIG_CGROUP_NET_PRIO
CONFIG_CGROUP_PERF
CONFIG_CGROUP_PIDS
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CGROUP_WRITEBACK
CONFIG_CLEANCACHE
CONFIG_CLOCKSOURCE_WATCHDOG
CONFIG_CMA
CONFIG_COMPAT
CONFIG_COMPAT_NETLINK_MESSAGES
CONFIG_CONNECTOR
CONFIG_CPU_FREQ
CONFIG_CPU_IDLE
CONFIG_CPUSETS
CONFIG_CPU_SUP_INTEL
CONFIG_CRC32
CONFIG_CRYPTO
CONFIG_CRYPTO_CRC32C
CONFIG_CRYPTO_HASH
CONFIG_CRYPTO_SHA512
CONFIG_DEBUG_FS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_SPINLOCK
CONFIG_DETECT_HUNG_TASK
CONFIG_DNOTIFY
CONFIG_DYNAMIC_DEBUG
CONFIG_DYNAMIC_FTRACE
CONFIG_E1000
CONFIG_EPOLL
CONFIG_ETHERNET
CONFIG_EVENTFD
CONFIG_EVM
CONFIG_EXT4
CONFIG_EXT4_ENCRYPTION
CONFIG_EXT4_FS
CONFIG_EXT4_FS_ENCRYPTION
CONFIG_EXT4_FS_POSIX_ACL
CONFIG_EXT4_FS_SECURITY
CONFIG_FAIR_GROUP_SCHED
CONFIG_FIB_RULES
CONFIG_FILE_LOCKING
CONFIG_FREEZER
CONFIG_FSCRYPTO
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_FTRACE
CONFIG_FTRACE_SYSCALLS
CONFIG_FUNCTION_GRAPH_TRACER
CONFIG_FUNCTION_TRACER
CONFIG_FUTEX
CONFIG_GENERIC_BUG
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST
CONFIG_GENERIC_IOMAP
CONFIG_GENERIC_PENDING_IRQ
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_GENERIC_STRNLEN_USER
CONFIG_HARDENED_USERCOPY
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAVE_ARCH_AUDITSYSCALL
CONFIG_HAVE_ARCH_JUMP_LABEL
CONFIG_HAVE_ARCH_SECCOMP_FILTER
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE
CONFIG_HAVE_ARCH_VMAP_STACK
CONFIG_HAVE_CMPXCHG_LOCAL
CONFIG_HAVE_DYNAMIC_FTRACE
CONFIG_HAVE_FUNCTION_GRAPH_TRACER
CONFIG_HAVE_FUNCTION_TRACER
CONFIG_HAVE_HARDENED_USERCOPY_ALLOCATOR
CONFIG_HAVE_HW_BREAKPOINT
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK
CONFIG_HAVE_MEMBLOCK
CONFIG_HAVE_PERF_EVENTS
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API
CONFIG_HAVE_RSEQ
CONFIG_HAVE_SYSCALL_TRACEPOINTS
CONFIG_HIGH_RES_TIMERS
CONFIG_HOTPLUG_CPU
CONFIG_HUGETLBFS
CONFIG_HUGETLB_PAGE
CONFIG_HYPERVISOR_GUEST
CONFIG_IMA
CONFIG_IMA_APPRAISE
CONFIG_INET
CONFIG_INTEGRITY
CONFIG_IOSCHED_CFQ
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IPC_NS
CONFIG_IP_FIB_TRIE_STATS
CONFIG_IP_MROUTE
CONFIG_IP_MULTICAST
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_NF_FILTER
CONFIG_IP_NF_IPTABLES
CONFIG_IP_NF_NAT
CONFIG_IP_NF_TARGET_MASQUERADE
CONFIG_IP_ROUTE_CLASSID
CONFIG_IP_ROUTE_MULTIPATH
CONFIG_IPV6
CONFIG_IPV6_MROUTE
CONFIG_IPV6_MULTIPLE_TABLES
CONFIG_IPV6_SEG6_HMAC
CONFIG_IRQ_WORK
CONFIG_JUMP_LABEL
CONFIG_KALLSYMS
CONFIG_KEYS
CONFIG_LEDS_CLASS
CONFIG_LEDS_TRIGGER_DISK
CONFIG_LEDS_TRIGGERS
CONFIG_LEGACY_PTYS
CONFIG_LIB
CONFIG_LIBATA
CONFIG_LIBCRC32C
CONFIG_LIBFTRACE
CONFIG_LLC
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOCK_DOWN_KERNEL
CONFIG_LOCK_SPIN_ON_OWNER
CONFIG_LOCKUP_DETECTOR
CONFIG_LWTUNNEL
CONFIG_MEMCG
CONFIG_MEMFD_CREATE
CONFIG_MEMORY_FAILURE
CONFIG_MEMORY_HOTPLUG
CONFIG_MIGRATION
CONFIG_MISC_FILESYSTEMS
CONFIG_MMU
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_MODULES
CONFIG_MODULES_TREE_LOOKUP
CONFIG_MODULE_UNLOAD
CONFIG_MULTIUSER
CONFIG_MUTEX_SPIN_ON_OWNER
CONFIG_n
CONFIG_NAMESPACES
CONFIG_NET
CONFIG_NET_CLS
CONFIG_NET_CLS_ACT
CONFIG_NET_CORE
CONFIG_NETDEVICES
CONFIG_NETFILTER
CONFIG_NETFILTER_ADVANCED
CONFIG_NETFILTER_FAMILY_BRIDGE
CONFIG_NETFILTER_INGRESS
CONFIG_NETFILTER_NETLINK
CONFIG_NETFILTER_XTABLES
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE
CONFIG_NETFILTER_XT_MATCH_CONNTRACK
CONFIG_NETFILTER_XT_NAT
CONFIG_NETFILTER_XT_TARGET_CT
CONFIG_NET_FLOW_LIMIT
CONFIG_NET_L3_MASTER_DEV
CONFIG_NET_NS
CONFIG_NET_POLL_CONTROLLER
CONFIG_NET_RX_BUSY_POLL
CONFIG_NET_SCHED
CONFIG_NET_SWITCHDEV
CONFIG_NET_VENDOR_INTEL
CONFIG_NETWORK_PHY_TIMESTAMPING
CONFIG_NEW_LEDS
CONFIG_NF_CONNTRACK
CONFIG_NF_CONNTRACK_EVENTS
CONFIG_NF_CONNTRACK_IPV4
CONFIG_NF_CONNTRACK_LABELS
CONFIG_NF_CONNTRACK_TIMEOUT
CONFIG_NF_CONNTRACK_TIMESTAMP
CONFIG_NF_CONNTRACK_ZONES
CONFIG_NF_CT_NETLINK
CONFIG_NF_CT_PROTO_DCCP
CONFIG_NF_CT_PROTO_SCTP
CONFIG_NF_DEFRAG_IPV4
CONFIG_NF_NAT
CONFIG_NF_NAT_IPV4
CONFIG_NF_NAT_MASQUERADE_IPV4
CONFIG_NLATTR
CONFIG_NO_HZ_COMMON
CONFIG_NUMA
CONFIG_NUMA_BALANCING
CONFIG_OF
CONFIG_OF_OVERLAY
CONFIG_OVERLAY_FS
CONFIG_PACKET
CONFIG_PAGE_COUNTER
CONFIG_PAGE_POISONING
CONFIG_PARAVIRT
CONFIG_PCI
CONFIG_PERF_EVENTS
CONFIG_PHYS_ADDR_T_64BIT
CONFIG_PID_NS
CONFIG_PM
CONFIG_PM_SLEEP
CONFIG_POSIX_MQUEUE
CONFIG_POSIX_TIMERS
CONFIG_PPP
CONFIG_PREEMPT_RCU
CONFIG_PRINTK
CONFIG_PROC
CONFIG_PROC_EVENTS
CONFIG_PROC_FS
CONFIG_PROC_SYSCTL
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_QUEUED_RWLOCKS
CONFIG_QUEUED_SPINLOCKS
CONFIG_QUOTA
CONFIG_RADIX_TREE_MULTIORDER
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_RETPOLINE
CONFIG_RPS
CONFIG_RSEQ
CONFIG_RWSEM_SPIN_ON_OWNER
CONFIG_RWSEM_XCHGADD_ALGORITHM
CONFIG_SCHED_AUTOGROUP
CONFIG_SCHED_DEBUG
CONFIG_SCHED_HRTICK
CONFIG_SCHED_INFO
CONFIG_SCHED_STACK_END_CHECK
CONFIG_SCHEDSTATS
CONFIG_SCSI
CONFIG_SCSI_MOD
CONFIG_SECCOMP
CONFIG_SECCOMP_FILTER
CONFIG_SECURITY
CONFIG_SECURITY_NETWORK
CONFIG_SECURITY_NETWORK_XFRM
CONFIG_SECURITY_PATH
CONFIG_SERIAL_CORE
CONFIG_SG_POOL
CONFIG_SHMEM
CONFIG_SLAB_FREELIST_HARDENED
CONFIG_SLAB_FREELIST_RANDOM
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SMP
CONFIG_SOCK_VALIDATE_XMIT
CONFIG_STACKTRACE_SUPPORT
CONFIG_STP
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SYN_COOKIES
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_SYSVIPC
CONFIG_TASK_DELAY_ACCT
CONFIG_TASKSTATS
CONFIG_TCP_CONG_CUBIC
CONFIG_TCP_MD5SIG
CONFIG_TICK_ONESHOT
CONFIG_TMPFS
CONFIG_TMPFS_XATTR
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRACING
CONFIG_TRACING_SUPPORT
CONFIG_TRANSPARENT_HUGEPAGE
CONFIG_TREE_RCU
CONFIG_TREE_SRCU
CONFIG_TTY
CONFIG_UNIX
CONFIG_UNIX98_PTYS
CONFIG_UPROBES
CONFIG_USERFAULTFD
CONFIG_USER_NS
CONFIG_UTS_NS
CONFIG_VETH
CONFIG_VLAN_8021Q
CONFIG_VMAP_STACK
CONFIG_VM_EVENT_COUNTERS
CONFIG_WEXT_CORE
CONFIG_WEXT_PROC
CONFIG_WIRELESS
CONFIG_X86_16BIT
CONFIG_X86_64
CONFIG_X86_CHECK_BIOS_CORRUPTION
CONFIG_X86_ESPFIX64
CONFIG_X86_INTEL_MPX
CONFIG_X86_IO_APIC
CONFIG_X86_LOCAL_APIC
CONFIG_X86_MCE
CONFIG_X86_MCE_INTEL
CONFIG_X86_SMAP
CONFIG_X86_TSC
CONFIG_X86_X32_ABI
CONFIG_XFRM
CONFIG_XFRM_ALGO
CONFIG_XFRM_OFFLOAD
CONFIG_XFRM_STATISTICS
CONFIG_XFRM_USER
CONFIG_XPS
CONFIG_YAMA
CONFIG_ZONE_DMA
