CONFIG_VIRTIO
CONFIG_VIRTIO_PCI
CONFIG_VIRTIO_BALLOON
CONFIG_VIRTIO_NET
CONFIG_VIRTIO_BLK
CONFIG_VIRTIO_PCI
CONFIG_VIRTIO_BALLOON
CONFIG_VIRTIO_RING
CONFIG_VIRTIO_CONSOLE
CONFIG_HW_RANDOM_VIRTIO
CONFIG_PCI_MSI
CONFIG_PARAVIRT_GUEST
CONFIG_KVM_CLOCK
CONFIG_KVM_GUEST
CONFIG_PARAVIRT
CONFIG_PARAVIRT_SPINLOCKS
CONFIG_MEMORY_HOTPLUG
CONFIG_MEMORY_HOTREMOVE
CONFIG_PROCESSOR_FAMILY
CONFIG_ACPIPHP
CONFIG_PCI_HOTPLUG
