CONFIG_64BIT
CONFIG_8139TOO
CONFIG_8250
CONFIG_8250_BASE
CONFIG_ACPI
CONFIG_ACPI_AC
CONFIG_ACPI_BATTERY
CONFIG_ACPI_BUTTON
CONFIG_ACPI_CPPC_LIB
CONFIG_ACPI_CPU_FREQ_PSS
CONFIG_ACPI_FAN
CONFIG_ACPI_HOTPLUG_IOAPIC
CONFIG_ACPI_LPIT
CONFIG_ACPI_NUMA
CONFIG_ACPI_PROCESSOR
CONFIG_ACPI_PROCESSOR_IDLE
CONFIG_ACPI_SLEEP
CONFIG_ACPI_SPCR_TABLE
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT
CONFIG_ACPI_THERMAL
CONFIG_ADVISE_SYSCALLS
CONFIG_AGP
CONFIG_AGP_AMD64
CONFIG_AGPGART
CONFIG_AGP_INTEL
CONFIG_AIO
CONFIG_AMD_IOMMU
CONFIG_AMD_NB
CONFIG_AMD_NUMA
CONFIG_AMIGA_PARTITION
CONFIG_ANON_INODES
CONFIG_ARCH_HIBERNATION_POSSIBLE
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO
CONFIG_ARCH_SUPPORTS_ACPI
CONFIG_ARCH_SUPPORTS_UPROBES
CONFIG_ARCH_SUSPEND_POSSIBLE
CONFIG_ASN1
CONFIG_ASSOCIATIVE_ARRAY
CONFIG_ASYMMETRIC_KEY_TYPE
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE
CONFIG_ATA
CONFIG_ATA_ACPI
CONFIG_ATA_BMDMA
CONFIG_ATA_PIIX
CONFIG_ATA_SFF
CONFIG_AUDIT
CONFIG_AUDITSYSCALL
CONFIG_AUDIT_TREE
CONFIG_AUDIT_WATCH
CONFIG_AUTH_RPCGSS
CONFIG_BACKLIGHT_CLASS_DEVICE
CONFIG_BACKLIGHT_GENERIC
CONFIG_BACKLIGHT_LCD_SUPPORT
CONFIG_BINFMT_ELF
CONFIG_BINFMT_MISC
CONFIG_BINFMT_SCRIPT
CONFIG_BLK_DEBUG_FS
CONFIG_BLK_DEV
CONFIG_BLK_DEV_BSG
CONFIG_BLK_DEV_DM
CONFIG_BLK_DEV_INITRD
CONFIG_BLK_DEV_IO_TRACE
CONFIG_BLK_DEV_LOOP
CONFIG_BLK_DEV_MD
CONFIG_BLK_DEV_SD
CONFIG_BLK_DEV_SR
CONFIG_BLK_SCSI_REQUEST
CONFIG_BLOCK
CONFIG_BOUNCE
CONFIG_BPF
CONFIG_BSD_PROCESS_ACCT
CONFIG_CAVIUM_PTP
CONFIG_CDROM
CONFIG_CFG80211
CONFIG_CGROUP_CPUACCT
CONFIG_CGROUP_FREEZER
CONFIG_CGROUPS
CONFIG_CHR_DEV_SG
CONFIG_CN
CONFIG_COMMON_CLK
CONFIG_COMPAT
CONFIG_CONNECTOR
CONFIG_CONSOLE_TRANSLATIONS
CONFIG_CORE
CONFIG_CPU_FREQ
CONFIG_CPU_FREQ_GOV_ONDEMAND
CONFIG_CPU_FREQ_GOV_PERFORMANCE
CONFIG_CPU_FREQ_GOV_USERSPACE
CONFIG_CPU_IDLE
CONFIG_CPU_IDLE_GOV_MENU
CONFIG_CPU_ISOLATION
CONFIG_CPUSETS
CONFIG_CPU_SUP_AMD
CONFIG_CPU_SUP_INTEL
CONFIG_CRASH_CORE
CONFIG_CRASH_DUMP
CONFIG_CRC32
CONFIG_CRYPTO
CONFIG_CRYPTO_AES
CONFIG_CRYPTO_AKCIPHER2
CONFIG_CRYPTO_ALGAPI
CONFIG_CRYPTO_ARC4
CONFIG_CRYPTO_AUTHENC
CONFIG_CRYPTO_CBC
CONFIG_CRYPTO_CCM
CONFIG_CRYPTO_CMAC
CONFIG_CRYPTO_CRC32C
CONFIG_CRYPTO_CTR
CONFIG_CRYPTO_DES
CONFIG_CRYPTO_DRBG
CONFIG_CRYPTO_DRBG_MENU
CONFIG_CRYPTO_ECHAINIV
CONFIG_CRYPTO_GCM
CONFIG_CRYPTO_GHASH
CONFIG_CRYPTO_HASH
CONFIG_CRYPTO_HMAC
CONFIG_CRYPTO_MD5
CONFIG_CRYPTOMGR
CONFIG_CRYPTO_NULL2
CONFIG_CRYPTO_RNG2
CONFIG_CRYPTO_SEQIV
CONFIG_CRYPTO_SHA1
CONFIG_CRYPTO_SHA256
CONFIG_CRYPTO_WORKQUEUE
CONFIG_DEBUG_FS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_SPINLOCK
CONFIG_DEVTMPFS
CONFIG_DMADEVICES
CONFIG_DMA_DIRECT_OPS
CONFIG_DMA_ENGINE
CONFIG_DMAR_TABLE
CONFIG_DMA_SHARED_BUFFER
CONFIG_DMI
CONFIG_DMIID
CONFIG_DM_MIRROR
CONFIG_DM_ZERO
CONFIG_DNOTIFY
CONFIG_DNS_RESOLVER
CONFIG_DQL
CONFIG_DRIVERS
CONFIG_DRM
CONFIG_DRM_FBDEV_EMULATION
CONFIG_DRM_MIPI_DSI
CONFIG_DST_CACHE
CONFIG_E100
CONFIG_EDAC_CORE
CONFIG_EDAC_MCE_AMD
CONFIG_EEEPC_LAPTOP
CONFIG_EFI
CONFIG_EFI_ESRT
CONFIG_EFI_PARTITION
CONFIG_EFI_VARS
CONFIG_EPOLL
CONFIG_ETHERNET
CONFIG_EVENT_TRACING
CONFIG_EXT4
CONFIG_EXT4_FS
CONFIG_EXT4_FS_POSIX_ACL
CONFIG_EXT4_FS_SECURITY
CONFIG_EXTRA
CONFIG_FAT
CONFIG_FB
CONFIG_FB_EFI
CONFIG_FB_NOTIFY
CONFIG_FIB_RULES
CONFIG_FILE_LOCKING
CONFIG_FIRMWARE_MEMMAP
CONFIG_FORCEDETH
CONFIG_FREEZER
CONFIG_FS_MBCACHE
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_FTRACE
CONFIG_FUNCTION_ERROR_INJECTION
CONFIG_FUTEX
CONFIG_GENERIC_ALLOCATOR
CONFIG_GENERIC_CALIBRATE_DELAY
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_EARLY_IOREMAP
CONFIG_GENERIC_IOMAP
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR
CONFIG_GENERIC_IRQ_MIGRATION
CONFIG_GENERIC_ISA_DMA
CONFIG_GENERIC_MSI_IRQ
CONFIG_GENERIC_PCI_IOMAP
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_GENERIC_STRNLEN_USER
CONFIG_GLOB
CONFIG_GRACE_PERIOD
CONFIG_GRO_CELLS
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAVE_ARCH_AUDITSYSCALL
CONFIG_HAVE_ARCH_JUMP_LABEL
CONFIG_HAVE_FUNCTION_ERROR_INJECTION
CONFIG_HAVE_HW_BREAKPOINT
CONFIG_HAVE_KPROBES
CONFIG_HAVE_MEMBLOCK
CONFIG_HAVE_PCSPKR_PLATFORM
CONFIG_HAVE_PERF_EVENTS
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API
CONFIG_HIBERNATION
CONFIG_HID
CONFIG_HID_A4TECH
CONFIG_HID_APPLE
CONFIG_HID_BELKIN
CONFIG_HID_CHERRY
CONFIG_HID_CHICONY
CONFIG_HID_CYPRESS
CONFIG_HID_EZKEY
CONFIG_HID_GENERIC
CONFIG_HID_GYRATION
CONFIG_HID_ITE
CONFIG_HID_KENSINGTON
CONFIG_HID_MICROSOFT
CONFIG_HID_MONTEREY
CONFIG_HID_NTRIG
CONFIG_HID_PANTHERLORD
CONFIG_HID_PETALYNX
CONFIG_HIDRAW
CONFIG_HID_REDRAGON
CONFIG_HID_SAMSUNG
CONFIG_HID_SONY
CONFIG_HID_SUNPLUS
CONFIG_HID_TOPSEED
CONFIG_HOTPLUG_PCI
CONFIG_HPET
CONFIG_HPET_TIMER
CONFIG_HUGETLBFS
CONFIG_HUGETLB_PAGE
CONFIG_HW_CONSOLE
CONFIG_HWMON
CONFIG_HW_RANDOM
CONFIG_HW_RANDOM_VIA
CONFIG_I2C
CONFIG_I2C_I801
CONFIG_I2C_SMBUS
CONFIG_INET
CONFIG_INET6_AH
CONFIG_INET6_ESP
CONFIG_INET6_XFRM_MODE_BEET
CONFIG_INET6_XFRM_MODE_TRANSPORT
CONFIG_INET6_XFRM_MODE_TUNNEL
CONFIG_INET_TUNNEL
CONFIG_INIT
CONFIG_INOTIFY_USER
CONFIG_INPUT
CONFIG_INPUT_EVDEV
CONFIG_INPUT_KEYBOARD
CONFIG_INPUT_LEDS
CONFIG_INPUT_MOUSE
CONFIG_INTEGRITY
CONFIG_INTEL_GTT
CONFIG_IOMMU_API
CONFIG_IOMMU_SUPPORT
CONFIG_IOSCHED_CFQ
CONFIG_IOSCHED_DEADLINE
CONFIG_IOSCHED_NOOP
CONFIG_IOSF_MBI
CONFIG_IP6_NF_FILTER
CONFIG_IP6_NF_IPTABLES
CONFIG_IP6_NF_MANGLE
CONFIG_IP6_NF_MATCH_IPV6HEADER
CONFIG_IP6_NF_TARGET_REJECT
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IPC_NS
CONFIG_IP_MROUTE
CONFIG_IP_MROUTE_COMMON
CONFIG_IP_MULTICAST
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_NF_FILTER
CONFIG_IP_NF_IPTABLES
CONFIG_IP_NF_MANGLE
CONFIG_IP_NF_TARGET_REJECT
CONFIG_IP_PNP
CONFIG_IPV6
CONFIG_IPV6_SIT
CONFIG_IRQ_DOMAIN
CONFIG_IRQ_WORK
CONFIG_ISA_DMA_API
CONFIG_JITTERENTROPY_RNG
CONFIG_JUMP_LABEL
CONFIG_KALLSYMS
CONFIG_KARMA_PARTITION
CONFIG_KERNFS
CONFIG_KEXEC_CORE
CONFIG_KEYBOARD_ATKBD
CONFIG_KEYS
CONFIG_KPROBE_EVENTS
CONFIG_KPROBES
CONFIG_LEDS_CLASS
CONFIG_LEDS_TRIGGERS
CONFIG_LEGACY_PTYS
CONFIG_LIB
CONFIG_LIBATA
CONFIG_LIBPHY
CONFIG_LIBS
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOCK_SPIN_ON_OWNER
CONFIG_LOGO
CONFIG_MAC_EMUMOUSEBTN
CONFIG_MACINTOSH_DRIVERS
CONFIG_MAC_PARTITION
CONFIG_MAGIC_SYSRQ
CONFIG_MAILBOX
CONFIG_MD
CONFIG_MICROCODE
CONFIG_MICROCODE_INTEL
CONFIG_MMU
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_MODULES
CONFIG_MOUNTS
CONFIG_MOUSE_PS2
CONFIG_MOUSE_PS2_ALPS
CONFIG_MOUSE_PS2_CYPRESS
CONFIG_MOUSE_PS2_LIFEBOOK
CONFIG_MOUSE_PS2_LOGIPS2PP
CONFIG_MOUSE_PS2_SMBUS
CONFIG_MOUSE_PS2_TRACKPOINT
CONFIG_MQ_IOSCHED_DEADLINE
CONFIG_MQ_IOSCHED_KYBER
CONFIG_MSDOS
CONFIG_MSDOS_PARTITION
CONFIG_MTRR
CONFIG_MULTIUSER
CONFIG_NAMESPACES
CONFIG_NET
CONFIG_NET_CLS
CONFIG_NET_CLS_ACT
CONFIG_NETCONSOLE
CONFIG_NET_CORE
CONFIG_NETDEVICES
CONFIG_NETFILTER
CONFIG_NETFILTER_NETLINK
CONFIG_NETFILTER_NETLINK_LOG
CONFIG_NETFILTER_XTABLES
CONFIG_NETFILTER_XT_MATCH_CONNTRACK
CONFIG_NETFILTER_XT_MATCH_POLICY
CONFIG_NETFILTER_XT_MATCH_STATE
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK
CONFIG_NETFILTER_XT_TARGET_NFLOG
CONFIG_NETFILTER_XT_TARGET_SECMARK
CONFIG_NETFILTER_XT_TARGET_TCPMSS
CONFIG_NET_IP_TUNNEL
CONFIG_NETLABEL
CONFIG_NETPOLL
CONFIG_NET_PTP_CLASSIFY
CONFIG_NET_SCHED
CONFIG_NET_VENDOR_BROADCOM
CONFIG_NET_VENDOR_CAVIUM
CONFIG_NET_VENDOR_INTEL
CONFIG_NET_VENDOR_MARVELL
CONFIG_NET_VENDOR_NVIDIA
CONFIG_NET_VENDOR_REALTEK
CONFIG_NETWORK_FILESYSTEMS
CONFIG_NETWORK_SECMARK
CONFIG_NEW_LEDS
CONFIG_NF_CONNTRACK
CONFIG_NF_CONNTRACK_FTP
CONFIG_NF_CONNTRACK_IPV4
CONFIG_NF_CONNTRACK_IPV6
CONFIG_NF_CONNTRACK_IRC
CONFIG_NF_CONNTRACK_SECMARK
CONFIG_NF_CONNTRACK_SIP
CONFIG_NF_CT_NETLINK
CONFIG_NF_DEFRAG_IPV4
CONFIG_NF_DEFRAG_IPV6
CONFIG_NFS
CONFIG_NFSV2
CONFIG_NFSV3
CONFIG_NFSV4
CONFIG_NLATTR
CONFIG_NLS
CONFIG_NLS_ASCII
CONFIG_NLS_CODEPAGE_437
CONFIG_NLS_ISO8859_1
CONFIG_NLS_UTF8
CONFIG_NUMA
CONFIG_NVMEM_CORE
CONFIG_OID_REGISTRY
CONFIG_OSF_PARTITION
CONFIG_PACKET
CONFIG_PAGE_TABLE_ISOLATION
CONFIG_PARTITION_ADVANCED
CONFIG_PATA_AMD
CONFIG_PATA_OLDPIIX
CONFIG_PATA_SCH
CONFIG_PCC
CONFIG_PCCARD
CONFIG_PCCARD_NONSTATIC
CONFIG_PCI
CONFIG_PCI_ATS
CONFIG_PCI_DIRECT
CONFIG_PCIEAER
CONFIG_PCIEASPM
CONFIG_PCIE_PME
CONFIG_PCIEPORTBUS
CONFIG_PCIEPORTDRV
CONFIG_PCI_LABEL
CONFIG_PCI_MMCONFIG
CONFIG_PCI_MSI
CONFIG_PCI_QUIRKS
CONFIG_PCMCIA
CONFIG_PCMCIA_CORE
CONFIG_PCSPKR_PLATFORM
CONFIG_PERF_EVENTS
CONFIG_PID_NS
CONFIG_PM
CONFIG_PMC_ATOM
CONFIG_PM_DEBUG
CONFIG_PM_SLEEP
CONFIG_PM_SLEEP_DEBUG
CONFIG_PM_TRACE_RTC
CONFIG_PNP
CONFIG_POSIX_MQUEUE
CONFIG_POSIX_MQUEUE_SYSCTL
CONFIG_POWER_SUPPLY
CONFIG_PPS_CORE
CONFIG_PREEMPT_RCU
CONFIG_PRINTK
CONFIG_PROC
CONFIG_PROCESSOR
CONFIG_PROC_EVENTS
CONFIG_PROC_FS
CONFIG_PROC_KCORE
CONFIG_PROC_PAGE_MONITOR
CONFIG_PROC_SYSCTL
CONFIG_PROC_VMCORE
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_PTP
CONFIG_QFMT_V2
CONFIG_QUEUED_RWLOCKS
CONFIG_QUEUED_SPINLOCKS
CONFIG_QUOTA
CONFIG_QUOTACTL
CONFIG_QUOTA_NETLINK_INTERFACE
CONFIG_R8169
CONFIG_RANDOMIZE_BASE
CONFIG_RANDOMIZE_MEMORY
CONFIG_RAS
CONFIG_RC80211_MINSTREL
CONFIG_RC80211_MINSTREL_HT
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_REGMAP
CONFIG_RELAY
CONFIG_RELOCATABLE
CONFIG_RFKILL
CONFIG_RFKILL_INPUT
CONFIG_RING_BUFFER
CONFIG_RSA_GENERIC
CONFIG_RTC_CLASS
CONFIG_RTC_DRV_CMOS
CONFIG_RTC_LIB
CONFIG_RTC_MC146818_LIB
CONFIG_RT_MUTEXES
CONFIG_RWSEM_XCHGADD_ALGORITHM
CONFIG_SATA_AHCI
CONFIG_SBITMAP
CONFIG_SCHEDSTATS
CONFIG_SCSI
CONFIG_SCSI_MOD
CONFIG_SCSI_PROC_FS
CONFIG_SCSI_SPI_ATTRS
CONFIG_SECCOMP
CONFIG_SECURITY
CONFIG_SELINUX
CONFIG_SERIAL_8250
CONFIG_SERIAL_8250_EXAR
CONFIG_SERIAL_8250_LPSS
CONFIG_SERIAL_8250_MID
CONFIG_SERIAL_8250_PCI
CONFIG_SERIAL_8250_PNP
CONFIG_SERIAL_CORE
CONFIG_SERIAL_EARLYCON
CONFIG_SERIO
CONFIG_SERIO_I8042
CONFIG_SERIO_LIBPS2
CONFIG_SERIO_SERPORT
CONFIG_SGI_PARTITION
CONFIG_SG_POOL
CONFIG_SIGNALFD
CONFIG_SKY2
CONFIG_SLUB
CONFIG_SMP
CONFIG_SND
CONFIG_SOUND
CONFIG_SPARSEMEM
CONFIG_SPARSEMEM_VMEMMAP
CONFIG_SPARSEMEM_VMEMMAP_ENABLE
CONFIG_STACKTRACE_SUPPORT
CONFIG_SUN_PARTITION
CONFIG_SUNRPC
CONFIG_SUSPEND
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_SYSTEM_TRUSTED_KEYRING
CONFIG_SYSVIPC
CONFIG_SYSVIPC_SYSCTL
CONFIG_TASK_DELAY_ACCT
CONFIG_TASKSTATS
CONFIG_TCP_CONG_CUBIC
CONFIG_THERMAL
CONFIG_THERMAL_GOV_STEP_WISE
CONFIG_THERMAL_GOV_USER_SPACE
CONFIG_THERMAL_SYS
CONFIG_TICK_ONESHOT
CONFIG_TIGON3
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRACEPOINTS
CONFIG_TRACING
CONFIG_TRACING_SUPPORT
CONFIG_TREE_RCU
CONFIG_TREE_SRCU
CONFIG_TTY
CONFIG_UNIX
CONFIG_UNIX98_PTYS
CONFIG_UNWINDER_ORC
CONFIG_UPROBE_EVENTS
CONFIG_UPROBES
CONFIG_USB
CONFIG_USB_ARCH_HAS_HCD
CONFIG_USBCORE
CONFIG_USB_EHCI_HCD
CONFIG_USB_EHCI_PCI
CONFIG_USB_HID
CONFIG_USBHID
CONFIG_USBMON
CONFIG_USB_OHCI_HCD
CONFIG_USB_OHCI_HCD_PCI
CONFIG_USB_PCI
CONFIG_USB_PRINTER
CONFIG_USB_SUPPORT
CONFIG_USB_UHCI_HCD
CONFIG_UTS_NS
CONFIG_VFAT
CONFIG_VGA_ARB
CONFIG_VGA_CONSOLE
CONFIG_VT
CONFIG_WIRELESS
CONFIG_X86
CONFIG_X86_16BIT
CONFIG_X86_64
CONFIG_X86_ACPI_CPUFREQ
CONFIG_X86_CHECK_BIOS_CORRUPTION
CONFIG_X86_CPUID
CONFIG_X86_ESPFIX64
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS
CONFIG_X86_INTEL_PSTATE
CONFIG_X86_IO_APIC
CONFIG_X86_LOCAL_APIC
CONFIG_X86_MCE
CONFIG_X86_MCE_AMD
CONFIG_X86_MCE_INTEL
CONFIG_X86_MPPARSE
CONFIG_X86_MSR
CONFIG_X86_PAT
CONFIG_X86_PLATFORM_DEVICES
CONFIG_X86_PM_TIMER
CONFIG_X86_THERMAL_VECTOR
CONFIG_X86_TSC
CONFIG_X86_VSYSCALL_EMULATION
CONFIG_XFRM
CONFIG_XFRM_USER
CONFIG_YENTA
