CONFIG_64BIT
CONFIG_8250
CONFIG_8250_BASE
CONFIG_ADVISE_SYSCALLS
CONFIG_AIO
CONFIG_AMD_MEM_ENCRYPT
CONFIG_AMD_NB
CONFIG_ANON_INODES
CONFIG_ARCH_DISCARD_MEMBLOCK
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG
CONFIG_ARCH_ENABLE_MEMORY_HOTREMOVE
CONFIG_ARCH_HAS_SET_MEMORY
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX
CONFIG_ARCH_HIBERNATION_POSSIBLE
CONFIG_ARCH_PROC_KCORE_TEXT
CONFIG_ARCH_RANDOM
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH
CONFIG_ASN1
CONFIG_ASSOCIATIVE_ARRAY
CONFIG_ASYMMETRIC_KEY_TYPE
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE
CONFIG_ATALK
CONFIG_AUDIT
CONFIG_AUDITSYSCALL
CONFIG_AUDIT_TREE
CONFIG_AUDIT_WATCH
CONFIG_BINFMT_ELF
CONFIG_BINFMT_MISC
CONFIG_BINFMT_SCRIPT
CONFIG_BLK_CGROUP
CONFIG_BLK_DEBUG_FS
CONFIG_BLK_DEV
CONFIG_BLK_DEV_BSG
CONFIG_BLK_DEV_INITRD
CONFIG_BLK_DEV_INTEGRITY
CONFIG_BLK_DEV_LOOP
CONFIG_BLK_DEV_THROTTLING
CONFIG_BLK_MQ_VIRTIO
CONFIG_BLK_SCSI_REQUEST
CONFIG_BLK_WBT
CONFIG_BLOCK
CONFIG_BOUNCE
CONFIG_BPF
CONFIG_BPF_JIT
CONFIG_BPF_JIT_ALWAYS_ON
CONFIG_BPF_SYSCALL
CONFIG_BQL
CONFIG_BRIDGE
CONFIG_BRIDGE_IGMP_SNOOPING
CONFIG_BR_NETFILTER
CONFIG_BSD_PROCESS_ACCT
CONFIG_BUG
CONFIG_CFQ_GROUP_IOSCHED
CONFIG_CGROUP_CPUACCT
CONFIG_CGROUP_DEVICE
CONFIG_CGROUP_FREEZER
CONFIG_CGROUP_HUGETLB
CONFIG_CGROUP_NET_CLASSID
CONFIG_CGROUP_NET_PRIO
CONFIG_CGROUP_PERF
CONFIG_CGROUP_PIDS
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CGROUP_WRITEBACK
CONFIG_CLEANCACHE
CONFIG_CLKBLD_I8253
CONFIG_CLKEVT_I8253
CONFIG_CLOCKSOURCE_VALIDATE_LAST_CYCLE
CONFIG_CLOCKSOURCE_WATCHDOG
CONFIG_CN
CONFIG_COMMON_CLK
CONFIG_COMPACTION
CONFIG_COMPAT
CONFIG_CONNECTOR
CONFIG_CONSOLE_TRANSLATIONS
CONFIG_CORE
CONFIG_CPU_FREQ
CONFIG_CPU_FREQ_GOV_PERFORMANCE
CONFIG_CPU_IDLE
CONFIG_CPU_IDLE_GOV_LADDER
CONFIG_CPU_IDLE_GOV_MENU
CONFIG_CPUSETS
CONFIG_CPU_SUP_AMD
CONFIG_CPU_SUP_INTEL
CONFIG_CRASH_CORE
CONFIG_CRC32
CONFIG_CRYPTO
CONFIG_CRYPTO_ACOMPRESS
CONFIG_CRYPTO_AES
CONFIG_CRYPTO_AES_TI
CONFIG_CRYPTO_AKCIPHER2
CONFIG_CRYPTO_ALGAPI
CONFIG_CRYPTO_BLKCIPHER
CONFIG_CRYPTO_CBC
CONFIG_CRYPTO_CRC32C
CONFIG_CRYPTO_CRCT10DIF
CONFIG_CRYPTO_CTR
CONFIG_CRYPTO_CTS
CONFIG_CRYPTO_DRBG
CONFIG_CRYPTO_DRBG_MENU
CONFIG_CRYPTO_ECB
CONFIG_CRYPTO_HASH
CONFIG_CRYPTO_HMAC
CONFIG_CRYPTO_KPP2
CONFIG_CRYPTO_LZO
CONFIG_CRYPTO_MD5
CONFIG_CRYPTOMGR
CONFIG_CRYPTO_NULL2
CONFIG_CRYPTO_RNG2
CONFIG_CRYPTO_SEQIV
CONFIG_CRYPTO_SHA1
CONFIG_CRYPTO_SHA256
CONFIG_CRYPTO_SHA512
CONFIG_CRYPTO_WORKQUEUE
CONFIG_CRYPTO_XTS
CONFIG_DCACHE_WORD_ACCESS
CONFIG_DCB
CONFIG_DEBUG_BUGVERBOSE
CONFIG_DEBUG_FS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_LIST
CONFIG_DEBUG_SPINLOCK
CONFIG_DEBUG_STACKOVERFLOW
CONFIG_DEVTMPFS
CONFIG_DH_GENERIC
CONFIG_DMA_SHARED_BUFFER
CONFIG_DMI
CONFIG_DMIID
CONFIG_DNOTIFY
CONFIG_DQL
CONFIG_DYNAMIC_DEBUG
CONFIG_ECDH_GENERIC
CONFIG_EPOLL
CONFIG_EXT4
CONFIG_EXT4_ENCRYPTION
CONFIG_EXT4_FS
CONFIG_EXT4_FS_ENCRYPTION
CONFIG_EXT4_FS_POSIX_ACL
CONFIG_EXT4_FS_SECURITY
CONFIG_EXTRA
CONFIG_FAIR_GROUP_SCHED
CONFIG_FANOTIFY
CONFIG_FANOTIFY_ACCESS_PERMISSIONS
CONFIG_FIB_RULES
CONFIG_FILE_LOCKING
CONFIG_FIRMWARE_MEMMAP
CONFIG_FREEZER
CONFIG_FRONTSWAP
CONFIG_FSCRYPTO
CONFIG_FS_MBCACHE
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_FUTEX
CONFIG_FW_LOADER
CONFIG_GENERIC_CALIBRATE_DELAY
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST
CONFIG_GENERIC_CPU_AUTOPROBE
CONFIG_GENERIC_CPU_VULNERABILITIES
CONFIG_GENERIC_EARLY_IOREMAP
CONFIG_GENERIC_IOMAP
CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK
CONFIG_GENERIC_IRQ_MIGRATION
CONFIG_GENERIC_ISA_DMA
CONFIG_GENERIC_PCI_IOMAP
CONFIG_GENERIC_PENDING_IRQ
CONFIG_GENERIC_SMP_IDLE_THREAD
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_GENERIC_STRNLEN_USER
CONFIG_GRO_CELLS
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAVE_ARCH_AUDITSYSCALL
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES
CONFIG_HAVE_ARCH_HUGE_VMAP
CONFIG_HAVE_ARCH_JUMP_LABEL
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE
CONFIG_HAVE_ARCH_VMAP_STACK
CONFIG_HAVE_CMPXCHG_LOCAL
CONFIG_HAVE_DEBUG_STACKOVERFLOW
CONFIG_HAVE_EBPF_JIT
CONFIG_HAVE_HW_BREAKPOINT
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK
CONFIG_HAVE_KPROBES
CONFIG_HAVE_MEMBLOCK
CONFIG_HAVE_MEMBLOCK_NODE_MAP
CONFIG_HAVE_NMI
CONFIG_HAVE_OPTPROBES
CONFIG_HAVE_PCSPKR_PLATFORM
CONFIG_HAVE_PERF_EVENTS
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK
CONFIG_HIBERNATION
CONFIG_HID
CONFIG_HIDRAW
CONFIG_HIGH_RES_TIMERS
CONFIG_HOTPLUG_CPU
CONFIG_HOTPLUG_SMT
CONFIG_HPET_TIMER
CONFIG_HUGETLBFS
CONFIG_HUGETLB_PAGE
CONFIG_HVC_DRIVER
CONFIG_HW_CONSOLE
CONFIG_HYPERVISOR_GUEST
CONFIG_IA32_EMULATION
CONFIG_INET
CONFIG_INIT
CONFIG_INOTIFY_USER
CONFIG_INPUT
CONFIG_INTEGRITY
CONFIG_INTEL_IDLE
CONFIG_INTEL_TURBO_MAX_3
CONFIG_IOSCHED_CFQ
CONFIG_IOSCHED_NOOP
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IPC_NS
CONFIG_IP_MROUTE
CONFIG_IP_MROUTE_MULTIPLE_TABLES
CONFIG_IP_MULTICAST
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_NF_FILTER
CONFIG_IP_NF_IPTABLES
CONFIG_IP_NF_MANGLE
CONFIG_IP_NF_NAT
CONFIG_IP_NF_TARGET_MASQUERADE
CONFIG_IP_NF_TARGET_REJECT
CONFIG_IP_NF_TARGET_SYNPROXY
CONFIG_IP_PIMSM_V2
CONFIG_IP_PNP
CONFIG_IP_ROUTE_MULTIPATH
CONFIG_IPV6
CONFIG_IPV6_MROUTE
CONFIG_IPV6_MROUTE_MULTIPLE_TABLES
CONFIG_IPV6_MULTIPLE_TABLES
CONFIG_IPV6_PIMSM_V2
CONFIG_IPV6_SEG6_HMAC
CONFIG_IPV6_SEG6_LWTUNNEL
CONFIG_IPV6_SUBTREES
CONFIG_IPX
CONFIG_IRQ_DOMAIN
CONFIG_IRQ_DOMAIN_HIERARCHY
CONFIG_IRQ_POLL
CONFIG_IRQ_WORK
CONFIG_ISA_DMA_API
CONFIG_ISCSI_TCP
CONFIG_JBD2
CONFIG_JBD2_DEBUG
CONFIG_JITTERENTROPY_RNG
CONFIG_JUMP_LABEL
CONFIG_KALLSYMS
CONFIG_KERNFS
CONFIG_KEXEC_CORE
CONFIG_KEYS
CONFIG_KPROBES
CONFIG_KSM
CONFIG_KVM_GUEST
CONFIG_LEGACY_PTYS
CONFIG_LIB
CONFIG_LIBCRC32C
CONFIG_LIBS
CONFIG_LLC
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOCK_SPIN_ON_OWNER
CONFIG_LSM_MMAP_MIN_ADDR
CONFIG_LWTUNNEL
CONFIG_LWTUNNEL_BPF
CONFIG_MAGIC_SYSRQ
CONFIG_MANDATORY_FILE_LOCKING
CONFIG_MEMCG
CONFIG_MEMORY_HOTPLUG
CONFIG_MEMORY_HOTPLUG_SPARSE
CONFIG_MEMORY_HOTREMOVE
CONFIG_MIGRATION
CONFIG_MISC_FILESYSTEMS
CONFIG_MMU
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_MODULES
CONFIG_MOUNTS
CONFIG_MTRR
CONFIG_MTRR_SANITIZER
CONFIG_MULTIUSER
CONFIG_MUTEX_SPIN_ON_OWNER
CONFIG_NAMESPACES
CONFIG_NEED_MULTIPLE_NODES
CONFIG_NET
CONFIG_NET_CLS
CONFIG_NET_CLS_ACT
CONFIG_NET_CORE
CONFIG_NETDEVICES
CONFIG_NETFILTER
CONFIG_NETFILTER_ADVANCED
CONFIG_NETFILTER_INGRESS
CONFIG_NETFILTER_SYNPROXY
CONFIG_NETFILTER_XTABLES
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE
CONFIG_NETFILTER_XT_MATCH_CONNTRACK
CONFIG_NETFILTER_XT_NAT
CONFIG_NETFILTER_XT_TARGET_NETMAP
CONFIG_NETFILTER_XT_TARGET_REDIRECT
CONFIG_NETLABEL
CONFIG_NET_NS
CONFIG_NET_PTP_CLASSIFY
CONFIG_NET_SCHED
CONFIG_NF_CONNTRACK
CONFIG_NF_CONNTRACK_EVENTS
CONFIG_NF_CONNTRACK_IPV4
CONFIG_NF_CONNTRACK_PROCFS
CONFIG_NF_CONNTRACK_TIMEOUT
CONFIG_NF_CONNTRACK_TIMESTAMP
CONFIG_NF_CT_PROTO_DCCP
CONFIG_NF_CT_PROTO_SCTP
CONFIG_NF_DEFRAG_IPV4
CONFIG_NF_LOG_ARP
CONFIG_NF_LOG_COMMON
CONFIG_NF_LOG_IPV4
CONFIG_NF_NAT
CONFIG_NF_NAT_IPV4
CONFIG_NF_NAT_MASQUERADE_IPV4
CONFIG_NLATTR
CONFIG_NO_HZ_COMMON
CONFIG_NUMA
CONFIG_NUMA_BALANCING
CONFIG_OID_REGISTRY
CONFIG_OPTPROBES
CONFIG_PACKET
CONFIG_PAGE_COUNTER
CONFIG_PAGE_TABLE_ISOLATION
CONFIG_PARAVIRT
CONFIG_PCI_DIRECT
CONFIG_PCI_DOMAINS
CONFIG_PCI_LABEL
CONFIG_PCI_MMCONFIG
CONFIG_PCI_QUIRKS
CONFIG_PCSPKR_PLATFORM
CONFIG_PERCPU_STATS
CONFIG_PERF_EVENTS
CONFIG_PHYS_ADDR_T_64BIT
CONFIG_PID_NS
CONFIG_PM
CONFIG_PMC_ATOM
CONFIG_PM_SLEEP
CONFIG_PM_SLEEP_SMP
CONFIG_POSIX_MQUEUE
CONFIG_POSIX_MQUEUE_SYSCTL
CONFIG_POSIX_TIMERS
CONFIG_POWER_SUPPLY
CONFIG_PREEMPT_RCU
CONFIG_PRINTK
CONFIG_PRINTK_NMI
CONFIG_PRINTK_TIME
CONFIG_PROC
CONFIG_PROC_EVENTS
CONFIG_PROC_FS
CONFIG_PROC_KCORE
CONFIG_PROC_PAGE_MONITOR
CONFIG_PROC_SYSCTL
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_QUEUED_RWLOCKS
CONFIG_QUEUED_SPINLOCKS
CONFIG_QUOTA
CONFIG_QUOTACTL
CONFIG_QUOTA_NETLINK_INTERFACE
CONFIG_RADIX_TREE_MULTIORDER
CONFIG_RAS
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_RELAY
CONFIG_RETPOLINE
CONFIG_RPS
CONFIG_RSA_GENERIC
CONFIG_RT_GROUP_SCHED
CONFIG_RT_MUTEXES
CONFIG_RWSEM_SPIN_ON_OWNER
CONFIG_RWSEM_XCHGADD_ALGORITHM
CONFIG_SBITMAP
CONFIG_SCHED_AUTOGROUP
CONFIG_SCHED_HRTICK
CONFIG_SCHED_INFO
CONFIG_SCHED_MC
CONFIG_SCHED_MC_PRIO
CONFIG_SCHED_SMT
CONFIG_SCSI
CONFIG_SCSI_ISCSI_ATTRS
CONFIG_SCSI_LOWLEVEL
CONFIG_SCSI_MOD
CONFIG_SCSI_PROC_FS
CONFIG_SECCOMP
CONFIG_SECURITY
CONFIG_SECURITYFS
CONFIG_SECURITY_NETWORK
CONFIG_SECURITY_SELINUX
CONFIG_SELINUX
CONFIG_SERIAL_8250
CONFIG_SERIAL_8250_CONSOLE
CONFIG_SERIAL_CORE
CONFIG_SERIAL_DEV_BUS
CONFIG_SERIAL_DEV_CTRL_TTYPORT
CONFIG_SERIAL_EARLYCON
CONFIG_SG_POOL
CONFIG_SHMEM
CONFIG_SIGNALFD
CONFIG_SLAB_FREELIST_HARDENED
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SLUB_DEBUG
CONFIG_SMP
CONFIG_SPARSEMEM
CONFIG_SPARSEMEM_ALLOC_MEM_MAP_TOGETHER
CONFIG_SPARSEMEM_EXTREME
CONFIG_SPARSEMEM_VMEMMAP
CONFIG_SPARSEMEM_VMEMMAP_ENABLE
CONFIG_SQUASHFS
CONFIG_SRCU
CONFIG_STACKTRACE_SUPPORT
CONFIG_STP
CONFIG_STREAM_PARSER
CONFIG_STRICT_KERNEL_RWX
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_SYSTEM_BLACKLIST_KEYRING
CONFIG_SYSTEM_TRUSTED_KEYRING
CONFIG_SYSVIPC
CONFIG_SYSVIPC_SYSCTL
CONFIG_TASK_DELAY_ACCT
CONFIG_TASKSTATS
CONFIG_TASK_XACCT
CONFIG_TCP_CONG_CUBIC
CONFIG_THERMAL
CONFIG_THERMAL_GOV_FAIR_SHARE
CONFIG_THERMAL_GOV_STEP_WISE
CONFIG_THERMAL_GOV_USER_SPACE
CONFIG_THERMAL_SYS
CONFIG_THREAD_INFO_IN_TASK
CONFIG_TICK_ONESHOT
CONFIG_TMPFS
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRANSPARENT_HUGEPAGE
CONFIG_TRANSPARENT_HUGE_PAGECACHE
CONFIG_TREE_RCU
CONFIG_TREE_SRCU
CONFIG_TTY
CONFIG_TUN
CONFIG_UEVENT_HELPER
CONFIG_UNIX
CONFIG_UNIX98_PTYS
CONFIG_UNWINDER_FRAME_POINTER
CONFIG_USERFAULTFD
CONFIG_USER_NS
CONFIG_UTS_NS
CONFIG_VETH
CONFIG_VGA_ARB
CONFIG_VGA_CONSOLE
CONFIG_VIRTIO
CONFIG_VIRTIO_BLK
CONFIG_VIRTIO_CONSOLE
CONFIG_VIRTIO_MENU
CONFIG_VIRTIO_MMIO
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES
CONFIG_VIRTIO_NET
CONFIG_VMAP_STACK
CONFIG_VM_EVENT_COUNTERS
CONFIG_VMW_VSOCK_VIRTIO_TRANSPORT
CONFIG_VT
CONFIG_VT_CONSOLE
CONFIG_X86
CONFIG_X86_16BIT
CONFIG_X86_64
CONFIG_X86_CHECK_BIOS_CORRUPTION
CONFIG_X86_CPUID
CONFIG_X86_ESPFIX64
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS
CONFIG_X86_INTEL_PSTATE
CONFIG_X86_IO_APIC
CONFIG_X86_LOCAL_APIC
CONFIG_X86_MPPARSE
CONFIG_X86_MSR
CONFIG_X86_PAT
CONFIG_X86_PLATFORM_DEVICES
CONFIG_X86_SMAP
CONFIG_X86_TSC
CONFIG_X86_VSYSCALL_EMULATION
CONFIG_X86_X2APIC
CONFIG_XFRM
CONFIG_XFRM_STATISTICS
CONFIG_XFRM_USER
CONFIG_ZONE_DMA
CONFIG_ZPOOL
CONFIG_ZSWAP

