CONFIG_64BIT
CONFIG_8250
CONFIG_8250_BASE
CONFIG_842_COMPRESS
CONFIG_842_DECOMPRESS
CONFIG_A11Y_BRAILLE_CONSOLE
CONFIG_ACCESSIBILITY
CONFIG_ACPI
CONFIG_ACPI_AC
CONFIG_ACPI_ADXL
CONFIG_ACPI_APEI
CONFIG_ACPI_APEI_GHES
CONFIG_ACPI_BATTERY
CONFIG_ACPI_BGRT
CONFIG_ACPI_BUTTON
CONFIG_ACPI_CONTAINER
CONFIG_ACPI_CPPC_LIB
CONFIG_ACPI_CPU_FREQ_PSS
CONFIG_ACPI_DOCK
CONFIG_ACPI_FAN
CONFIG_ACPI_HED
CONFIG_ACPI_HOTPLUG_IOAPIC
CONFIG_ACPI_HOTPLUG_MEMORY
CONFIG_ACPI_LPIT
CONFIG_ACPI_NUMA
CONFIG_ACPI_PCI_SLOT
CONFIG_ACPI_PROCESSOR
CONFIG_ACPI_PROCESSOR_IDLE
CONFIG_ACPI_SLEEP
CONFIG_ACPI_SPCR_TABLE
CONFIG_ACPI_SYSTEM_POWER_STATES_SUPPORT
CONFIG_ACPI_TABLE_UPGRADE
CONFIG_ACPI_THERMAL
CONFIG_ACPI_WATCHDOG
CONFIG_ADVISE_SYSCALLS
CONFIG_AGP
CONFIG_AGP_AMD64
CONFIG_AGPGART
CONFIG_AGP_INTEL
CONFIG_AGP_SIS
CONFIG_AGP_VIA
CONFIG_AIO
CONFIG_ALLOW_DEV_COREDUMP
CONFIG_AMD_IOMMU
CONFIG_AMD_MEM_ENCRYPT
CONFIG_AMD_NB
CONFIG_AMD_NUMA
CONFIG_AMIGA_PARTITION
CONFIG_ANON_INODES
CONFIG_APEI
CONFIG_APPLE_PROPERTIES
CONFIG_ARCH_DISCARD_MEMBLOCK
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG
CONFIG_ARCH_ENABLE_MEMORY_HOTREMOVE
CONFIG_ARCH_HAS_ACPI_TABLE_UPGRADE
CONFIG_ARCH_HAS_STRICT_KERNEL_RWX
CONFIG_ARCH_HAS_STRICT_MODULE_RWX
CONFIG_ARCH_HAVE_NMI_SAFE_CMPXCHG
CONFIG_ARCH_HIBERNATION_POSSIBLE
CONFIG_ARCH_MIGHT_HAVE_ACPI_PDC
CONFIG_ARCH_MIGHT_HAVE_PC_SERIO
CONFIG_ARCH_PROC_KCORE_TEXT
CONFIG_ARCH_RANDOM
CONFIG_ARCH_SUPPORTS_ACPI
CONFIG_ARCH_SUPPORTS_ATOMIC_RMW
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE
CONFIG_ARCH_SUPPORTS_NUMA_BALANCING
CONFIG_ARCH_SUPPORTS_UPROBES
CONFIG_ARCH_SUSPEND_POSSIBLE
CONFIG_ARCH_WANT_BATCHED_UNMAP_TLB_FLUSH
CONFIG_ASN1
CONFIG_ASSOCIATIVE_ARRAY
CONFIG_ASYMMETRIC_KEY_TYPE
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE
CONFIG_ATA
CONFIG_ATA_ACPI
CONFIG_ATA_BMDMA
CONFIG_ATA_PIIX
CONFIG_ATA_SFF
CONFIG_ATOMIC64_SELFTEST
CONFIG_AUDIT
CONFIG_AUDITSYSCALL
CONFIG_BACKLIGHT_CLASS_DEVICE
CONFIG_BACKLIGHT_LCD_SUPPORT
CONFIG_BFQ
CONFIG_BFQ_GROUP_IOSCHED
CONFIG_BIG_KEYS
CONFIG_BINFMT_ELF
CONFIG_BINFMT_SCRIPT
CONFIG_BLK_CGROUP
CONFIG_BLK_CGROUP_IOLATENCY
CONFIG_BLK_DEBUG_FS
CONFIG_BLK_DEV
CONFIG_BLK_DEV_BSG
CONFIG_BLK_DEV_DM
CONFIG_BLK_DEV_INITRD
CONFIG_BLK_DEV_INTEGRITY
CONFIG_BLK_DEV_IO_TRACE
CONFIG_BLK_DEV_MD
CONFIG_BLK_DEV_SD
CONFIG_BLK_DEV_SR
CONFIG_BLK_DEV_THROTTLING
CONFIG_BLK_DEV_ZONED
CONFIG_BLK_PM
CONFIG_BLK_SCSI_REQUEST
CONFIG_BLK_WBT
CONFIG_BLOCK
CONFIG_BOOT_PRINTK_DELAY
CONFIG_BOUNCE
CONFIG_BPF
CONFIG_BPF_EVENTS
CONFIG_BPF_JIT
CONFIG_BPF_SYSCALL
CONFIG_BQL
CONFIG_BSD_PROCESS_ACCT
CONFIG_BTREE
CONFIG_BUG
CONFIG_BXT_WC_PMIC_OPREGION
CONFIG_CDROM
CONFIG_CFS_BANDWIDTH
CONFIG_CGROUP_BPF
CONFIG_CGROUP_CPUACCT
CONFIG_CGROUP_DEVICE
CONFIG_CGROUP_FREEZER
CONFIG_CGROUP_HUGETLB
CONFIG_CGROUP_NET_CLASSID
CONFIG_CGROUP_NET_PRIO
CONFIG_CGROUP_PERF
CONFIG_CGROUP_PIDS
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CGROUP_WRITEBACK
CONFIG_CHECKPOINT_RESTORE
CONFIG_CHR_DEV_SG
CONFIG_CHT_DC_TI_PMIC_OPREGION
CONFIG_CHT_WC_PMIC_OPREGION
CONFIG_CLEANCACHE
CONFIG_CLOCKSOURCE_VALIDATE_LAST_CYCLE
CONFIG_CLOCKSOURCE_WATCHDOG
CONFIG_CMA
CONFIG_CN
CONFIG_COMMON_CLK
CONFIG_COMPACTION
CONFIG_COMPAT
CONFIG_CONNECTOR
CONFIG_CONSOLE_TRANSLATIONS
CONFIG_CORE
CONFIG_CPU_FREQ
CONFIG_CPU_FREQ_GOV_CONSERVATIVE
CONFIG_CPU_FREQ_GOV_ONDEMAND
CONFIG_CPU_FREQ_GOV_PERFORMANCE
CONFIG_CPU_FREQ_GOV_POWERSAVE
CONFIG_CPU_FREQ_GOV_SCHEDUTIL
CONFIG_CPU_FREQ_GOV_USERSPACE
CONFIG_CPU_IDLE
CONFIG_CPU_IDLE_GOV_MENU
CONFIG_CPU_ISOLATION
CONFIG_CPUSETS
CONFIG_CPU_SUP_AMD
CONFIG_CPU_SUP_INTEL
CONFIG_CRASH_CORE
CONFIG_CRASH_DUMP
CONFIG_CRC32
CONFIG_CRC_PMIC_OPREGION
CONFIG_CRYPTO
CONFIG_CRYPTO_842
CONFIG_CRYPTO_ACOMPRESS
CONFIG_CRYPTO_AEAD2
CONFIG_CRYPTO_AES
CONFIG_CRYPTO_AKCIPHER2
CONFIG_CRYPTO_ALGAPI
CONFIG_CRYPTO_BLKCIPHER
CONFIG_CRYPTO_CBC
CONFIG_CRYPTO_CRC32C
CONFIG_CRYPTO_CRCT10DIF
CONFIG_CRYPTO_CRYPTD
CONFIG_CRYPTO_CTR
CONFIG_CRYPTO_CTS
CONFIG_CRYPTO_DEFLATE
CONFIG_CRYPTO_DRBG
CONFIG_CRYPTO_DRBG_CTR
CONFIG_CRYPTO_DRBG_HASH
CONFIG_CRYPTO_DRBG_HMAC
CONFIG_CRYPTO_DRBG_MENU
CONFIG_CRYPTO_ECB
CONFIG_CRYPTO_FIPS
CONFIG_CRYPTO_GCM
CONFIG_CRYPTO_GF128MUL
CONFIG_CRYPTO_GHASH
CONFIG_CRYPTO_HASH
CONFIG_CRYPTO_HMAC
CONFIG_CRYPTO_KPP2
CONFIG_CRYPTO_LRW
CONFIG_CRYPTO_LZO
CONFIG_CRYPTO_MD5
CONFIG_CRYPTOMGR
CONFIG_CRYPTO_NULL2
CONFIG_CRYPTO_RNG2
CONFIG_CRYPTO_SEQIV
CONFIG_CRYPTO_SHA1
CONFIG_CRYPTO_SHA256
CONFIG_CRYPTO_STATS
CONFIG_CRYPTO_USER_API
CONFIG_CRYPTO_USER_API_AEAD
CONFIG_CRYPTO_USER_API_HASH
CONFIG_CRYPTO_USER_API_RNG
CONFIG_CRYPTO_USER_API_SKCIPHER
CONFIG_CRYPTO_WORKQUEUE
CONFIG_CRYPTO_XTS
CONFIG_DAX
CONFIG_DCACHE_WORD_ACCESS
CONFIG_DCB
CONFIG_DEBUG_BOOT_PARAMS
CONFIG_DEBUG_BUGVERBOSE
CONFIG_DEBUG_DEVRES
CONFIG_DEBUG_FS
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_LIST
CONFIG_DEBUG_RODATA_TEST
CONFIG_DEBUG_SHIRQ
CONFIG_DEBUG_SPINLOCK
CONFIG_DEBUG_STACKOVERFLOW
CONFIG_DEBUG_VM
CONFIG_DEV_COREDUMP
CONFIG_DEVTMPFS
CONFIG_DH_GENERIC
CONFIG_DMA_DECLARE_COHERENT
CONFIG_DMADEVICES
CONFIG_DMA_ENGINE
CONFIG_DMAR_TABLE
CONFIG_DMA_SHARED_BUFFER
CONFIG_DM_BUFIO
CONFIG_DMI
CONFIG_DMIID
CONFIG_DMI_SYSFS
CONFIG_DM_MIRROR
CONFIG_DM_ZERO
CONFIG_DNOTIFY
CONFIG_DQL
CONFIG_DRM
CONFIG_DRM_MIPI_DSI
CONFIG_DYNAMIC_DEBUG
CONFIG_DYNAMIC_EVENTS
CONFIG_DYNAMIC_FTRACE
CONFIG_E1000
CONFIG_EARLY_PRINTK
CONFIG_EARLY_PRINTK_DBGP
CONFIG_EARLY_PRINTK_USB_XDBC
CONFIG_EDAC_CORE
CONFIG_EFI
CONFIG_EFI_ESRT
CONFIG_EFI_PARTITION
CONFIG_EFI_SIGNATURE_LIST_PARSER
CONFIG_EFI_STUB
CONFIG_EPOLL
CONFIG_ETHERNET
CONFIG_EVENT_TRACING
CONFIG_EXT4
CONFIG_EXT4_FS
CONFIG_EXT4_FS_POSIX_ACL
CONFIG_EXT4_FS_SECURITY
CONFIG_EXTRA
CONFIG_FAIR_GROUP_SCHED
CONFIG_FANOTIFY
CONFIG_FB
CONFIG_FB_EFI
CONFIG_FB_NOTIFY
CONFIG_FB_VESA
CONFIG_FIB_RULES
CONFIG_FILE_LOCKING
CONFIG_FIRMWARE_MEMMAP
CONFIG_FIXED_PHY
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER
CONFIG_FREEZER
CONFIG_FRONTSWAP
CONFIG_FSCRYPTO
CONFIG_FS_DAX
CONFIG_FS_ENCRYPTION
CONFIG_FS_MBCACHE
CONFIG_FSNOTIFY
CONFIG_FS_POSIX_ACL
CONFIG_FTRACE
CONFIG_FTRACE_SYSCALLS
CONFIG_FUNCTION_ERROR_INJECTION
CONFIG_FUNCTION_GRAPH_TRACER
CONFIG_FUNCTION_TRACER
CONFIG_FUTEX
CONFIG_GENERIC_ALLOCATOR
CONFIG_GENERIC_BUG
CONFIG_GENERIC_CALIBRATE_DELAY
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST
CONFIG_GENERIC_CPU_AUTOPROBE
CONFIG_GENERIC_CPU_VULNERABILITIES
CONFIG_GENERIC_EARLY_IOREMAP
CONFIG_GENERIC_IOMAP
CONFIG_GENERIC_IRQ_MATRIX_ALLOCATOR
CONFIG_GENERIC_IRQ_MIGRATION
CONFIG_GENERIC_ISA_DMA
CONFIG_GENERIC_MSI_IRQ
CONFIG_GENERIC_MSI_IRQ_DOMAIN
CONFIG_GENERIC_PCI_IOMAP
CONFIG_GENERIC_PENDING_IRQ
CONFIG_GENERIC_PHY
CONFIG_GENERIC_SMP_IDLE_THREAD
CONFIG_GENERIC_STRNCPY_FROM_USER
CONFIG_GENERIC_STRNLEN_USER
CONFIG_GLOB
CONFIG_GPIO_ACPI
CONFIG_GPIO_CRYSTAL_COVE
CONFIG_GPIOLIB
CONFIG_GPIO_TPS68470
CONFIG_GPIO_WHISKEY_COVE
CONFIG_GRO_CELLS
CONFIG_HARDENED_USERCOPY
CONFIG_HARDLOCKUP_CHECK_TIMESTAMP
CONFIG_HARDLOCKUP_DETECTOR_PERF
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAS_IOPORT_MAP
CONFIG_HAVE_ACPI_APEI
CONFIG_HAVE_ARCH_AUDITSYSCALL
CONFIG_HAVE_ARCH_COMPAT_MMAP_BASES
CONFIG_HAVE_ARCH_HUGE_VMAP
CONFIG_HAVE_ARCH_JUMP_LABEL
CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE
CONFIG_HAVE_ARCH_KGDB
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE
CONFIG_HAVE_ARCH_VMAP_STACK
CONFIG_HAVE_CMPXCHG_LOCAL
CONFIG_HAVE_CONTEXT_TRACKING
CONFIG_HAVE_DEBUG_STACKOVERFLOW
CONFIG_HAVE_DYNAMIC_FTRACE
CONFIG_HAVE_EFFICIENT_UNALIGNED_ACCESS
CONFIG_HAVE_FUNCTION_ERROR_INJECTION
CONFIG_HAVE_FUNCTION_GRAPH_TRACER
CONFIG_HAVE_FUNCTION_TRACER
CONFIG_HAVE_HARDENED_USERCOPY_ALLOCATOR
CONFIG_HAVE_HW_BREAKPOINT
CONFIG_HAVE_INTEL_TXT
CONFIG_HAVE_IRQ_EXIT_ON_IRQ_STACK
CONFIG_HAVE_IRQ_TIME_ACCOUNTING
CONFIG_HAVE_KPROBES
CONFIG_HAVE_MEMBLOCK
CONFIG_HAVE_MEMBLOCK_NODE_MAP
CONFIG_HAVE_MMIOTRACE_SUPPORT
CONFIG_HAVE_NMI
CONFIG_HAVE_OPTPROBES
CONFIG_HAVE_PCSPKR_PLATFORM
CONFIG_HAVE_PERF_EVENTS
CONFIG_HAVE_REGS_AND_STACK_ACCESS_API
CONFIG_HAVE_RSEQ
CONFIG_HAVE_SCHED_AVG_IRQ
CONFIG_HAVE_SYSCALL_TRACEPOINTS
CONFIG_HAVE_UNSTABLE_SCHED_CLOCK
CONFIG_HAVE_VIRT_CPU_ACCOUNTING_GEN
CONFIG_HIBERNATION
CONFIG_HID
CONFIG_HID_GENERIC
CONFIG_HID_MAGICMOUSE
CONFIG_HID_NTRIG
CONFIG_HIDRAW
CONFIG_HIGH_RES_TIMERS
CONFIG_HIST_TRIGGERS
CONFIG_HMM
CONFIG_HOTPLUG_CPU
CONFIG_HOTPLUG_SMT
CONFIG_HPET
CONFIG_HPET_EMULATE_RTC
CONFIG_HPET_TIMER
CONFIG_HUGETLBFS
CONFIG_HUGETLB_PAGE
CONFIG_HVC_DRIVER
CONFIG_HVC_XEN
CONFIG_HW_CONSOLE
CONFIG_HWLAT_TRACER
CONFIG_HWMON
CONFIG_HW_RANDOM
CONFIG_HW_RANDOM_VIRTIO
CONFIG_HYPERV_IOMMU
CONFIG_HYPERVISOR_GUEST
CONFIG_I2C
CONFIG_I2C_COMPAT
CONFIG_IA32_EMULATION
CONFIG_IMA
CONFIG_INET
CONFIG_INIT
CONFIG_INOTIFY_USER
CONFIG_INPUT
CONFIG_INPUT_EVDEV
CONFIG_INPUT_KEYBOARD
CONFIG_INPUT_LEDS
CONFIG_INPUT_MOUSE
CONFIG_INPUT_MOUSEDEV
CONFIG_INTEGRITY
CONFIG_INTEGRITY_ASYMMETRIC_KEYS
CONFIG_INTEGRITY_AUDIT
CONFIG_INTEGRITY_PLATFORM_KEYRING
CONFIG_INTEGRITY_SIGNATURE
CONFIG_INTEL_GTT
CONFIG_INTEL_IDLE
CONFIG_INTEL_IOMMU
CONFIG_INTEL_PMC_CORE
CONFIG_INTEL_PMC_IPC
CONFIG_INTEL_SMARTCONNECT
CONFIG_INTEL_SOC_PMIC
CONFIG_INTEL_SOC_PMIC_BXTWC
CONFIG_INTEL_SOC_PMIC_CHTDC_TI
CONFIG_INTEL_SOC_PMIC_CHTWC
CONFIG_INTEL_TURBO_MAX_3
CONFIG_INTEL_TXT
CONFIG_IOMMU_API
CONFIG_IOMMU_SUPPORT
CONFIG_IOSCHED_BFQ
CONFIG_IOSF_MBI
CONFIG_IO_URING
CONFIG_IP_ADVANCED_ROUTER
CONFIG_IPC_NS
CONFIG_IP_FIB_TRIE_STATS
CONFIG_IPMI_DMI_DECODE
CONFIG_IP_MROUTE
CONFIG_IP_MROUTE_COMMON
CONFIG_IP_MROUTE_MULTIPLE_TABLES
CONFIG_IP_MULTICAST
CONFIG_IP_MULTIPLE_TABLES
CONFIG_IP_PIMSM_V2
CONFIG_IP_ROUTE_CLASSID
CONFIG_IP_ROUTE_MULTIPATH
CONFIG_IPV6
CONFIG_IPV6_MIP6
CONFIG_IPV6_MROUTE
CONFIG_IPV6_MROUTE_MULTIPLE_TABLES
CONFIG_IPV6_MULTIPLE_TABLES
CONFIG_IPV6_NDISC_NODETYPE
CONFIG_IPV6_OPTIMISTIC_DAD
CONFIG_IPV6_PIMSM_V2
CONFIG_IPV6_ROUTE_INFO
CONFIG_IPV6_ROUTER_PREF
CONFIG_IPV6_SEG6_HMAC
CONFIG_IPV6_SEG6_LWTUNNEL
CONFIG_IPV6_SUBTREES
CONFIG_IRQ_DOMAIN
CONFIG_IRQ_DOMAIN_HIERARCHY
CONFIG_IRQ_POLL
CONFIG_IRQ_REMAP
CONFIG_IRQ_TIME_ACCOUNTING
CONFIG_IRQ_WORK
CONFIG_ISA_DMA_API
CONFIG_ISCSI_IBFT_FIND
CONFIG_JITTERENTROPY_RNG
CONFIG_JUMP_LABEL
CONFIG_KALLSYMS
CONFIG_KALLSYMS_ALL
CONFIG_KARMA_PARTITION
CONFIG_KERNFS
CONFIG_KEXEC
CONFIG_KEXEC_CORE
CONFIG_KEYBOARD_ATKBD
CONFIG_KEYS
CONFIG_KGDB
CONFIG_KGDB_SERIAL_CONSOLE
CONFIG_KGDB_TESTS
CONFIG_KPROBE_EVENTS
CONFIG_KPROBES
CONFIG_KSM
CONFIG_KVM_GUEST
CONFIG_LATENCYTOP
CONFIG_LDM_PARTITION
CONFIG_LEDS_CLASS
CONFIG_LEDS_TRIGGER_DISK
CONFIG_LEDS_TRIGGER_MTD
CONFIG_LEDS_TRIGGER_PANIC
CONFIG_LEDS_TRIGGERS
CONFIG_LEGACY_PTYS
CONFIG_LIB
CONFIG_LIBATA
CONFIG_LIBFTRACE
CONFIG_LIBPHY
CONFIG_LIBS
CONFIG_LOAD_UEFI_KEYS
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOCK_SPIN_ON_OWNER
CONFIG_LOCKUP_DETECTOR
CONFIG_LOGO
CONFIG_LWTUNNEL
CONFIG_LWTUNNEL_BPF
CONFIG_MAC_EMUMOUSEBTN
CONFIG_MACINTOSH_DRIVERS
CONFIG_MAC_PARTITION
CONFIG_MAGIC_SYSRQ
CONFIG_MAILBOX
CONFIG_MD
CONFIG_MEMCG
CONFIG_MEMCG_KMEM
CONFIG_MEMORY_FAILURE
CONFIG_MEMORY_HOTPLUG
CONFIG_MEMORY_HOTPLUG_SPARSE
CONFIG_MEMORY_HOTREMOVE
CONFIG_MEMORY_ISOLATION
CONFIG_MFD_AXP20X_I2C
CONFIG_MFD_TPS68470
CONFIG_MICROCODE
CONFIG_MICROCODE_INTEL
CONFIG_MIGRATION
CONFIG_MMIOTRACE
CONFIG_MMU
CONFIG_MMU_NOTIFIER
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_MODULES
CONFIG_MODULE_SIG
CONFIG_MODULES_TREE_LOOKUP
CONFIG_MODULE_UNLOAD
CONFIG_MOUNTS
CONFIG_MOUSE_PS2
CONFIG_MOUSE_PS2_ALPS
CONFIG_MOUSE_PS2_CYPRESS
CONFIG_MOUSE_PS2_ELANTECH
CONFIG_MOUSE_PS2_LIFEBOOK
CONFIG_MOUSE_PS2_LOGIPS2PP
CONFIG_MOUSE_PS2_SENTELIC
CONFIG_MOUSE_PS2_SMBUS
CONFIG_MOUSE_PS2_TRACKPOINT
CONFIG_MOUSE_PS2_VMMOUSE
CONFIG_MQ_IOSCHED_DEADLINE
CONFIG_MQ_IOSCHED_KYBER
CONFIG_MSDOS_PARTITION
CONFIG_MTD
CONFIG_MTRR
CONFIG_MTRR_SANITIZER
CONFIG_MULTIUSER
CONFIG_MUTEX_SPIN_ON_OWNER
CONFIG_NAMESPACES
CONFIG_NEED_MULTIPLE_NODES
CONFIG_NET
CONFIG_NET_CLS
CONFIG_NET_CLS_ACT
CONFIG_NET_CLS_CGROUP
CONFIG_NET_CORE
CONFIG_NETDEVICES
CONFIG_NET_DEVLINK
CONFIG_NET_DROP_MONITOR
CONFIG_NETFILTER
CONFIG_NETFILTER_INGRESS
CONFIG_NETFILTER_XTABLES
CONFIG_NET_L3_MASTER_DEV
CONFIG_NETLABEL
CONFIG_NET_NS
CONFIG_NETPOLL
CONFIG_NET_PTP_CLASSIFY
CONFIG_NET_SCHED
CONFIG_NET_SCH_FQ_CODEL
CONFIG_NET_SOCK_MSG
CONFIG_NET_VENDOR_INTEL
CONFIG_NETWORK_PHY_TIMESTAMPING
CONFIG_NEW_LEDS
CONFIG_NLATTR
CONFIG_NLS
CONFIG_NLS_ASCII
CONFIG_NLS_CODEPAGE_437
CONFIG_NODES_SPAN_OTHER_NODES
CONFIG_NO_HZ_COMMON
CONFIG_NO_HZ_FULL
CONFIG_NUMA
CONFIG_NUMA_BALANCING
CONFIG_NVMEM_CORE
CONFIG_NVRAM
CONFIG_OID_REGISTRY
CONFIG_OPTPROBES
CONFIG_OSF_PARTITION
CONFIG_PACKET
CONFIG_PADATA
CONFIG_PAGE_COUNTER
CONFIG_PAGE_TABLE_ISOLATION
CONFIG_PARAVIRT
CONFIG_PARAVIRT_XXL
CONFIG_PARTITION_ADVANCED
CONFIG_PCC
CONFIG_PCCARD
CONFIG_PCCARD_NONSTATIC
CONFIG_PCI
CONFIG_PCI_ATS
CONFIG_PCI_DIRECT
CONFIG_PCI_DOMAINS
CONFIG_PCIEAER
CONFIG_PCIEASPM
CONFIG_PCIE_DPC
CONFIG_PCIE_PME
CONFIG_PCIEPORTBUS
CONFIG_PCIEPORTDRV
CONFIG_PCIE_PTM
CONFIG_PCI_IOV
CONFIG_PCI_LABEL
CONFIG_PCI_MMCONFIG
CONFIG_PCI_MSI
CONFIG_PCI_MSI_IRQ_DOMAIN
CONFIG_PCI_QUIRKS
CONFIG_PCI_STUB
CONFIG_PCI_XEN
CONFIG_PCMCIA
CONFIG_PCMCIA_CORE
CONFIG_PCSPKR_PLATFORM
CONFIG_PERF_EVENTS
CONFIG_PHYLIB
CONFIG_PHYS_ADDR_T_64BIT
CONFIG_PID_NS
CONFIG_PINCTRL
CONFIG_PINCTRL_BAYTRAIL
CONFIG_PINCTRL_CHERRYVIEW
CONFIG_PM
CONFIG_PMC_ATOM
CONFIG_PM_DEBUG
CONFIG_PM_DEVFREQ
CONFIG_PM_GENERIC_DOMAINS
CONFIG_PMIC_OPREGION
CONFIG_PM_SLEEP
CONFIG_PM_SLEEP_DEBUG
CONFIG_PM_SLEEP_SMP
CONFIG_PM_TEST_SUSPEND
CONFIG_PM_TRACE_RTC
CONFIG_PNP
CONFIG_POSIX_MQUEUE
CONFIG_POSIX_MQUEUE_SYSCTL
CONFIG_POSIX_TIMERS
CONFIG_POWERCAP
CONFIG_POWER_SUPPLY
CONFIG_PPS_CORE
CONFIG_PREEMPT_RCU
CONFIG_PRINTK
CONFIG_PRINTK_NMI
CONFIG_PROC
CONFIG_PROCESSOR
CONFIG_PROC_EVENTS
CONFIG_PROC_FS
CONFIG_PROC_KCORE
CONFIG_PROC_PAGE_MONITOR
CONFIG_PROC_SYSCTL
CONFIG_PROC_VMCORE
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_PROVIDE_OHCI1394_DMA_INIT
CONFIG_PSI
CONFIG_PTP
CONFIG_PWM
CONFIG_PWM_CRC
CONFIG_PWM_SYSFS
CONFIG_QFMT_V2
CONFIG_QUEUED_RWLOCKS
CONFIG_QUEUED_SPINLOCKS
CONFIG_QUOTA
CONFIG_QUOTACTL
CONFIG_QUOTA_NETLINK_INTERFACE
CONFIG_RANDOMIZE_BASE
CONFIG_RANDOMIZE_MEMORY
CONFIG_RAS
CONFIG_RAS_CEC
CONFIG_RAW_DRIVER
CONFIG_RCU_NEED_SEGCBLIST
CONFIG_RCU_NOCB_CPU
CONFIG_REALTEK_PHY
CONFIG_REGMAP
CONFIG_REGULATOR
CONFIG_RELAY
CONFIG_RELOCATABLE
CONFIG_RETPOLINE
CONFIG_RING_BUFFER
CONFIG_RPS
CONFIG_RSA_GENERIC
CONFIG_RSEQ
CONFIG_RTC_CLASS
CONFIG_RTC_DRV_CMOS
CONFIG_RTC_HCTOSYS
CONFIG_RTC_LIB
CONFIG_RTC_MC146818_LIB
CONFIG_RT_MUTEXES
CONFIG_RUNTIME_TESTING_MENU
CONFIG_RWSEM_XCHGADD_ALGORITHM
CONFIG_SATA_AHCI
CONFIG_SATA_PMP
CONFIG_SBITMAP
CONFIG_SCHED_AUTOGROUP
CONFIG_SCHED_DEBUG
CONFIG_SCHED_HRTICK
CONFIG_SCHED_INFO
CONFIG_SCHED_MC
CONFIG_SCHED_MC_PRIO
CONFIG_SCHED_SMT
CONFIG_SCHEDSTATS
CONFIG_SCHED_TRACER
CONFIG_SCSI
CONFIG_SCSI_DH
CONFIG_SCSI_LOGGING
CONFIG_SCSI_MOD
CONFIG_SCSI_NETLINK
CONFIG_SCSI_PROC_FS
CONFIG_SECCOMP
CONFIG_SECONDARY_TRUSTED_KEYRING
CONFIG_SECURITY
CONFIG_SECURITYFS
CONFIG_SECURITY_NETWORK
CONFIG_SECURITY_NETWORK_XFRM
CONFIG_SELINUX
CONFIG_SERIAL_8250
CONFIG_SERIAL_8250_CONSOLE
CONFIG_SERIAL_8250_DW
CONFIG_SERIAL_8250_EXTENDED
CONFIG_SERIAL_8250_MID
CONFIG_SERIAL_8250_PCI
CONFIG_SERIAL_8250_PNP
CONFIG_SERIAL_8250_RSA
CONFIG_SERIAL_CORE
CONFIG_SERIAL_CORE_CONSOLE
CONFIG_SERIAL_DEV_BUS
CONFIG_SERIAL_DEV_CTRL_TTYPORT
CONFIG_SERIAL_EARLYCON
CONFIG_SERIO
CONFIG_SERIO_I8042
CONFIG_SERIO_LIBPS2
CONFIG_SERIO_SERPORT
CONFIG_SFI
CONFIG_SGI_PARTITION
CONFIG_SG_POOL
CONFIG_SHMEM
CONFIG_SIGNALFD
CONFIG_SIGNATURE
CONFIG_SLAB_FREELIST_HARDENED
CONFIG_SLAB_FREELIST_RANDOM
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SLUB_DEBUG
CONFIG_SMP
CONFIG_SPARSEMEM
CONFIG_SPARSEMEM_EXTREME
CONFIG_SPARSEMEM_VMEMMAP
CONFIG_SPARSEMEM_VMEMMAP_ENABLE
CONFIG_SPI
CONFIG_SPI_MASTER
CONFIG_SRCU
CONFIG_STACK_TRACER
CONFIG_STACKTRACE_SUPPORT
CONFIG_STREAM_PARSER
CONFIG_STRICT_KERNEL_RWX
CONFIG_STRICT_MODULE_RWX
CONFIG_SUN_PARTITION
CONFIG_SUSPEND
CONFIG_SWAP
CONFIG_SWIOTLB
CONFIG_SWIOTLB_XEN
CONFIG_SYSCTL
CONFIG_SYSFS
CONFIG_SYS_HYPERVISOR
CONFIG_SYSTEM_BLACKLIST_KEYRING
CONFIG_SYSTEM_DATA_VERIFICATION
CONFIG_SYSTEM_TRUSTED_KEYRING
CONFIG_SYSVIPC
CONFIG_SYSVIPC_SYSCTL
CONFIG_TASK_DELAY_ACCT
CONFIG_TASKS_RCU
CONFIG_TASKSTATS
CONFIG_TASK_XACCT
CONFIG_TCG_CRB
CONFIG_TCG_TIS
CONFIG_TCG_TPM
CONFIG_TCP_CONG_CUBIC
CONFIG_TEST_KSTRTOX
CONFIG_THERMAL
CONFIG_THERMAL_GOV_BANG_BANG
CONFIG_THERMAL_GOV_FAIR_SHARE
CONFIG_THERMAL_GOV_STEP_WISE
CONFIG_THERMAL_GOV_USER_SPACE
CONFIG_THERMAL_STATISTICS
CONFIG_THERMAL_SYS
CONFIG_THREAD_INFO_IN_TASK
CONFIG_TICK_ONESHOT
CONFIG_TIMERFD
CONFIG_TMPFS
CONFIG_TOUCHSCREEN_DMI
CONFIG_TPM
CONFIG_TRACE_CLOCK
CONFIG_TRACE_EVAL_MAP_FILE
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRACEPOINTS
CONFIG_TRACER_MAX_TRACE
CONFIG_TRACER_SNAPSHOT
CONFIG_TRACING
CONFIG_TRACING_SUPPORT
CONFIG_TRANSPARENT_HUGEPAGE
CONFIG_TRANSPARENT_HUGE_PAGECACHE
CONFIG_TREE_RCU
CONFIG_TREE_SRCU
CONFIG_TTY
CONFIG_UDMABUF
CONFIG_UNIX
CONFIG_UNIX98_PTYS
CONFIG_UNUSED_SYMBOLS
CONFIG_UNWINDER_ORC
CONFIG_UPROBE_EVENTS
CONFIG_UPROBES
CONFIG_USB
CONFIG_USB_ARCH_HAS_HCD
CONFIG_USBCORE
CONFIG_USB_EHCI_HCD
CONFIG_USB_EHCI_PCI
CONFIG_USB_HID
CONFIG_USBHID
CONFIG_USBMON
CONFIG_USB_OHCI_HCD
CONFIG_USB_OHCI_HCD_PCI
CONFIG_USB_PCI
CONFIG_USBSERIAL
CONFIG_USB_SUPPORT
CONFIG_USB_UHCI_HCD
CONFIG_USB_XHCI_HCD
CONFIG_USB_XHCI_PCI
CONFIG_USERFAULTFD
CONFIG_USER_NS
CONFIG_UTS_NS
CONFIG_VALIDATE_FS_PARSER
CONFIG_VGA_ARB
CONFIG_VGACON_SOFT_SCROLLBACK
CONFIG_VGA_CONSOLE
CONFIG_VIRT_CPU_ACCOUNTING_GEN
CONFIG_VIRTIO
CONFIG_VIRTIO_MENU
CONFIG_VIRTIO_PCI
CONFIG_VMAP_STACK
CONFIG_VM_EVENT_COUNTERS
CONFIG_VT
CONFIG_VT_CONSOLE
CONFIG_WATCHDOG
CONFIG_WEXT_CORE
CONFIG_WEXT_PROC
CONFIG_WIRELESS
CONFIG_X86
CONFIG_X86_16BIT
CONFIG_X86_32
CONFIG_X86_64
CONFIG_X86_64_ACPI_NUMA
CONFIG_X86_AMD_PLATFORM_DEVICE
CONFIG_X86_CHECK_BIOS_CORRUPTION
CONFIG_X86_CPA_STATISTICS
CONFIG_X86_CPUID
CONFIG_X86_CPU_RESCTRL
CONFIG_X86_ESPFIX64
CONFIG_X86_EXTENDED_PLATFORM
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS
CONFIG_X86_INTEL_MPX
CONFIG_X86_INTEL_PSTATE
CONFIG_X86_IO_APIC
CONFIG_X86_LOCAL_APIC
CONFIG_X86_MCE
CONFIG_X86_MCE_AMD
CONFIG_X86_MCE_INTEL
CONFIG_X86_MCELOG_LEGACY
CONFIG_X86_MPPARSE
CONFIG_X86_MSR
CONFIG_X86_NUMACHIP
CONFIG_X86_PAT
CONFIG_X86_PLATFORM_DEVICES
CONFIG_X86_PMEM_LEGACY_DEVICE
CONFIG_X86_PM_TIMER
CONFIG_X86_PTDUMP_CORE
CONFIG_X86_SMAP
CONFIG_X86_THERMAL_VECTOR
CONFIG_X86_TSC
CONFIG_X86_UV
CONFIG_X86_VSYSCALL_EMULATION
CONFIG_X86_X2APIC
CONFIG_XARRAY_MULTI
CONFIG_XDP_SOCKETS
CONFIG_XEN
CONFIG_XEN_BACKEND
CONFIG_XEN_DEBUG_FS
CONFIG_XEN_DOM0
CONFIG_XEN_FBDEV_FRONTEND
CONFIG_XEN_PV
CONFIG_XEN_PVH
CONFIG_XEN_PVHVM
CONFIG_XEN_SYS_HYPERVISOR
CONFIG_XEN_XENBUS_FRONTEND
CONFIG_XFRM
CONFIG_XFRM_OFFLOAD
CONFIG_XFRM_STATISTICS
CONFIG_XFRM_USER
CONFIG_XPOWER_PMIC_OPREGION
CONFIG_XPS
CONFIG_XXHASH
CONFIG_YAMA
CONFIG_Z3FOLD
CONFIG_ZBUD
CONFIG_ZONE_DMA
CONFIG_ZONE_DMA32
CONFIG_ZPOOL
CONFIG_ZSMALLOC
CONFIG_ZSWAP
