CONFIG_64BIT
CONFIG_AUFS_BRANCH_MAX_127
CONFIG_B43_BUSES_BCMA_AND_SSB
CONFIG_B43LEGACY_DMA_AND_PIO_MODE
CONFIG_BRANCH_PROFILE_NONE
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE
CONFIG_CRC32_SLICEBY8
CONFIG_DEFAULT_CFQ
CONFIG_DEFAULT_CUBIC
CONFIG_DEFAULT_SECURITY_APPARMOR
CONFIG_FB_CARMINE_DRAM_EVAL
CONFIG_FB_MB862XX_PCI_GDC
CONFIG_GENERIC_CPU
CONFIG_HZ_250
CONFIG_IMA_DEFAULT_HASH_SHA1
CONFIG_IMA_NG_TEMPLATE
CONFIG_IO_DELAY_0XED
CONFIG_JFFS2_CMODE_FAVOURLZO
CONFIG_KERNEL_GZIP
CONFIG_LEGACY_VSYSCALL_EMULATE
CONFIG_MAC80211_RC_DEFAULT_MINSTREL
CONFIG_MODULE_SIG_SHA512
CONFIG_NO_HZ_IDLE
CONFIG_PCIEASPM_DEFAULT
CONFIG_PREEMPT_VOLUNTARY
CONFIG_PSTORE_DEFLATE_COMPRESS_DEFAULT
CONFIG_ROMFS_BACKED_BY_BLOCK
CONFIG_RTC_DRV_DS1685
CONFIG_SCTP_DEFAULT_COOKIE_HMAC_SHA1
CONFIG_SLUB
CONFIG_SPARSEMEM_MANUAL
CONFIG_SQUASHFS_DECOMP_SINGLE
CONFIG_SQUASHFS_FILE_DIRECT
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE
CONFIG_TICK_CPU_ACCOUNTING
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE
CONFIG_UNWINDER_FRAME_POINTER
CONFIG_USB_DWC2_HOST
CONFIG_USB_DWC3_DUAL_ROLE
CONFIG_USB_G_DBGP_SERIAL
CONFIG_USB_ISP1760_DUAL_ROLE
CONFIG_USB_MUSB_DUAL_ROLE
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP
CONFIG_WIZNET_BUS_ANY
