CONFIG_64BIT
CONFIG_8250
CONFIG_8250_BASE
CONFIG_ARCH_SUPPORTS_MEMORY_FAILURE
CONFIG_ATA
CONFIG_ATA_BMDMA
CONFIG_ATA_SFF
CONFIG_BINFMT_ELF
CONFIG_BLK_CGROUP
CONFIG_BLK_DEV_INTEGRITY
CONFIG_BLK_DEV_SD
CONFIG_BLOCK
CONFIG_BSD_PROCESS_ACCT
CONFIG_CFQ_GROUP_IOSCHED
CONFIG_CGROUPS
CONFIG_CGROUP_SCHED
CONFIG_CGROUP_WRITEBACK
CONFIG_CLOCKSOURCE_WATCHDOG
CONFIG_CORE
CONFIG_CPU_FREQ
CONFIG_CPU_IDLE
CONFIG_CRC32
CONFIG_DEBUG_KERNEL
CONFIG_DEBUG_SPINLOCK
CONFIG_E1000
CONFIG_ETHERNET
CONFIG_EXT4
CONFIG_FAIR_GROUP_SCHED
CONFIG_FREEZER
CONFIG_FUTEX
CONFIG_GENERIC_CLOCKEVENTS
CONFIG_HARDENED_USERCOPY
CONFIG_HAS_DMA
CONFIG_HAS_IOMEM
CONFIG_HAVE_ARCH_TRANSPARENT_HUGEPAGE
CONFIG_HAVE_HARDENED_USERCOPY_ALLOCATOR
CONFIG_HAVE_PERF_EVENTS
CONFIG_HIGH_RES_TIMERS
CONFIG_HYPERVISOR_GUEST
CONFIG_IOSCHED_CFQ
CONFIG_IRQ_WORK
CONFIG_LIB
CONFIG_LIBATA
CONFIG_LIBS
CONFIG_LOCK_DEBUGGING_SUPPORT
CONFIG_LOCKDEP_SUPPORT
CONFIG_LOCKUP_DETECTOR
CONFIG_MEMCG
CONFIG_MEMORY_FAILURE
CONFIG_MMU
CONFIG_MULTIUSER
CONFIG_NAMESPACES
CONFIG_NET
CONFIG_NETDEVICES
CONFIG_NET_VENDOR_INTEL
CONFIG_NO_HZ_COMMON
CONFIG_NUMA
CONFIG_PARAVIRT
CONFIG_PCI
CONFIG_PERF_EVENTS
CONFIG_PM
CONFIG_PREEMPT_RCU
CONFIG_PROC_FS
CONFIG_PROFILING
CONFIG_PROVE_LOCKING
CONFIG_RADIX_TREE_MULTIORDER
CONFIG_RETPOLINE
CONFIG_SCHED_DEBUG
CONFIG_SCHED_STACK_END_CHECK
CONFIG_SCSI
CONFIG_SERIAL_CORE
CONFIG_SLUB
CONFIG_SLUB_CPU_PARTIAL
CONFIG_SMP
CONFIG_STACKTRACE_SUPPORT
CONFIG_SWIOTLB
CONFIG_TASK_DELAY_ACCT
CONFIG_TASKSTATS
CONFIG_TICK_ONESHOT
CONFIG_TRACE_IRQFLAGS_SUPPORT
CONFIG_TRANSPARENT_HUGEPAGE
CONFIG_TREE_RCU
CONFIG_TTY
CONFIG_USERFAULTFD
CONFIG_USER_NS
CONFIG_X86_64
CONFIG_X86_LOCAL_APIC
CONFIG_X86_SMAP
CONFIG_X86_TSC
CONFIG_XFRM
CONFIG_XFRM_OFFLOAD
